[2022-08-24 12:24] Alkarex commented on #3974
Please try https://github.com/FreshRSS/FreshRSS/pull/4532

[2022-08-24 13:46] anayrat commented on #302
I am afraid users won't think about index creation. They should be created by default.

[2022-08-24 17:30] squromiv commented on #3975
1.20.0-dev
Have tested with another app [CCProxy](https://www.youngzsoft.net/ccproxy/). It fails.
Does anyone know a  proxy definitely working with FreshRSS? It looks like a fake feature this day.

[2022-08-24 17:41] printfuck commented on #3975
Hi there. I am using the 1.20-dev with sockd/danted socks5 proxy and it works flawlessly. I think it might be related to http proxies.

[2022-08-24 18:50] Alkarex commented on #3975
@squromiv Please try with a `curl` command first.
FreshRSS is using cURL.

[2022-08-24 19:23] printfuck commented on #3975
I remember that there actually have been issues with fetching feeds via proxy, when @squromiv initially opened this issue. At this time I had used the the docker :latest image and switched back to the most recent release. Later I went back to :latest and now :edge, as I found out, that it worked again.

I've just setup a tinyproxy http proxy server and tested it with freshrss:edge (which is 1.20.0

[2022-08-24 19:52] Alkarex commented on #302
The problem is that indexes also have drawbacks. In particular, from what I can see, it more or less doubles the size of the database on disk.

[2022-08-24 22:39] aledeg commented on #302
Maybe it can be an option in the installation process. Maybe we can have options to add/remove them from the interface.

[2022-08-25 01:49] posita commented on #4256
Thanks all! I have not yet had a chance to test it, but I'll revisit and reopen if I can reproduce it after the upgrade.

[2022-08-25 03:17] aledeg commented on #3974
That was quick :)

[2022-08-25 06:57] anayrat commented on #302
Yes, the size of trigram indexes is the downside of this method :/
I keep thinking using real full text search is more meaningful.

[2022-08-25 07:06] squromiv opened #4534 "[BUG] SQLite warning after upgrading to v. 1.20.0-dev"
**Describe the bug**
I have upgraded FreshRSS from 1.19 to 1.20.0-dev and there are such warnings in logs of every user now.
![screen_2022 08 25](https://user-images.githubusercontent.com/15985877/186596581-07d9e06f-336f-4c6d-9576-1cbc875a1bf8.jpg)
**Environment information:**
- FreshRSS version: [e.g. 1.20.0-dev]
- Installation type: Open Server
- Database version: SQLite
- PHP version: [7.4]
- A

[2022-08-25 07:42] Alkarex commented on #4534
Hello,
That looks just fine. It indicates new columns automatically added. It should only occur once per user though, so a sign of problem is first if they are repeated

[2022-08-25 08:22] squromiv commented on #4534
I deleted log files, restarted server and tried to update test feeds. And I there are such records in logs.

User1
![screen_2022 08 25 001_2](https://user-images.githubusercontent.com/15985877/186613935-04023d46-9a35-4d22-8c69-271fd74465d7.jpg)

User2
![screen_2022 08 25 001_3](https://user-images.githubusercontent.com/15985877/186615266-c4382d54-de67-4f19-ae09-6a713f8a0634.jpg)

When I return to

[2022-08-25 15:43] Alwaysin opened #4535 "MariaDB case-sensitive regression"
**Describe the bug**
Since https://github.com/FreshRSS/FreshRSS/pull/4505, a 'composed keyword' search - or a single keyword with quotes - makes it case-sensitive, so that searching "toto tutu" would not match "Toto Tutu". It used to be the case before this PR.

If it's on purpose that's fine (I find it logical at least when you have only one word), but is there a switch to indicate we want the se

[2022-08-25 16:28] Alkarex commented on #4534
I have just tested and there does not seem to be any problem with SQLite from 1.19.2 to 1.20.0-dev.
Please make sure your SQLite database is writeable by the Web server after you are done with your update.

[2022-08-25 17:37] Alkarex commented on #4535
With what database are you testing?

[2022-08-25 18:04] Alwaysin commented on #4535
MariaDB 10.6.7

[2022-08-25 18:53] Alkarex commented on #4535
Could you please try https://github.com/FreshRSS/FreshRSS/pull/4537 ?
Also with negations and Unicode characters if possible

[2022-08-25 19:34] Alwaysin commented on #4535
Thank you for the quick fix! It worked for my usecase, and also with negations and unicode.

It felt way slower, confirmed - before #4505:
<img width="476" alt="chrome_2022-08-25_21-22-53" src="https://user-images.githubusercontent.com/7189936/186751265-3077661e-68f9-4181-8d69-1d7e0ee64687.png">

On edge with the fix (maybe another change is involved!):
<img width="482" alt="chrome_2022-08-25_21-2

[2022-08-25 19:34] #4535 closed, assigned to nobody

[2022-08-25 19:49] Alkarex commented on #4535
Hum, all right for the speed, I will try another fix, ~~but not today~~

[2022-08-25 19:52] Alwaysin commented on #4535
If you feel it is important, but as far as I'm concerned this is no big deal. It was more of a FYI.

[2022-08-25 20:02] Alkarex commented on #4535
New patch ready. Please try again

[2022-08-25 20:49] Alwaysin commented on #4535
I don't remember which search I did the test with, but with different ones I can see gains of 100 to 200ms with the new patch compared to the previous one so it definitely is better! Still working with unicode and negation.

[2022-08-25 21:12] Alkarex commented on #4535
Thanks for the tests 🙂

[2022-08-25 23:24] aidistan commented on #4231
I found it still closes the article even if I uncheck the config on the edge version. Does this relate to this issue? Is there a PR draft working on fixing this config?

[2022-08-26 13:44] MarcelVersteeg opened #4540 "[Feature] Automatic update via URL while not allowing anonymous viewing of articles"
In the configuration page in the section Administration > Authentication one can select whether anonymous reading of the default user's articles is allowed and whether anonymous refresh of the articles is allowed. It seems that the latter is not allowed when the first is not set.

I have the situation where I do not want anonymous reading of the articles (one needs to be logged in), which also mea

[2022-08-26 13:48] Frenzie commented on #4540
What do you mean by "It seems that the latter is not allowed when the first is not set."? That there is a discrepancy between the UI and what it actually does?

[2022-08-26 14:15] MarcelVersteeg commented on #4540
What I see is the following:

1. Select only "Allow anonymous refresh of the articles" (leave "Allow anonymous reading of the default user’s articles" unchecked)
2. Click submit
3. A message appears "Configuration has been updated" and the checkmark before "Allow anonymous refresh of the articles" is gone. There is no indication that this option cannot be checked if the "Allow anonymous reading of

[2022-08-26 15:53] Frenzie commented on #4540
Which version is that?

[2022-08-26 16:02] MarcelVersteeg commented on #4540
Version 1.19.2

[2022-08-27 09:15] Alkarex commented on #4540
See https://freshrss.github.io/FreshRSS/en/users/03_Main_view.html#refreshing-feeds#for-form-authentication

[code]

[2022-08-27 10:16] i-iooi-i commented on #4295
When can I add a clean and tidy theme? The current styles look like frame structures with high similarity and some influence on reading.I prefer this theme. More planar, easier to read, no visual interference：https://github.com/levito/tt-rss-feedly-theme

[2022-08-27 11:51] i-iooi-i opened #4542 "How do I close the error message prompt on the home page？"
![image](https://user-images.githubusercontent.com/1827701/187028872-c9e0061b-d05a-4993-9fbf-75e7b0e361eb.png)

How do I turn off such an error message?
Some websites are just unstable and not really ineffective.
Such frequent red reminders are not only unsightly, but also easy to cause anxiety.
If it can be turned off, or even put this function on the settings page as a reminder, it may be better

[2022-08-27 12:51] math-GH opened #4543 "When can I add a clean and tidy theme?"
When can I add a clean and tidy theme? The current styles look like frame structures with high similarity and some influence on reading.I prefer this theme. More planar, easier to read, no visual interference：https://github.com/levito/tt-rss-feedly-theme

_Originally posted by @i-iooi-i in https://github.com/FreshRSS/FreshRSS/issues/4295#issuecomment-1229165164_

[2022-08-27 12:52] math-GH commented on #4295
Let us discuss it in #4543, so we can keep this thread clean for the theme survey.

[2022-08-27 13:02] math-GH commented on #4543
You can create your own theme and copy it to the `/p/themes/nameOfYourTheme`. You can copy a given theme and configure it how you like it. You could also create a theme from the scratch.

See manual: https://freshrss.github.io/FreshRSS/en/developers/04_Frontend/02_Design.html

You are welcome to present your theme here or/and share your source code with us.

[2022-08-27 13:04] i-iooi-i commented on #4543
Thank you for your help. I'm ready to try it. 💕

[2022-08-27 13:07] math-GH commented on #4231
It is still an issue.

[2022-08-27 13:09] aidistan commented on #4231
@math-GH #4541 fix both issues, please refer to its comment

[2022-08-27 13:25] butjer opened #4544 "[BUG] Unknown error for feed [https://www.heise.de/rss/heise-atom.xml]"
I've got the following error only with FreshRSS. All other Reader, Browser or TTRSS have no problems with this Feed:

Unknown error for feed [https://www.heise.de/rss/heise-atom.xml]

- Server: Webhoster Strato
- FreshRSS version: 1.20.0-dev (and older)
- PHP version: 8.0 (and older)

Same error with alternate address: https://www.heise.de/rss/heise.rdf

Sometimes the failure shows the following l

[2022-08-27 16:23] math-GH commented on #4231
Sorry, it was my fault. I had not the newest `edge`. It works fine now.

[2022-08-27 16:23] #4231 closed, assigned to nobody

[2022-08-27 16:24] math-GH opened #4545 "Ansum theme: disabled input/select + headline sizes / Label management: Rename+Delete section when 0 labels"
(about: Ansum theme)

Not really specific to this one but it feels even "odder" with it, is the label page when you don't have any:
<img width="282" alt="chrome_2022-08-25_22-08-42" src="https://user-images.githubusercontent.com/7189936/186758921-70c036ed-35f2-4219-84cf-10ddfb44ccb9.png">
Maybe there should be some logic to not display the "rename" and "delete" parts when there is no label. Also,

[2022-08-27 16:32] math-GH commented on #4545
Thanks for your thoughts. Let us divide it in some topics:

1) Ansum theme: disabled input/select are less/not visible
2) Hide "rename" and "delete" section, when there is no label
3) `h1` and `h2` have the same size
4) "tag" vs "labels"

Have I overseen an idea/comment?

[2022-08-27 16:38] math-GH commented on #4545
My comments:

to 1): oh, nice finding. That needs an fix. Good catch!

to 2): yes, good idea, I think it is worth to improve it.

to 3): I did not wanted to change the style made by the origin author of Ansum theme. But you are right, here we need an improvement.

PRs will come.

[2022-08-27 16:45] math-GH commented on #4545
to 4): I guess that it has some historic reasons within FreshRSS. Right now we have the "labels" feature (individually user's tagging feature) and the "Article tags" feature (tags given by the article, cannot be changed by the user). Both are "tags". I guess that the "label" feature was implemented first and got the internal "tags" name, that you still can see in the URL

[2022-08-27 17:11] Alwaysin commented on #4545
You got everything! Thanks for taking care of this!

[2022-08-27 19:50] math-GH commented on #4544
Do you have the same SSL issue also with other feeds via https?

[2022-08-27 19:51] #4543 closed, assigned to nobody

[2022-08-27 19:56] math-GH commented on #4542
Right now there is no option to hide this warning icon.

If you do not like it, you can tweak it with the extension [CustomCSS](https://github.com/FreshRSS/Extensions/tree/master/xExtension-CustomCSS) and add the wished result via CSS code lines.

[2022-08-27 20:21] i-iooi-i commented on #4542
Hello, can you describe it in detail? Can I close these error icons without using plug-ins? It is hoped that such a function can be provided by default, because such a display mode will cause anxiety.😂😂😂

[2022-08-27 20:26] math-GH commented on #4542
Can you describe what you mean with " a display mode will cause anxiety"?

(Sorry, I forget a very important "no" in my sentence. There is NO option right now to hide it. You need to tweak it with CSS)

[2022-08-27 20:42] Alwaysin opened #4547 "[BUG] Swage and Flat themes : manage icon of extensions is white on white"
Origine:
<img width="158" alt="chrome_2022-08-27_22-40-06" src="https://user-images.githubusercontent.com/7189936/187047308-9a878060-a428-4f48-bd7d-cbd4ac2646d9.png">

Swage:
<img width="153" alt="chrome_2022-08-27_22-41-10" src="https://user-images.githubusercontent.com/7189936/187047312-8e56c6d3-d0e9-48bd-81ad-561bd102e0d6.png">

I haven't checked the other themes.

[2022-08-27 20:52] Alwaysin commented on #4542
@i-iooi-i I am no expert, but with the extension CustomCSS, if you add this rule it works:

[code]

The feed name will still be red, but no warning sign on neither the category nor the feed name.

[2022-08-27 21:11] Alwaysin commented on #4547
I've checked all the themes and it also happens on "Flat design".
All the others are good except maybe for "Dark" where it is a bit hard to spot.

[2022-08-27 21:12] math-GH commented on #4547
Please do not forget to give the FreshRSS version ;)
Is it 1.19.2 or 1.20.0-dev (from edge)?

[2022-08-27 21:35] Alwaysin commented on #4547
Sorry, I'm always on edge!

[2022-08-27 22:06] math-GH commented on #4547
Created a fix for Swage theme (see #4551)

The "Flat" theme needs a clean-up like Swage, Ansum and Mapco that I did in the last weeks. I am not sure if I can improve/fix "Flat" theme till the release [1.20.0](https://github.com/FreshRSS/FreshRSS/discussions/4517). "Flat" theme is not very popular ([see little survey](https://github.com/FreshRSS/FreshRSS/issues/4295)) so it is not on my prio todo l

[2022-08-28 05:14] i-iooi-i commented on #4542
Thank you for your help. It's a success. The page looks much cleaner and tidy. 👍👍👍

[2022-08-28 05:14] #4542 closed, assigned to nobody

[2022-08-28 06:26] i-iooi-i opened #4552 "[BUG] Content subscribed with RSSHub is repeatedly marked unread"
I installed the latest docker version on synology.

For example, I mark some articles as read. After 20 minutes, the content is refreshed automatically, and the articles marked as read appear in the unread list.

Mark as read again, and after 20 minutes, the same content will appear unread again. over and over.

I tried to delete these websites and subscribe to them again. The problem still exists

[2022-08-28 06:38] i-iooi-i commented on #3571
I also encountered the situation that the content was repeatedly marked unread. Has anyone found a solution now?

[2022-08-28 10:11] math-GH commented on #4552
Could you please give us an example RSS feed from RSSHub?

[2022-08-28 10:38] math-GH commented on #3094
Can you please describe your use case step by step?
Which view do you use?
Do you use the mobile view (small screen) or the full view ("desktop" wide screen)?
How do you navigate? (touch, mouse, keyboard)

[2022-08-28 10:58] math-GH commented on #3649
Let me add a online tool to check the security headers: https://securityheaders.com/

[2022-08-28 11:02] math-GH commented on #3646
Documentation is done via #4083

[2022-08-28 11:02] #3646 closed

[2022-08-28 11:18] math-GH commented on #3603
Checked with FreshRSS1.19.2 on demo.freshrss.org via https://reqbin.com/req/c-tmyvmbgu/curl-head-request-example

HEAD request:
![grafik](https://user-images.githubusercontent.com/1645099/187071369-28588841-4065-4c31-a7c7-96c0bd7b2e1e.png)

GET request:
![grafik](https://user-images.githubusercontent.com/1645099/187071382-d6edc560-58c1-4333-be82-4195536a9aa7.png)

Same headers except `Transfer-Enc

[2022-08-28 11:20] math-GH commented on #3597
Have you checked the "Global View", that gives you a full overview of the feeds?

[2022-08-28 11:22] #3573 closed

[2022-08-28 11:46] butjer commented on #4544
No. This is the only feed that is not working in FreshRSS.

For example https://www.zdf.de/rss/zdf/nachrichten is working without problems.

[2022-08-28 11:52] math-GH commented on #4544
heise.de supports 2 RSS feeds:
- https://www.heise.de/rss/heise-atom.xml
- https://www.heise.de/rss/heise.rdf

Could you try `heise-atom.xml` instead of `heise.rdf`?
I use `heise-atom.xml` without any issues.

[2022-08-28 11:56] math-GH commented on #3530
Any updates here @martinrotter @dumprop ? Or could we close this ticket?

[2022-08-28 12:09] math-GH commented on #3527
The bug should be fixed already.

The feature request to have a manual ordering in each category is still open.

Regarding roadmap: We do not have a clear roadmap. It is an open source project where a bunch of international people invest some rare spare time to maintain and develop FreshRSS. Mostly we develop things that we like or need. PRs are open for new cool features developed by everyone.

[2022-08-28 12:12] math-GH commented on #3497
Current situation of a filter on category level: It is not implemented in 1.19. Version 1.20 knocks on the door and is not implemented yet.

[2022-08-28 12:17] math-GH commented on #3486
I guess it is solved by #4065, isn't it?

[2022-08-28 12:19] math-GH commented on #3476
Is it still an actual issue?

[2022-08-28 12:20] math-GH commented on #3475
Is it still an issue?

[2022-08-28 12:21] math-GH commented on #3462
Is it still an issue?

[2022-08-28 12:28] math-GH commented on #3418
@dumprop is it still an issue or already updated in https://github.com/FreshRSS/FreshRSS/blob/edge/README.md ?

[2022-08-28 12:29] butjer commented on #4544
Strange. Both feeds will not work for me.

[2022-08-28 12:30] butjer commented on #4544
How can I found out what could be the problem. Any logs or tests i could try?

[2022-08-28 12:31] math-GH commented on #3417
@fabiosirna
Is it still an issue?
Maybe you could help with your experiences and help to update our apps list on https://github.com/FreshRSS/FreshRSS/blob/edge/README.md

[2022-08-28 12:34] math-GH commented on #4544
Could you try PHP7.4 instead of PHP8?
If it does not solve the issue, could you contact the Strato support? Maybe Strato blocks content of/connections to heise.de.

[2022-08-28 12:36] math-GH commented on #3400
Any news here?

[2022-08-28 12:41] math-GH commented on #3380
@rom-1 Could you please check if you like the current solution in 1.20.0-dev?

[2022-08-28 12:42] math-GH commented on #3309
Can I close this ticket?

[2022-08-28 12:43] #3267 closed

[2022-08-28 12:44] butjer commented on #4544
With PHP7.4 I had the same problem. And TTRSS is working with that feed. So I think Strato could not be the problem.

[2022-08-28 12:44] #3264 closed

[2022-08-28 12:46] math-GH commented on #3260
@MartinWe13 Is it still an issue? Will https://freshrss.github.io/FreshRSS/en/admins/08_FeedUpdates.html help you?

[2022-08-28 12:50] math-GH commented on #3291
Any updates here about liferea?

Maybe @lwindolf could have a look here, who is maintaining the liferea app on https://github.com/lwindolf/liferea

[2022-08-28 12:50] #3242 closed

[2022-08-28 12:56] math-GH opened #4553 "Improve documentation for back-up"
Let's improve the documentation https://freshrss.github.io/FreshRSS/en/admins/04_Updating.html:

Add information which folders are really important to back-up. I would say only `./data/` is crucial. The `./extensions/`  folder is also important to keep the extensions. Optional custom themes in `./i/themes/`, if added. All other folders should be source folders an covered by a default installation.

[2022-08-28 12:57] math-GH commented on #4544
have you tried to add `#force_feed` at the end of the URL?

[2022-08-28 13:11] math-GH commented on #3238
A config icon is available in the user query drop down menu now.

![grafik](https://user-images.githubusercontent.com/1645099/187075691-f9931a7d-9bcc-4cb5-ae38-83b03af58396.png)

@genem2 does it solve your Feature Request?

[2022-08-28 13:26] oupala commented on #3094
I am using the *middle* view of FreshRSS, on a large screen (I think these are the default settings). I mainly navigate using the mouse. The articles from FreshRSS are displayed from the most recent to the older.

When I have read an article, I click on the red enveloppe to discard the article. The next article is now on the top of the list, however the page is still focused lower in the page, esp

[2022-08-28 13:27] math-GH commented on #3230
I guess it is similar to #3885

[2022-08-28 13:31] butjer commented on #4544
yes. same result.

[2022-08-28 13:56] math-GH commented on #3224
@tonitonae could you please support us here with a PR to improve our documentation with your knowledge/experience?

[2022-08-28 13:58] math-GH commented on #3223
How to proceed here? Is the issue solved?

[2022-08-28 13:59] fabiosirna commented on #3417
Hi @math-GH,
I gave up with Vienna, and I'm currently using NetNewsWire on both Mac OS and IOS and works without any issues so far!

After your comment, I downloaded that latest version of Vienna, and still not working. I don't know why, I think it's a Vienna issue.

[2022-08-28 14:06] math-GH commented on #3217
Does it really make sense to send an email? An email is a media discontinuity. Right now FreshRSS has a proper mobile view for small screens.
Maybe a visible warning icon/button would solve the information need, doesn't it?

[2022-08-28 14:08] #3202 closed

[2022-08-28 14:09] math-GH commented on #3199
Any news here?

[2022-08-28 14:11] troyengel commented on #3217
My apologies, I forgot this was open but it's no longer relevant to me - I'll close it out and help clean up the project from stale issues.

[2022-08-28 14:25] math-GH commented on #3160
How is the current state here?

[2022-08-28 14:27] #3152 closed

[2022-08-28 14:28] math-GH commented on #3149
How is the current state here?

[2022-08-28 14:29] math-GH commented on #3145
@hanj0415 Any news regarding this ticket?

[2022-08-28 14:30] math-GH commented on #3141
Any news here?

[2022-08-28 14:32] math-GH commented on #3138
@simondrake Any news here?

[2022-08-28 14:40] math-GH commented on #3120
It is strange. The `<a>` is wide enough, but if the article is unread then only the title has the link, the empty space after the title not (but it is still the `<a>`.

[2022-08-28 14:46] math-GH commented on #3095
If you use a mouse device with a scroll wheel/middle mouse button, just click with it on the title. It will open the article in a new tab on the original website.
Alternative: `Strg` + Mouse click on the title. It will do the same.

[2022-08-28 14:49] math-GH commented on #3089
I close it because no activity the last 2 years here

[2022-08-28 14:49] #3089 closed

[2022-08-28 14:50] math-GH commented on #3087
Is it still an issue?

[2022-08-28 14:52] math-GH commented on #3084
The English translation is: "I don't know if this function is implemented" (translated with Google)

[2022-08-28 14:56] math-GH commented on #3084
This extension https://github.com/Victrid/freshrss-image-cache-plugin could help you with the images.

Videos are quite difficult to download and store.

[2022-08-28 14:56] #3084 closed

[2022-08-28 15:01] math-GH commented on #4544
could you try this feed setting with `yes` and `no`?
![grafik](https://user-images.githubusercontent.com/1645099/187080681-1205bf11-bd96-4ee1-87ec-cb179f19947a.png)

[2022-08-28 15:07] math-GH commented on #3016
done via https://github.com/FreshRSS/freshrss.org/pull/46

[2022-08-28 15:07] #3016 closed

[2022-08-28 15:08] #3012 closed

[2022-08-28 15:13] oupala commented on #3603
I agree with you @math-GH. Things must have changed since the opening of this issue.

I have the same behavior on my personal instance of FreshRSS, which is also version 1.19.2, and is also using `content-security-policy` headers.

[2022-08-28 15:13] #3603 closed

[2022-08-28 15:14] math-GH commented on #2988
I guess you could solve your wish with the [default user](https://freshrss.github.io/FreshRSS/en/admins/13_Default_user.html) and the generated feed of the user query.

[2022-08-28 15:14] dumprop commented on #3530
Yes, thanks @martinrotter !

[2022-08-28 15:14] #3530 closed

[2022-08-28 15:18] math-GH commented on #2927
Any news here? How to proceed here?

[2022-08-28 15:18] dumprop commented on #3418
It's still an issue because there no link for iOS version of fluent reader ( https://github.com/yang991178/fluent-reader-lite )
Maybe add it in row with fluent reader as link of iOS?

[2022-08-28 15:18] math-GH commented on #2916
Any news here?

[2022-08-28 15:20] #2846 closed

[2022-08-28 15:24] math-GH commented on #2826
It is still an Feature Request

see 1.20.0-dev
![grafik](https://user-images.githubusercontent.com/1645099/187081660-3f130468-9f1e-49c1-8506-636c795d87a5.png)
used via `/p/i/?c=feed&a=add&url_rss=https://github.com/FreshRSS/FreshRSS/commits/master.atom`

[2022-08-28 15:27] math-GH commented on #2805
Is it still an issue? Could you give a English summary?

[2022-08-28 17:33] butjer commented on #4544
Already tried it. Same result.

[2022-08-28 18:54] butjer commented on #4544
Same with curl on command line or wget

[code]

[2022-08-28 19:13] math-GH commented on #2787
@Mannshoch is it still an Feature Request?

[2022-08-28 19:15] math-GH commented on #2786
@jeroen7s , could you support us here? Help is always welcome

[2022-08-28 19:18] math-GH commented on #2770
Is everything solved already in 1.19 or 1.20?

[2022-08-28 19:20] math-GH commented on #2756
ping @edwrap

[2022-08-28 19:22] math-GH commented on #2747
@F3000 is your Feature Request still valid?

[2022-08-28 19:25] math-GH commented on #2742
ping @F3000

[2022-08-28 19:30] math-GH commented on #2733
Is it still relevant or can we close it?

[2022-08-28 19:33] ParadingLunatic commented on #2733
I don't seem to be having notification issues anymore.  Seems to consistently work now.

[2022-08-28 19:34] math-GH commented on #2711
I guess we will not change it, does it?

[2022-08-28 19:34] #2733 closed

[2022-08-28 19:49] math-GH commented on #2695
Is here anything todo?

[2022-08-28 19:51] math-GH commented on #2688
Is here anything left todo?

[2022-08-28 20:47] TheFiZi commented on #3475
Looks like the issue was 100% on my end and I just figured it out. Thanks for the prod.

So in my environment I am running CentoS 8 Stream which requires me to use a 3rd party repo to get the latest versions of PHP.

That repo assumes you are using Apache (httpd) and so when PHP updates gets installed it changes all the file permissions on php-fpm related files to be owned by httpd:httpd instead o

[2022-08-28 20:47] #3475 closed

[2022-08-29 04:21] rom-1 commented on #3380
Well, only the first issue out of 5 have been fixed by adding a menu icon. The User queries slider (/i/?c=configure&a=queries#slider) could see some improvments (see original post 2-5) but maybe thats not a priority.

[2022-08-29 05:19] MarcelVersteeg commented on #4540
That works!

Thank you for the hint.

[2022-08-29 06:38] #2674 closed

[2022-08-29 06:44] #4545 closed, assigned to nobody

[2022-08-29 06:57] Alkarex commented on #4544
Please try:

[code]

[2022-08-29 07:04] #2711 closed

[2022-08-29 07:09] Alkarex commented on #3138
Was implemented in 1.19.0 with https://github.com/FreshRSS/FreshRSS/pull/3303
Slightly related new option in 1.20.0 https://github.com/FreshRSS/FreshRSS/pull/4426

[2022-08-29 07:09] #3138 closed

[2022-08-29 07:15] Alkarex commented on #3291
Let's test:

* https://github.com/lwindolf/liferea/issues/962#issuecomment-1193186062
* https://github.com/lwindolf/liferea/issues/1113#issuecomment-1193185933

[2022-08-29 07:22] Alkarex commented on #3145
There is [now](https://github.com/FreshRSS/FreshRSS/pull/4320) a more detailed documentation for Traefik
https://github.com/FreshRSS/FreshRSS/tree/edge/Docker#use-tr%C3%A6fik-reverse-proxy

[2022-08-29 07:22] #3145 closed

[2022-08-29 09:11] squromiv commented on #4323
There is quite similar [discussion](https://github.com/RSS-Bridge/rss-bridge/issues/2547) in RSSBridge repository. Let's join forces! @aledeg @math-GH @0x199x Please, take a look at [curl-impersonate](https://github.com/lwthiker/curl-impersonate) project. Any thoughts?

[2022-08-29 09:19] Alkarex commented on #4323
Another example of problem https://github.com/FreshRSS/FreshRSS/discussions/4556

[2022-08-29 09:53] Mannshoch commented on #2787
Yes. It would helping with the regex if you get a feedback on your modification.

[2022-08-29 10:32] math-GH commented on #3291
ping @r00t9

[2022-08-29 11:14] butjer commented on #4544
Thanks a lot for the support.
But the result is the same:

*   Trying 2a02:2e0:3fe:1001:7777:772e:2:85:443...
* Connected to www.heise.de (2a02:2e0:3fe:1001:7777:772e:2:85) port 443 (#0)
* ALPN: offers h2
* ALPN: offers http/1.1
*  CAfile: /etc/ssl/certs/ca-bundle.crt
*  CApath: none
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* OpenSSL SSL_connect: Connection reset by peer in connection to

[2022-08-29 11:21] butjer commented on #4544
Little success: with --ipv4 it will work. How can i configure this in FreshRSS?

[2022-08-29 19:11] #4510 closed, assigned to marienfressinaud

[2022-08-30 06:13] math-GH commented on #2601
I guess it is fixed

[2022-08-30 06:13] #2601 closed

[2022-08-30 07:10] butjer opened #4560 "[Feature] Force ipv4 for individual feeds"
Some feedes could not be added, because the following error will appear:
cURL error 35: OpenSSL SSL_connect: Connection reset by peer in connection

Example: Webserver ist hosted by strato.de
Feed: https://www.heise.de/rss/heise-atom.xml will not work.

With the curl-command you can set the option "--ipv4" to download the feed without errors from there.

It would be very helpful if this option cou

[2022-08-30 07:11] butjer commented on #4544
I asked for this feature as a feature request here:
https://github.com/FreshRSS/FreshRSS/issues/4560

[2022-08-30 10:27] kour1er commented on #2688
The undocumented trick is working great for me - cheers

[2022-08-30 17:38] Alwaysin opened #4562 "[BUG] Anchors wrongly computed"
On edge branch, it looks like anchors are resolved against the website's URL as opposed to the article's.

E.g. feed ```https://about.gitlab.com/atom.xml```, "Website URL" is ```https://about.gitlab.com/blog/```
The last article (```https://about.gitlab.com/releases/2022/08/30/critical-security-release-gitlab-15-3-2-released``` - "GitLab Critical Security Release: 15.3.2, 15.2.4 and 15.1.6") has i

[2022-08-30 19:59] math-GH commented on #4562
I can confirm this issue, but I am not sure if it is a bug of FreshRSS or an issue of Gitlab's feed.

Line 7 of the feed:
[code]

This is used as `base` URL

That is why SimplePie/FreshRSS convert it to `https://about.gitlab.com/blog/#remote-command-execution-via-github-import`

[2022-08-30 20:15] Alwaysin commented on #4562
The link of the entry is good. You are pointing to the link of the feed. Feed link and entry links are expected to be different.

This is similar to a certain extent to #4499  where the whole url is not provided either.

[2022-08-30 20:26] Frenzie commented on #4562
None of that base URL stuff is applicable if it's just a hash, so definitely a bug.

[2022-08-30 20:49] math-GH opened #4564 "[BUG] Global view: Favorite button has no effect to the listed feeds"
**Describe the bug**
If the favorite button is active, then the feed lists are not filtered
![grafik](https://user-images.githubusercontent.com/1645099/187539876-23f38556-426f-49c4-8280-838d5e872fbf.png)

When you open the feed, then the favorite articles are shown.
If there are no favorite articles then an empty list is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to global vie

[2022-08-30 21:29] Alkarex commented on #4562
SimplePie bug (cf. https://simplepie.org/demo/?feed=https%3A%2F%2Fabout.gitlab.com%2Fatom.xml )
Patch coming

[2022-08-30 21:41] Alkarex commented on #4562
@Alwaysin Please try https://github.com/FreshRSS/FreshRSS/pull/4565
If you are able to test thoroughly, we could include this patch in 1.20.0, otherwise it will have to wait till 1.21.0.
This means testing with several examples of Atom, RSS 1.0, RSS 2.0 feeds.

[2022-08-31 09:27] Tealk opened #4567 "[BUG] Readrops error message when updating"
**Describe the bug**
Since the update, I get the following error message on the Readrops app when updating the feed:
Expected END_OBJECT ut was NAME at path $.items[0].alternate[0].href

**To Reproduce**
Steps to reproduce the behavior:
1. Open Readrops
2. Press the refresh button

**Expected behavior**
the latest feeds are downloaded

**Screenshots**
![Screenshot_20220831-112053.png](https://user

[2022-08-31 10:26] Alkarex commented on #4567
Related to https://github.com/readrops/Readrops/issues/162
Might be due to the refactoring of https://github.com/FreshRSS/FreshRSS/pull/4490

[2022-08-31 10:49] Alkarex commented on #4567
Bug in Readrops. Patch suggestion (not tested - no compile environment set up) https://github.com/readrops/Readrops/pull/163

[2022-08-31 11:00] #4567 closed, assigned to nobody

[2022-08-31 11:01] Alkarex commented on #4567
Workaround https://github.com/FreshRSS/FreshRSS/pull/4568 while waiting for Readrops fix.

[2022-08-31 11:07] Alkarex commented on #4567
Please try the latest `edge` version of FreshRSS. Feedback welcome.

[2022-08-31 11:12] Tealk commented on #4567
Works again, thank you

[2022-08-31 13:52] EasternPA commented on #4405
Just installed today and I'm wondering if this is what I'm seeing. Items in my Main Feed are grouped by provider, not sorted by date published. What can I expect on future refreshes? Will the entries gradually become commingled or will the Main Feed always group all new entries together by provider?

[2022-08-31 18:50] math-GH opened #4569 "[BUG] extension list: file_get_contents(https://raw.githubusercontent.com/FreshRSS/Extensions/master/extensions.json): Failed to open stream:"
**Describe the bug**

menu: Config -> Extensions

FreshRSS in offline mode (disconnected from the internet).

Mode: development

[code]

("Der angegebene Host ist unbekannt" = "unknown host")

![grafik](https://user-images.githubusercontent.com/1645099/187753877-2463b053-9292-455f-8a39-1c7ca4a6dfe9.png)

**Expected behavior**
No warning.

**Environment information (please complete the following in

[2022-08-31 18:56] Alkarex commented on #4405
As for now, this is per design, and if you let the system run for some time (especially with an automated cron job to get new articles), it will look more natural.
Multiple duplicates:
* https://github.com/FreshRSS/FreshRSS/issues/2596#issuecomment-546586703
* https://github.com/FreshRSS/FreshRSS/issues/2083#issuecomment-433622668
* https://github.com/FreshRSS/FreshRSS/issues/1771#issuecomment-359

[2022-08-31 18:56] #4405 closed, assigned to nobody

[2022-08-31 18:58] math-GH opened #4570 "[Feature] enable/disable the list of available extensions"
**Is your feature request related to a problem? Please describe.**
menu: Config -> extensions

The extensions list is called directly from github via `https://raw.githubusercontent.com/FreshRSS/Extensions/master/extensions.json` (in `\app\Controllers\extensionController.php on line 45`)

I am not so happy that always I call the extension config page a request is started to GitHub.

It costs resour

[2022-08-31 18:59] Alkarex commented on #4569
Try `@file_get_contents(...)`

[2022-08-31 19:05] Alkarex commented on #4560
We should expose `CURLOPT_IPRESOLVE` in the UI. PR welcome.
In the meantime, you can either edit the attributes field of the `feed` table in your database for that individual feed (using integer values, not constants), or globally change the `./data/config.php` file, in the curl option sections:

[code]

[2022-08-31 19:34] #4569 closed, assigned to nobody

[2022-08-31 21:05] the-lazy-fox commented on #3964
Hi guys, thanks for the explanation.
Is there a way to define how much items we decide to get from the feed?
The objective is to avoid to have a content too far away from the policy if the feed is not paginated for example.

[2022-08-31 22:18] Alkarex commented on #3964
The approach is to automatically mark as read articles that you do not want.

See for instance the option *Max number of articles to keep unread*

![image](https://user-images.githubusercontent.com/1008324/187795034-a109eb78-0705-4a91-9e9d-6e9ec73f5aea.png)

[2022-09-01 04:31] Alkarex commented on #3964
P.S. This option is per feed, and can also be defined at feed level

[2022-09-01 08:21] squromiv commented on #4323
@Alkarex
So, is there any chance to include this solution to FreshRSS?

[2022-09-01 09:03] Alkarex commented on #4323
If anyone is motivated to develop an extension, that would be welcomed. I can support with additional extension hooks, should that be necessary.

[2022-09-01 10:55] Alkarex opened #4574 "Regression disabled input"
When checking / unchecking a user label, there is a quick flash of bad layout (easier to see by slowing down the network):
![image](https://user-images.githubusercontent.com/1008324/187897374-0a351984-bfd7-4a24-886f-314b381bdace.png)

Regression, probably from https://github.com/FreshRSS/FreshRSS/pull/4546

[2022-09-01 11:29] butjer commented on #4560
Thanks a lot for your implementation.
Could you please give a hint what I had to enter in the field attributes for the feed table to get it working?

[2022-09-01 12:49] OctopusET commented on #4526
Korean translation is resolved on #4572

[2022-09-02 06:30] #4574 closed, assigned to nobody

[2022-09-02 06:31] #4547 closed, assigned to nobody

[2022-09-02 15:50] i-iooi-i commented on #4552
https://rsshub.app/ncm/djradio/73002

👆This is a test link. Because there are many users, the link is not stable. You may need to try to add it several times.

After adding successfully, please mark all contents as read. After a few weeks, this link will update the content, and the hundreds of items marked as read will become unread. 🙁

[2022-09-02 20:21] math-GH commented on #3411
@patdavid Could you please check if it is still an issue?
As far as I can see the src changed from relative to absolute paths

[2022-09-02 20:40] math-GH commented on #2666
@Fake4d @Frenzie Could you please check 1.20? The `mailto` link has a `target="blank"`

[2022-09-02 21:07] math-GH commented on #2570
Right these days the newest Google Chrome released the property "inline-size" too.

![grafik](https://user-images.githubusercontent.com/1645099/188235336-9e3ed204-5ce5-406c-9f9d-cc3ae5005220.png)

It could be a cool feature for themes in 1.21

[2022-09-02 21:13] math-GH commented on #2532
Does it make sense to keep this ticket open?

[2022-09-02 21:16] Alkarex commented on #4552
Ok, this feed look fine at a first glance but very long. Might be a similar issue as https://github.com/FreshRSS/FreshRSS/issues/4401
fixed in https://github.com/FreshRSS/FreshRSS/pull/4422
Could you try our current edge version of FreshRSS?

[2022-09-02 21:23] Alkarex commented on #4552
I am pretty sure it is the same issue that has already been fixed. Closing but feedback welcome

[2022-09-02 21:23] #4552 closed, assigned to nobody

[2022-09-02 21:24] math-GH commented on #2518
@squromiv Is it still requested by you?

[2022-09-02 21:59] squromiv commented on #2518
It looks like necessary feature and used in other readers. As for me, yep.

[2022-09-03 04:09] MichaelTunnell commented on #2087
This is a critical thing for me. I currently use TT-RSS and whiles its a decent solution the main reason I use it is the quick labeling.

The filtering system of FreshRSS looks pretty dope! The one thing that holds me back is I like to organize by category and feed for incoming and I like to use labels to organize favorite articles that I save. I do [a podcast about Linux news](https://tuxdigital.

[2022-09-03 05:55] math-GH commented on #2491
@marienfressinaud @Frenzie @Alkarex
How do we want proceed here?
Is this topic solved from your side?

I like the current documentation. (A documentation is never 'complete', but it is growing)

[2022-09-03 06:38] math-GH commented on #2472
How to proceed here?

[2022-09-03 06:40] #2447 closed

[2022-09-03 08:08] Frenzie commented on #2491
I wasn't able to quite automate po4a at the time for CI (because I'd have had to compile the latest version every time, give or take some cache) but I'd close this ticket.

[2022-09-03 08:09] Frenzie commented on #2472
The images in the feed seem to have been fixed, using a regular `src=…` instead of `data-…`.

[2022-09-03 08:09] #2472 closed

[2022-09-03 08:32] #2491 closed

[2022-09-03 08:34] Alkarex commented on #2491
@Frenzie I have forgotten how to sync / update the po4a. Could you please refresh my memory and/or making the corresponding PR?

[2022-09-03 08:41] Alkarex commented on #3411
Probably fixed by https://github.com/FreshRSS/FreshRSS/pull/4565

[2022-09-03 09:34] math-GH commented on #2428
@alexte How is the progress?

[2022-09-03 09:36] math-GH commented on #2420
@aledeg How is the progress?

[2022-09-03 09:48] math-GH commented on #2400
Any progress here? Still needed?

[2022-09-03 09:48] math-GH commented on #2398
Any progress here?

[2022-09-03 09:50] math-GH commented on #2396
@lmjst Is this issue still relevant?

[2022-09-03 09:53] math-GH commented on #2382
How can we proceed here?

[2022-09-03 09:55] math-GH commented on #2380
with #4101 (version 1.20) the tags can be displayed above/below the article

[2022-09-03 09:56] math-GH commented on #2380
auto tagging is asked here too: #2420

[2022-09-03 09:58] math-GH commented on #2372
@squromiv Could you please give insights of your use case?

[2022-09-03 10:08] math-GH commented on #2347
I guess this is solved, isn't it?
Use the "show unread article" filter and in `config`->`reading` activate `Hide articles after reading `

[2022-09-03 10:10] math-GH commented on #2322
Is it related to #4071?

[2022-09-03 10:12] math-GH commented on #2308
Is it still relevant?

[2022-09-03 10:13] #2306 closed

[2022-09-03 10:19] math-GH commented on #2302
The RSS-feed button creates a RSS of your selected category, feed, tag, user query. Does it help you?

[2022-09-03 10:23] math-GH commented on #2270
Any news here? Are we talking about feed tags or user set labels?

[2022-09-03 11:17] aledeg commented on #2270
User set labels.

[2022-09-03 11:19] aledeg commented on #2382
Maybe you can make it work with https://github.com/aledeg/xExtension-DateFormat

[2022-09-03 11:22] aledeg commented on #2398
Not really! I have been away for some time now :/

[2022-09-03 11:24] aledeg commented on #2420
I haven't work on that for months. Sorry about that

[2022-09-03 11:25] Frenzie commented on #2491
You can run update-translations.sh from the docs folder iirc but at the moment it'll require a fair bit of manual effort to fix up because they became out of sync again. (It looks like no one's bothered to do it when updating the translation :-) ).

You need at least 0.56.

[2022-09-03 13:54] math-GH commented on #2262
How is the status? It had been done a lot since V1.13

[2022-09-03 14:05] math-GH commented on #2216
@ahelton  How is the status? The user queries are already improved. What is left from the rest?

[2022-09-03 14:07] math-GH commented on #2198
What is the actual status?

[2022-09-03 14:12] math-GH commented on #2185
Any news here?

[2022-09-03 14:13] math-GH commented on #2175
Is this issue still relevant for 1.19/1.20?

[2022-09-03 14:17] math-GH commented on #2167
I cannot reproduce it anymore. @ddeimeke Could you please check with 1.19/1.20?

[2022-09-03 14:24] Alkarex commented on #2167
In any case, the problem is not uniqueness, which we already have, but conflicting redirections

[2022-09-03 14:24] #2167 closed

[2022-09-03 14:30] #2097 closed

[2022-09-03 14:31] #2090 closed

[2022-09-03 14:37] #2175 closed

[2022-09-03 14:41] Alkarex commented on #2185
Not yet, except reporting a bug in the test suite https://github.com/aaronpk/websub.rocks/issues/25#issuecomment-1076847556

[2022-09-03 14:43] Alkarex commented on #2198
It would still be good to be compliant, but not urgent

[2022-09-03 14:46] Alkarex commented on #2262
What remains is to re-organise a bit some of the options, and I guess we have other tickets to track that

[2022-09-03 14:46] #2262 closed

[2022-09-03 14:49] Alkarex commented on #2306
@math-GH Could you please try to find and link the PR (I believe it is one you did, if I remember correctly), which actually implemented showing the username in the config menu?

[2022-09-03 15:27] #2308 closed

[2022-09-03 17:40] #2532 closed

[2022-09-03 18:24] Alkarex commented on #2347
The idea here would be to keep a number of them before removing them. Especially useful when scrolling down with auto-mark-as-read through thousands of articles, which might become heavy on the browser

[2022-09-03 19:08] math-GH commented on #2306
it is #3880

[2022-09-03 19:29] math-GH commented on #2018
That is a very long discussion.

Could someone please summarize it?

[2022-09-03 19:39] math-GH commented on #2017
I would keep it as it is.
I personally do not like the global view, but I would say that it is useful when you have a lot of feeds/categories and it gives a good overview.

[2022-09-03 19:40] math-GH commented on #2017
The question is: how to proceed here?

[2022-09-03 19:48] math-GH commented on #2014
Right now (1.20.0) it looks like this:

![grafik](https://user-images.githubusercontent.com/1645099/188285781-c9ac1263-e5d9-41fb-bc29-9603534408f5.png)

I guess since 2018 it happened a lot of changes here.

Any thoughts about the actual UX?

[2022-09-03 19:48] aledeg commented on #2017
I guess we could extract those views and maintain them as plugins. This way we will have a way to add different views contributed by users.
I will keep the regular view as core though.

[2022-09-03 19:58] math-GH commented on #2011
How is the actual status? It has been happened a lot since 2018

[2022-09-03 20:05] math-GH commented on #2003
@chemical1979 : user queries have also a RSS feed. Does it solve your use case

[2022-09-03 20:14] math-GH commented on #1993
In 1.19 we have the option to mark articles as read with filter

![grafik](https://user-images.githubusercontent.com/1645099/188286411-0375e65b-5b98-44a4-bfca-6482dfb56ce7.png)

@elievischel  Does it solve your request?

[2022-09-03 20:18] math-GH commented on #1954
Mouse-Wheel-Click does the same

[2022-09-03 20:49] math-GH commented on #1875
similar to #3527

[2022-09-03 21:01] math-GH commented on #1864
You can try https://github.com/Victrid/freshrss-image-cache-plugin as extension

[2022-09-03 21:04] math-GH commented on #1842
Right now we are on 1.19/1.20. Is this feature request still open?

[2022-09-03 21:07] math-GH commented on #1780
@Stegemueller Is it still an issue with 1.19/1.20?

[2022-09-03 21:14] math-GH commented on #1770
It would help if the user queries has another "type": use the selected category/feed (do not pre-define a feed/category)

[2022-09-03 21:35] ghost commented on #3264
Long time,
anyway with  FreshRSS 1.19.2. I don't have the error anymore (and I've changed hosting)

[2022-09-04 06:25] ddeimeke commented on #2167
@math-GH I can not reproduce it either and I second @Alkarex that it is most probably the result of redirections.

[2022-09-04 06:35] math-GH commented on #1718
You can configure GitHub, so that it will send you an email

![grafik](https://user-images.githubusercontent.com/1645099/188300792-dd1b277c-9e13-46fb-9c8c-90f3e591fdd8.png)

![grafik](https://user-images.githubusercontent.com/1645099/188300798-38c251df-9245-4dbe-8587-ad3da64486fd.png)

[2022-09-04 08:51] Frenzie commented on #2018
1. To some people, a newsreader is something that rotates, a bit like if you picked up today's newspaper. Old stuff is irrelevant and can be ignored/discarded. Favoriting is the mechanism to keep the occasional item.

2. To others, a newsreader is roughly the same as an email client. The only real difference is that email is something that requires action while feeds can safely be ignored, hence w

[2022-09-04 08:55] Frenzie commented on #2014
I still think it's confusing, if only because when you click + you (almost) never want to add a category, yet it's situated at the top.

[2022-09-04 08:59] Frenzie commented on #2666
Nothing has changed.

[2022-09-04 09:40] math-GH opened #4579 "[BUG] Space key opens an empty tab"
When you press the `space` key somewhere an empty tab will be opened

**Expected behavior**
no tab.
The defined shortcut action.

**Environment information (please complete the following information):**

- FreshRSS version: 1.19.2 + 1.20.0-dev

[2022-09-04 09:43] math-GH commented on #2014
Would it make sense to have this forms as slider in the "subscription management" page, where you have an overview of feeds and categories?

[2022-09-04 09:48] Frenzie commented on #2014
I'm not entirely sure what you mean, but it was very purposefully made available from + without having to perform many clicks. I'd just swap add a feed and add a category.

[2022-09-04 09:56] Stegemueller commented on #1780
Thanks math-GH for asking. That is kind of you.

No this is not an issue any more.

Best regards,
Hanne

[2022-09-04 10:25] #1780 closed

[2022-09-04 11:08] alexandru opened #4580 "[BUG] problem subscribing to feed"
**Describe the bug**
Cannot parse feed — FreshRSS should be more tolerant.

**To Reproduce**
Try to subscribe to <https://degoes.net/feed.xml> (with or without #force_feed)

**Expected behavior**
Subscription should work, feed should be valid.

Note, it does have some validation problems, [see validator.w3.org](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fdegoes.net%2Ffeed.xml). But t

[2022-09-04 11:45] Frenzie commented on #4580
Basically upstream SimplePie.

But note that it's only all the other errors that are insignificant. The first error is quite significant. It should say http, not https.

[2022-09-04 13:10] squromiv commented on #2262
What was done regarding this issue? Did I miss anything?
"Do not automatically refresh more often than" option is not renamed and still is placed in "Archiving" submenu. Refresh time low limit can not be less than 20 (15) minutes.

[2022-09-04 13:21] Alkarex commented on #2262
This issue was a mix of different things. We will not allow a lower limit for now (or maybe only for local networks), due to well-known abuses that are risky for the ecosystem. Faster refresh scenarios must implement another protocol such as WebSub. I believe we already have another ticket about reorganising the options.

[2022-09-04 13:26] squromiv commented on #2302
No, not at all.
In my opinion, it should look like this:
1) Export of feed with articles into separate sqlite file, updating the file if it already exists.
2) Pure deleting articles, which were exported, from the main database.
3) All above should be automated or not.

[2022-09-04 13:29] Alkarex commented on #4580
Indeed, this is not a valid feed. See also https://simplepie.org/demo/?feed=https%3A%2F%2Fdegoes.net%2Ffeed.xml
This would require making a special logic for this feed in the upstream SimplePie library. If we were to see this specific error in many feeds, this could justify the efforts, but for just one feed, I suggest making a workaround with a FreshRSS extension instead, or going through a bridg

[2022-09-04 13:29] #4580 closed, assigned to nobody

[2022-09-04 13:30] Alkarex commented on #4580
P.S. One can also use our new Web Scraping feature to get the news from the HTML page, just like if there were no RSS feed.

[2022-09-04 13:43] Alkarex commented on #2302
1. At the moment, we have command line options to export a full user to SQLite from whichever database.

Then from an SQLite file, it is easy to transform to e.g. JSON, one feed at a time:

[code]

2. The articles should be marked as read, not manually deleted, and use the built-in rules for actual deletion (forced deletion may cause old articles to re-appear)

[2022-09-04 14:37] math-GH commented on #4579
For the records:
A console error is shown

![grafik](https://user-images.githubusercontent.com/1645099/188319012-f6c75fa3-0177-49a9-99eb-7e72db8714ac.png)

[2022-09-04 15:16] Stunkymonkey opened #4582 "[Feature] option to have ./data in different location"
This is more like a question. If the answer it is not possible, I would like this a a feature. Otherwise I hope to get an explanation.

**Is your feature request related to a problem? Please describe.**
Not really, bu I am trying to pack this programm for `nixpkgs`.

**Describe the solution you’d like**
For `nix` the ideal setting is to have the whole application in a "read-only" directory and the

[2022-09-04 15:46] Frenzie commented on #4579
Yeah, it should simply return at that point.

[2022-09-04 17:02] math-GH commented on #2262
A little bit similar with the FR around the feed errors: https://github.com/FreshRSS/FreshRSS/labels/FR%3A%20handle%20error%20feeds

[2022-09-04 17:16] math-GH commented on #1668
In 1.20 it is possible to use CSS selectors to delete elements from the feed. It could be used to remove the duplicate images

[2022-09-04 17:18] math-GH commented on #1644
How is the status here? Is it solved?
If not, could someone please give a short summary in English?

[2022-09-04 17:33] math-GH commented on #1609
@Yamakaky  Is it still an active feature request?

[2022-09-04 17:35] math-GH commented on #1576
Is it still a topic with PHP7/8?

[2022-09-04 17:38] math-GH commented on #1553
Information about the default user: https://freshrss.github.io/FreshRSS/en/admins/13_Default_user.html
If you want to change the default user to another username, it is written there too.

[2022-09-04 17:43] #1540 closed

[2022-09-04 17:49] math-GH commented on #1416
Is it still actual?

[2022-09-04 17:51] math-GH commented on #1392
Is it still an actual feature request?

[2022-09-04 18:02] math-GH commented on #1223
Is it still an open feature request?

[2022-09-04 18:20] math-GH commented on #1053
support is still welcome :)

[2022-09-04 18:24] math-GH commented on #1042
Is it still an relevant feature request?

[2022-09-04 18:25] math-GH commented on #1001
@marcomrc How is the progress here? ;)

[2022-09-04 18:28] math-GH commented on #986
For tracking: Have you tried to use Matomo?

[2022-09-04 18:31] #985 closed

[2022-09-04 18:32] math-GH commented on #971
Is it still relevant?

[2022-09-04 18:38] math-GH commented on #907
How is the progress here?

[2022-09-04 18:39] math-GH commented on #896
Is it still worth to keep this ticket open?

[2022-09-04 18:41] math-GH commented on #851
#4553

[2022-09-04 18:47] math-GH commented on #807
similar to #1953

[2022-09-04 18:59] math-GH commented on #763
Is it still a valid topic?

[2022-09-04 19:05] math-GH commented on #645
Is it still a relevant issue?

[2022-09-04 19:13] math-GH commented on #611
Could you please check in which case what should happen?
Right now the number changes, when a category is selected or a search is active.

[2022-09-04 19:18] math-GH commented on #601
Is it still an issue?

[2022-09-04 19:20] math-GH commented on #546
Is it still relevant?

[2022-09-04 19:21] #545 closed

[2022-09-04 19:28] #4579 closed, assigned to nobody

[2022-09-04 19:29] alexandru commented on #4580
Thanks for replying. I'll definitely contact the website's author.

[2022-09-04 19:30] math-GH commented on #489
I used to work with Sonarqube in the past. I like it. But I would not call it a Security Scanner. It is a static code analyzer, similar to PHPstan

[2022-09-04 19:35] math-GH commented on #446
Could we include a minifier into our pipeline?

[2022-09-04 19:37] math-GH commented on #342
Is it still an actual Feature Request?

[2022-09-04 19:43] Alkarex commented on #446
I am not so found of it. Our JavaScript / CSS code is relatively short (compared to other applications / Web sites nowadays), and the build-in gzip compress already does a good job, supplemented by HTTP caching.
It would only increase obscurity, barrier to entry, and difficulty to debug.

[2022-09-04 19:44] math-GH commented on #446
You are right. Then I vote for to close this ticket

[2022-09-04 19:45] #446 closed

[2022-09-04 19:49] math-GH commented on #329
ping @Alkarex

[2022-09-04 19:51] Alkarex commented on #611
The main reason for the current behaviour is performance. Those unread numbers are cached, but would have to be computed when a filter is applied. This could be an option tough, or used only during a search (with the risk of requiring another SQL request or sub-request, probably making the search twice as slow).

[2022-09-04 19:53] math-GH commented on #319
Is it fine now with the css-selectors?

[2022-09-04 19:55] math-GH commented on #304
Should we keep this as an open FR?

[2022-09-04 19:56] Alkarex commented on #1644
The final suggestion was to be able to manually post new entries to FreshRSS for cases when it is important to have new articles for a given feed without delay. WebSub is already implemented in FreshRSS, but we could also expose an end-point even easier to use.

[2022-09-04 19:56] #896 closed

[2022-09-04 19:56] math-GH commented on #303
Any news here or ready to close it?

[2022-09-04 19:58] Alkarex commented on #1416
Yes

[2022-09-04 20:01] Alkarex commented on #303
Profiling our PHP code for the most common requests would still be nice to do (finding the most costly calls / lines)

[2022-09-04 20:02] Alkarex commented on #304
We can now automatically mark as read articles matching certain rules for a given feed

[2022-09-04 20:02] #304 closed

[2022-09-04 20:06] math-GH commented on #285
Is it similar to #1256?

[2022-09-04 20:06] Alkarex commented on #4582
Hello,
Indeed, a `./constants.local.php` file with the following content should do the job:

[code]

[2022-09-04 20:08] Stunkymonkey commented on #4582
Thanks for the quick reply.

will something like `define('DATA_PATH', getenv('FRESHRSS_DATA_PATH'));` work as well?

Because the nix-package does not allow any modification after it is "packed".

And it would be nice to offer the option to modify the path as well. Otherwise having it hard coded is ok, but not perfect.

[2022-09-04 20:09] math-GH commented on #264
I like it as it is now in 1.19/1.20

[2022-09-04 20:11] Alkarex commented on #4582
Yes, that should work too. We could even add it to the core.

And maybe you could consider making a symlink from `./data/` to `/var/lib/freshrss/` so that users familiar with the native structure will easily find it.

[2022-09-04 20:14] Alkarex commented on #329
Let's come back to it if we some day add a context menu to entries, with several actions

[2022-09-04 20:14] #329 closed

[2022-09-04 20:15] Alkarex commented on #907
I started a PR a long time ago but did not have the motivation to complete it https://github.com/FreshRSS/FreshRSS/pull/1760

[2022-09-04 20:37] Stunkymonkey commented on #4582
The problem with symlink: For Nix the package is "compiled" (in your case only unzip), ... and then saved as "read-only". So the path has to be known before the "compilation".
This would result in very easy and short code, but the path could never be changed after packing the package. Therefore the Path has to be injected in other ways e.g. env-vars
I would like to have it in the core, but hopeful

[2022-09-04 21:03] Alkarex commented on #4582
The errors you see seem to be due to the Web server (typically `www-data`) not being allowed to read and/or write in your new data location (`/var/lib/freshrss/`)
What Unix rights do you have on that folder?

[2022-09-04 21:07] Frenzie commented on #1576
The PHP version shouldn't really affect anything? There are advantages to GetText (or possibly [Fluent](https://projectfluent.org/)) for translators, mainly tooling in the form of e.g. Lokalize, Poedit, Virtaal, and Weblate. That would make it easier for people to contribute translations. There are also additional advantages relating to plural forms.

[2022-09-04 21:19] Stunkymonkey commented on #4582
I created a new user called `freshrss`:
[code]

[2022-09-04 22:20] aledeg commented on #546
I think that it would still be a nice addition but as @Alkarex mentioned elsewhere, there is a drawback regarding performance. I have mixed feeling about it since I would like to know how many articles my filter hits and at the same time I want to have my result quickly.

[2022-09-05 06:53] #3974 closed

[2022-09-05 07:15] #4562 closed, assigned to nobody

[2022-09-05 07:15] #3411 closed

[2022-09-05 07:17] Alkarex commented on #264
The idea here is to allow different settings on mobile vs. desktop, but is maybe not so urgent

[2022-09-05 07:18] #285 closed

[2022-09-05 07:32] Alkarex commented on #4582
Please check parent folders rights as well that the user is allowed to traverse, as well as PHP security configuration options such as [`open_basedir`](https://php.net/ini.core#ini.open-basedir).
We are testing with a straight-forward [`is_writable()`](https://php.net/is-writable)

[2022-09-05 07:47] Frenzie commented on #264
Basically something like a `d-sm-none` class that's inserted on one of the sharing options when you don't tick "show on mobile"?

(In Bootstrap there's `.d-{sm,md,lg,xl,xxl}-none`.)

[2022-09-05 07:53] Yamakaky commented on #1609
A low priority one but yes.

[2022-09-05 07:57] Frenzie commented on #546
If it requires two very distinct queries perhaps it could make sense to AJAX it?

Crudely sketched:
1. Load the page with something like `<span id="update-me-update-me-update-me">???</span>` where the number goes.
  (Could be an animated `…` or something.)
2. `fetch('relevant-url-parameters').then((res) => document.getElementById('update-me-update-me-update-me').textContent = res)`

That way you'd

[2022-09-05 09:42] Frenzie commented on #2666
Since Firefox doesn't seem to be interested in closing their bug, if someone wants to work on this they might add an onclick attribute in sharing.

https://github.com/FreshRSS/FreshRSS/blob/442019a0548d3f1d888419930d38f1986e5cd773/app/shares.php#L58-L63

That'd also need some work in https://github.com/FreshRSS/FreshRSS/blob/442019a0548d3f1d888419930d38f1986e5cd773/app/Models/Share.php and the tem

[2022-09-05 11:01] MarcelVersteeg commented on #4540
Still one thing that I noticed. Passing the following URL in my browser updates all the feeds for all users:
`/i/?c=feed&a=actualize&force=1&ajax=1&maxFeeds=1000&token=<token>`

However, for the ease of use, I created a rewrite rule on my webserver (being IIS 10.0), where a different shorter URL is rewritten to the URL shown above. It however seems, that when I use this shorter URL, the updates do

[2022-09-05 11:23] Alkarex commented on #4540
The rewritten URL might not pass the same cookies. You might need to include the `&user=` in the targetted URL as in the example above

[2022-09-05 14:40] tonitonae commented on #3224
Hi @math-GH.

Sure thing, but I do not think I can do it immediately. I am a bit overwhelmed with work and some personal affairs. I will add this to my ToDo list, but no guarantees that I can do it in the following weeks.

Sorry about that :/

[2022-09-05 14:48] math-GH commented on #3224
There is no hurry

[2022-09-05 16:06] Stunkymonkey commented on #4582
you want to know this:?
[code]

[2022-09-05 16:10] Massedil commented on #3462
Yes !

[2022-09-05 17:03] NerosTie commented on #1392
As the author of the request, I would say no. So feel free de close it or not.

[2022-09-05 19:07] Stunkymonkey commented on #4582
I already got this far to execute the `do-install.php` and `create-user.php` (and also having a timer which executes the `actualize_script.php`).
But the problem is, that the installation screen is still shown... `Blast! Check permissions on the directory for freshrss user. The HTTP server must have write permission.`
Are there any files in the root, that indicate an installation?
Or is it based o

[2022-09-05 19:31] Alkarex commented on #4582
After your installation, you should have a file `applied_migrations.txt` in your data folder.
But I would recommend to try first the installation through the Web interface before doing it through the CLI.
Did you check your [open_basedir](https://php.net/ini.core#ini.open-basedir) settings and are you sure your Web server uses the right account?

[2022-09-05 19:44] beerisgood commented on #4295
Alternative Dark
best dark version but sadly not best buttons color and also not fully optimized for mobile.

[2022-09-05 20:18] Stunkymonkey commented on #4582
`applied_migrations.txt` exists.
Sure, but there I am stuck on "Installation · FreshRSS: step 2".
I am not sure entirely sure about `open_basedir` but I never set it anywhere. (And I am unable to set it, because I am stupid)
Not sure if this is an permission error, because even with 777 for all files in the data-folder the error is the same.

[2022-09-05 20:56] Stunkymonkey commented on #4582
If I set `open_basedir` I am getting: `No input file specified with an 404 error. So not sure why I need it.
So I reverted it. If you want to try something: have a look at https://news.buehler.rocks/i/ which is my current testing location

[2022-09-05 21:50] MarcelVersteeg commented on #4540
I have looked at it in a little more detail and found out some things that make the proposed mechanism unusable for a cron-update using a web URL. I at least found out that the addition of the `&user=` does not make a difference whether it works or not. The problem is with the cookies handling.

When I am not logged in on the web site (my version requires users to log in) and I execute the URL
`/i

[2022-09-06 12:49] BlackLotus commented on #1042
Switched to newsblur 7 years ago. Can be closed

[2022-09-06 12:49] #1042 closed

[2022-09-06 17:05] #1392 closed

[2022-09-06 17:15] math-GH opened #4585 "Alternative Dark theme: not best buttons color, not fully optimized for mobile"
Alternative Dark
best dark version but sadly not best buttons color and also not fully optimized for mobile.

_Originally posted by @beerisgood in https://github.com/FreshRSS/FreshRSS/issues/4295#issuecomment-1237418148_

[2022-09-06 17:16] math-GH commented on #4585
Hey @beerisgood,
thank you for your additional feedback. Let's use this ticket here to gain more insights.

What do you mean with "best buttons"?
What do you mean with "not fully optimized for mobile"?

Which FreshRSS version do you use?

[2022-09-06 17:43] beerisgood commented on #4585
layout for mobile isn't that nice:
![telegram-cloud-photo-size-4-5816864034098625245-y](https://user-images.githubusercontent.com/9625159/188702502-3545a7b2-a7f4-4387-a4e6-eebe80a84b2e.jpg)

clicking on folder icon sometimes results in "mark all as read" button below. the other icons are also very close together.
i would also move the icons themselves.

color of the button does not read well with

[2022-09-06 18:29] math-GH commented on #4585
Thanks for this insights.

I cannot reproduce the little stairs in the mobile view.

There is some work left to improve the mobile layout in general.

The "buttons" are select lists. Your operating system or browser theme change it to a very "special" design.

Which operating system and browser do you use?

[2022-09-06 18:46] Stunkymonkey commented on #4582
could you please guide me where to set the `open_basedir`?
Freshrss is in: /nix/store/zj48jdmjys68p5dgpni89nvka39gpiya-FreshRSS-1.19.2
and the data in: /var/lib/freshrss/
I tried it setting in the phpfpm setting with `"php_admin_value[open_basedir]" = "${cfg.package}:${cfg.dataDir}:/tmp";`, the website seemed fine, but the permissions messages are still there. So for me there seems no change.
(wit

[2022-09-06 19:02] beerisgood commented on #4585
latest stable Safari in MacOS & iOS

[2022-09-06 19:02] Frenzie commented on #4585
I'll submit a quick fix.

[2022-09-06 20:30] Alkarex commented on #4582
I am not sure `open_basedir` is the problem in your case, but it could be. It is typically defined in your php.ini or where you otherwise define your other PHP settings.

You could try to make a very basic test file such as:

[code]

and see whether that works from your Web browser

[2022-09-06 20:32] math-GH commented on #4585
I will keep it open for the other thing.

[2022-09-06 20:38] Stunkymonkey commented on #4582
I put this file in the freshrss folder at `freshrss/p/testing.php`
then i called https://news.buehler.rocks/testing.php which gave me a blank site.
the file is written as well. So i guess the permissions look fine to me.
[code]

[2022-09-06 20:46] Alkarex commented on #4582
Looking at your screenshots again, it looks like the `DATA_PATH` constant is empty / blank.
So the rights are probably correct after all, but the definition of `DATA_PATH` failed. Can you try to hardcode it instead of using getenv, just for debugging?

[2022-09-06 20:54] Stunkymonkey commented on #4582
If I hard code the settings everything works perfectly fine :tada: .

[2022-09-06 21:06] Stunkymonkey commented on #4582
when I pass the variable to the `phpfpm` as well it works as well. :tada:
So now I have to polish it up. But I can confirm everything is working perfectly.

So I guess in the next days I will prepare the package for NixOS.

If you have nothing against it I will close this issue, because all my questions and beyond are answered. Thanks again for you help.

PS: I just saw that in the README the News

[2022-09-07 01:19] InterferencePattern opened #4588 "[BUG] Feeds stopped refreshing automatically"
**Describe the bug**
Since switching from the "latest" branch to the "edge" Docker container, my feeds no longer automatically refresh. It may be a settings issue, but I have not found any settings that would resolve the issue.

Therefore, to get refreshed feeds in the [FreshRSS Android app](https://gitlab.com/christophehenry/freshrss-android), I need to first use a web browser and hit the refresh

[2022-09-07 06:19] Alkarex commented on #4588
Hello,
What type of cron job do you have to automatically refresh your feeds?

[2022-09-07 07:30] angussleeping commented on #3764
maybe the problem is result from my nas，it goes on normal on the next day，i donot know how it goes normal

[2022-09-07 07:31] angussleeping commented on #3764
it goes normal，but i donot know how it goes normal

[2022-09-07 13:40] InterferencePattern commented on #4588
Apologies- I switched from the linuxserver docker container and expected similar default refresh behavior. However, that container had provided a cron job by default, whereas this one does not.

[2022-09-07 13:40] #4588 closed, assigned to nobody

[2022-09-07 15:26] Alkarex commented on #4588
We do have a built-in cron job in our official Docker images. See example:
https://github.com/FreshRSS/FreshRSS/tree/edge/Docker#quick-run

[2022-09-07 15:56] InterferencePattern commented on #4588
Yes, I see that now. Since the documentation is fragmented across separate READMEs for the base install and Docker install as well a GitHub Pages, I hadn't found the cron instructions for docker until now.

[2022-09-07 16:55] bonifacio123 opened #4589 "Change color of feed when unread items exist"
When lots of feeds exist within a category it can be difficult to identify the ones with unread items - especially with large screens. Looking for the unread item count isn't quick. This could be alleviated by changing the feed name color when unread items exist. Thank you.

![image](https://user-images.githubusercontent.com/15472847/188935357-54907291-6585-4607-8628-ccbeeedd66f9.png)

[2022-09-07 17:23] aledeg commented on #4589
I think you can do that by configuring properly the CustomCSS extension.

[2022-09-07 17:54] bonifacio123 commented on #4589
Excellent - I will check it out. Thank you.

[2022-09-07 17:54] #4589 closed, assigned to nobody

[2022-09-07 21:35] bl-ey opened #4590 "[BUG] Unable to Import"
Probably more user error than bug - hoping someone can see something I don't.

**Describe the bug**
Unable to import through multiple routes.

**To Reproduce**
Steps to reproduce the behavior:

**Web Attempt:**
1. Navigate to `/p/i/?c=importExport`
2. Select Import
3. Select `.xml` from local
Result:
Blank page - 500 internal error in console -
[code]
Request Body:
[code]

**CLI Attempt:**
1. Navi

[2022-09-08 08:14] husim0 commented on #2420
I'm still interested, would be a nice addition, thank you @aledeg

[2022-09-08 08:32] Alwaysin commented on #4562
Thank you very much and sorry for the delay!
It indeed looks like it is working with all my feeds :D

[2022-09-08 08:36] math-GH commented on #4585
I checked it now with Safari and can confirm the "stairs" in the menu. Will try to fix it

[2022-09-08 08:40] math-GH commented on #4589
With 1.20.0 release there is an improvement. The numbers will be better visible:

![grafik](https://user-images.githubusercontent.com/1645099/189076861-144f37f5-b85f-45dc-b2b4-fc61174c7096.png)

[2022-09-08 12:46] bonifacio123 commented on #4589
Nice. Looking forward to the next release. Thanks for sharing this.

[2022-09-08 14:38] Offerel commented on #2426
We can close this with #4463

[2022-09-08 20:32] Alkarex commented on #4590
The OPML example you give is invalid:

http://opml.org/spec2.opml

But will add a workaround anyway.

What tool produced that OPML?

[2022-09-08 20:44] Alkarex commented on #4590
@pastram-i Would you be able to test https://github.com/FreshRSS/FreshRSS/pull/4591 ?

[2022-09-08 21:37] sjthespian commented on #2083
For another use case for sorting by publication date, take a look at the feed at https://www.elephant.town/comic/rss. The author releases a new chapter every week of 25 pages or so. Since the pubDate is ignored, I'm ending up with a scrambled list of pages every week. For example, this is what I have after this week's update:
<img width="1309" alt="Screen Shot 2022-09-08 at 14 35 55" src="https://

[2022-09-08 23:07] bl-ey commented on #4590
Apologizes @Alkarex - busy day.

I should be able to test tonight or tomorrow, ty.

I used https://opml-gen.ovh/

[2022-09-09 08:51] Alkarex commented on #2083
Interesting example @sjthespian . Actually, it should work just fine because FreshRSS does consider the publication date behinds the scenes when retrieving a batch of new articles. I have just tried and it worked fine for me.

![image](https://user-images.githubusercontent.com/1008324/189310051-25e4864b-6325-4f03-b392-0db1b133256f.png)

I am not sure of where the problem comes from in your case, b

[2022-09-09 10:14] Frenzie commented on #2083
@Alkarex Actually 1.19.x and edge don't behave the same here. @sjthespian's screenshot is from 1.19.x or older, yours is from upcoming 1.20.

Edit: put another way, whatever that issue is, it's already fixed. ;-)

[2022-09-09 20:56] #4590 closed, assigned to nobody

[2022-09-10 11:54] Alkarex commented on #3417
Is there anyone else with an Apple device who could try Vienna?

@barijaona If you are around, did you have a chance to test FreshRSS lately? Let me know if I can facilitate with anything, e.g. test account.

[2022-09-10 13:17] #3418 closed

[2022-09-10 14:26] Alkarex commented on #3291
Liferea first version to support FreshRSS is 1.13.9.
The deb files I could find, despite saying 1.13.9, were actually 1.13.8 https://lzone.de/liferea/install.htm
Too many missing dependencies when trying to compile from source on my system.
Feedback from other testers welcome, or ping me when a binary version of 1.13.9 is available.

[2022-09-10 14:43] Alkarex commented on #3970
@math-GH I have just tried and could not reproduce the bug. Could you try again?

[2022-09-10 14:47] #4526 closed, assigned to nobody

[2022-09-10 15:47] math-GH commented on #4526
This ticket is closed, but do not hesitate to help us with the translations. They will shipped with the next version or bugfix release

[2022-09-10 22:51] rezad1393 opened #4599 "[BUG] using Check for new updates doesnt show any new version"
I am on 1.19.2 version.
when I check for update it say
[code]
am I missing something?

[2022-09-10 23:14] aledeg commented on #4599
The tag has been made but it's not yet deployed on the update server. It should arrive soon.

[2022-09-10 23:15] rezad1393 commented on #4599
oh. I thought it got it from github.
is it just a zip file from github?

[2022-09-10 23:15] #4599 closed, assigned to nobody

[2022-09-10 23:26] aledeg commented on #4599
There is an ongoing work in-progress to change how new version will be offered to stop relying on the manual process to update the server.
It's still not completed but your help is welcome.

[2022-09-10 23:27] rezad1393 commented on #4599
I am too retarded to do computer stuff.

[2022-09-10 23:33] aledeg commented on #4599
Not that much if you're hosting FreshRSS

[2022-09-10 23:35] rezad1393 commented on #4599
I am using a local installed freshrss but I don't want to use manual download and unzip the release.
the automatic way is way easier for me.

I wait for it.
thank you.

[2022-09-11 00:02] rezad1393 commented on #2695
I still the issue about when a feed has a temporary error and and this causes it to be in a error state with no retry until next scheduled time, which would mean it can miss posted items.

[2022-09-11 03:39] Poorchop commented on #4585
I liked the alternative dark theme the best when I first started using FreshRSS but I had some issues with it. There were some bugs, some of which I think I tried to address, but there are also some cosmetic changes that I personally preferred. I use the custom CSS extension with my own additions:

[code]

I don't remember what all of these rules were meant to address but I believe the first sever

[2022-09-11 07:41] MarcelVersteeg commented on #4540
I am still struggling with a general URL that can be used to update the feeds of all users. Currently using the following URL:
`/i/?c=feed&a=actualize&force=1&ajax=1&maxFeeds=1000&token=<token>`

In this URL, the token is the token of the administrator user. Next to the administrator user, I have two other users defined, `user1` and `user2`.

Now, when I open a fresh browser session (no cookies se

[2022-09-11 08:45] Alkarex commented on #4599
You can always update by git, either manually or through the Web interface (requires having downloaded FreshRSS this way).

Ping @marienfressinaud for the auto-update via ZIP.

[2022-09-11 10:53] math-GH commented on #2695
does these issues describe it? https://github.com/FreshRSS/FreshRSS/issues?q=is%3Aopen+is%3Aissue+label%3A%22FR%3A+handle+error+feeds%22

[2022-09-11 12:05] Dual-0 opened #4600 "Postgresql rollbacks after actualize_script.php"
Hello,

since 1.20 I've got a "Postgresql high rollback rate" from my prometheus monitoring system.
`Ratio of transactions being aborted compared to committed is > 2 % VALUE = 0.1124031007751938`

When I run `/usr/bin/php /var/www/freshrss/1.20.0/app/actualize_script.php` the PostgreSQL DB metrics show an increase of rollbacks by 30.

<img width="553" alt="image" src="https://user-images.githubuse

[2022-09-11 14:33] math-GH opened #4601 "Theme Alternative Dark: Custom CSS for compact view"
Originally posted by @Poorchop in https://github.com/FreshRSS/FreshRSS/issues/4585#issuecomment-1242878393

I liked the alternative dark theme the best when I first started using FreshRSS but I had some issues with it. There were some bugs, some of which I think I tried to address, but there are also some cosmetic changes that I personally preferred. I use the custom CSS extension with my own addi

[2022-09-11 14:35] math-GH commented on #4585
@Poorchop I copied your CSS into a new ticket, so that we can discuss there your CSS.
Please keep the discussion here narrow to the issues of @beerisgood

[2022-09-11 14:36] math-GH commented on #4295
@Poorchop uses Alternative Dark too (see #4601)

[2022-09-11 16:51] rezad1393 commented on #4599
you mean if I install freshrss from scratch from git then when I use web interface update then it check the git? didn't another user just say that the download is not from github?
would not that git way also become dependent on manual config update of another site for my instance to see it?

also is the update not available still from the web interface for 1.20?

[2022-09-11 17:05] rezad1393 commented on #2695
this one is the issue that I have too:
https://github.com/FreshRSS/FreshRSS/issues/2629#issuecomment-1086846766
but I think I described it better.

that one of them is my own issue:
https://github.com/FreshRSS/FreshRSS/issues/2706

so if you know the issue is  , freshrss not retrying a bad feed until its next configured time, which may cause user to miss posts, then you can close this and track it

[2022-09-11 18:58] Alkarex commented on #4599
Yes, if you install by git, you can then update by git, either through command line or from the Web interface

[2022-09-11 19:20] Alkarex commented on #4600
Hello,
Do you have any error logs from PostgreSQL or FreshRSS? And have you noticed anything not working?

[2022-09-11 19:23] Alkarex commented on #4540
Hello,
There is no Web end-point to refresh all users at once. For that, only a cron job is available.
If a cron job is not possible, then you need one Web refresh per user. In any case, refreshing many users from the same Web request would most likely time out.

[2022-09-11 20:12] marienfressinaud commented on #4599
The server is updated, you should be able to update now.

[2022-09-12 06:13] MarcelVersteeg commented on #4540
Hmm.... that is too bad. It also makes it not very usable. It would mean that each user needs to add an API key to their profile, but also that the web server admin needs to add a scheduled web request for each new user to have their feeds automatically updated, as the Fresh RSS users do not have any access to the web server's scheduler (which is intended of course).

[2022-09-12 06:16] spaetz commented on #4296
Given that a server ooerator can always see to which hosts a network connection is being made, I do not think there is much to be gained. RSS feeds are just not designed for E2E. Although the architecture would have to jump through some very tricky hoops to have server operators not see the user's feeds. Finally, given that server operators can always install a non-E2E version without the users kn

[2022-09-12 06:26] spaetz commented on #3961
In case that a previous installation has already selected a language, the sensible thing to do, is to select that langauge and still just show that single 'submit' or 'next' button (or however it ahould be named).

Agreed, this is a small papercut issue, but it would make for a smoother installation 'experience'.

[2022-09-12 07:45] Alkarex commented on #4540
Yes, multi-user FreshRSS instances are best installed on a server with access to cron job.

[2022-09-12 10:36] Dual-0 commented on #4600
Yes of course. PostgreSQL is huge so here a little excerpt:
~~https://pastebin.com/1NB8rpF0~~

FreshRSS Log shows no errors and works as usual.

edit: PostgreSQL shows a lot of errors like:
`current transaction is aborted, commands ignored until end of transaction block`

[2022-09-12 13:37] Alkarex commented on #4296
Indeed @spaetz 👍🏻

[2022-09-12 13:37] #4296 closed, assigned to nobody

[2022-09-12 14:55] MatzeKitt opened #4605 "PHP Fatal error: Uncaught Error: Undefined constant "LOG_FILENAME""
**Describe the bug**
After pressing the button to update from 1.19.2 to 1.20.0 via admin interface, I just got a blank page. The following error message is logged:

[code]

However, the update seems to be successful.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to update screen
2. Press update

**Expected behavior**
There is no error message and no blank screen.

**Environment informat

[2022-09-12 16:11] math-GH commented on #4605
Related PR that causes the error: #4465

[2022-09-12 18:07] marienfressinaud commented on #319
The ticket was about the CSS selector not being practical. It's still my opinion, but as @Alkarex suggested it would be better in an extension. Also, I don't think it's too problematic and I think we can close this ticket.

[2022-09-12 18:25] marienfressinaud commented on #2014
I agree with @Frenzie, swapping "add a feed" and "add a category" would be better.

I would also suggest to redirect to the main view after adding a feed so the user can read it. Or maybe just stay on the adding page so he can add more feeds?

[2022-09-12 19:15] marienfressinaud commented on #2018
I think to remember that my initial idea was similar to the read-later mechanism of @GLLM (I probably had in mind to rename "favorite" to "read later"? but it's not a good solution). While I understand your logic @Frenzie (and I agree that being able to remove some articles would be useful), I'm not sure it answers the initial issue: we may lose the unread status of a lot of articles by hitting th

[2022-09-12 19:28] marienfressinaud commented on #2017
It seems that I undervalued the usefulness of the reader view!

I think my suggestion was to have less code to maintain (or because it was confusing for new users?) But maybe it's not necessary after all?

[2022-09-12 20:00] Alkarex commented on #2018
We also have a confirmation options :-)

[2022-09-12 20:15] marienfressinaud commented on #2018
I know for a fact that, sometimes, the confirmation option is not enough :p

[2022-09-12 20:27] Frenzie commented on #2018
@marienfressinaud

Er, your parenthetical remark is kind of the exact opposite of what I said? :-)

[2022-09-12 20:35] marienfressinaud commented on #2018
:thinking: I was referring to https://github.com/FreshRSS/FreshRSS/issues/2018#issuecomment-420393758

And all the discussion that followed

[2022-09-13 06:58] Alkarex commented on #4600
Do you have many users on your instance? Do you keep observing the same symptoms for users who have used the Web interface? (I am guessing there could be a problem for passive users, which have only been refreshed by cron job since the update)

[2022-09-13 07:01] #319 closed

[2022-09-13 07:45] jan-vandenberg opened #4610 "[BUG] Mark All As Read redirects to wrong page"
**Describe the bug**
When I click Mark All As Read on a feed I get redirected to a random blog post on my site (always the same blogpost)

My FreshRSS runs on /rss of my website. My blog runs on the top level domain.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any feed
2. Click on Mark All As Read
3. See error

**Expected behavior**
I should be redirected to the next available unre

[2022-09-13 08:13] oliversum-ch opened #4611 "[BUG]: Infinite redirects "ERR_TOO_MANY_REDIRECTS""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. I updated to 1.20.0
2. In the settings, I deactivated "Clicking outside of article text area closes the article"
3. I clicked on "submit"
4. I got a "ERR_TOO_MANY_REDIRECTS" error.
5. Whatever I do, I get this error.
6. I can see that FreshRSS adds "https://freshrss.maydom

[2022-09-13 09:07] Alkarex commented on #4611
Might be a regression due to https://github.com/FreshRSS/FreshRSS/pull/4167 for https://github.com/FreshRSS/FreshRSS/issues/4126
Maybe similar to https://github.com/FreshRSS/FreshRSS/issues/4221
Maybe related to https://github.com/FreshRSS/FreshRSS/issues/4610

Could you check what `base_url` you have in your `./data/config.php` ?

Ideally, there should be no `/p/` in your URL, so the main page sh

[2022-09-13 09:11] Alkarex commented on #4610
That is quite strange. Could you try to check in your Web browser development tools, in the network view, what responses you get (in particular the redirection)?

Can you try to see what `base_url` you have in `./data/config.php` ?

[2022-09-13 09:32] oliversum-ch commented on #4611
Thanks for your reply!
You're right, the `base_url` was wrong - no idea why, I didn't change anything and FreshRSS was working smoothly for more than one year with these settings.
It wonly works with `https://freshrss.example.net/p/` though, I immediately get an infinite redirect with `https://freshrss.example.net/i/`.

[2022-09-13 09:46] jan-vandenberg commented on #4610
Weirdly it is/was:
`'base_url' => 'https://j11g.com/rss/FreshRSS-master/p' `
and has been since 2018 according to the file timestamp.
I changed it to
`https://j11g.com/rss/`
but the problem persists.

[2022-09-13 11:04] aledeg commented on #4268
Does this need to be addressed by a fix or by some documentation?

[2022-09-13 12:11] Frenzie commented on #4268
It's just basic pwsh; the reason I had to look up how to escape in pwsh is because I don't or barely know pwsh. But I believe simply `'bla "stuff in double quotes" bla'` should work just as well there without any need for escaping. I suppose you could try to mention something about single vs double quote and escaping in different types of shells if you expect anyone to actually read it.

[2022-09-13 12:13] aledeg commented on #4268
I don't expect anyone to read it. So I guess we can just close this.

[2022-09-13 12:23] Fake4d commented on #2666
I checked and as @Frenzie I didnt see any difference... Sorry for that..

[2022-09-13 14:53] Alkarex commented on #4611
Could you please tell where your Web root is in your local file structure (for instance `/var/www/FreshRSS/p/`), what working URL you have, and what `base_url` you have?

[2022-09-13 14:56] Alkarex commented on #4610
Could you please tell where your Web root is in your local file structure (for instance `/var/www/FreshRSS/p/`), and what home page URL you have?
What Web server are you running?

[2022-09-13 15:19] oliversum-ch commented on #4611
Sure!
Root: `/home/sites/7b/0/09ec7hg48d/public_html/FreshRSS/`
Working URL (I assume that's the URL I'm using to access FreshRSS): `https://freshrss.mydomain.com/`
`'base_url' => 'https://freshrss.mydomain.com/p/'`

[2022-09-13 15:19] jan-vandenberg commented on #4610
The main thing is that my FreshRSS installation is UNDER a WordPress installation:

[code]

This has worked for many years, I am aware there is a .htaccess file in the root of my webfolder, and when I remove the following lines (commented out)
[code]

AND change the path as stated in https://github.com/FreshRSS/FreshRSS/issues/4610#issuecomment-1245164215

Then it works again.

HOWEVER: this break

[2022-09-13 20:17] Alkarex commented on #4611
Can you try with the opposite:
* Root: `/home/sites/7b/0/09ec7hg48d/public_html/FreshRSS/p/`
* Base URL: `https://freshrss.example.net/`

[2022-09-13 21:41] zoredache opened #4612 "[BUG] 1.20.0 changed broke editing feed using for existing feeds."
**Describe the bug**
In earlier versions if you used a bookmarklet on a feed that already exists, you would go to the edit page for that subscription.  Now you only get a notice 'You have already subscribed to ...'

**To Reproduce**
Steps to reproduce the behavior:

- Use the bookmarklet to on some page/feed that already exists.

**Expected behavior**
Getting the the ability to edit the feed by ju

[2022-09-13 23:20] rezad1393 opened #4613 "[Feature]curl setting globally or per feed"
recently curl update has changed its default mode from http1.1 to http2.
this causes some websites to have this error with curl:
"curl: (92) HTTP/2 stream 0 was not closed cleanly: PROTOCOL_ERROR (err 1)"
as described here:
https://blog.balasundar.com/curl-92-http2-stream-0-was-not-closed-cleanly-protocolerror-err-1

can curl setting be specified?
maybe per feed, as http2 in better generally but f

[2022-09-14 00:09] aledeg commented on #4613
We already have some settings to address a few issues regarding feed retrieval. It's sensible to add that one I guess.

[2022-09-14 03:23] rezad1393 commented on #4613
thank you.
does simplepie use curl or does freshrss use curl directly?
because I see you added a simplepie tag.

[2022-09-14 07:17] oliversum-ch commented on #4611
That seems to work, thank you!
Interesting, I installed FreshRSS using Cpanel - looks like their installation paths were wrong.
Thank you!

[2022-09-14 09:12] aledeg commented on #4613
SimplePie use cURL. We have to pass cURL options through SimplePie to make it work.

[2022-09-14 10:22] xiamuguizhi commented on #1144
@Alkarex  Doesn't work for AlphaSSL certificates either, everything works fine after closing

[2022-09-14 21:44] zoredache commented on #4612
I am not sure I fully understand what changed caused the problem. Or how it was doing the right thing before.  But making this change seems to restore the previous behavior.

    diff --git a/app/Controllers/feedController.php b/app/Controllers/feedController.php
    index 00759bd1..7030c27c 100755
    --- a/app/Controllers/feedController.php
    +++ b/app/Controllers/feedController.php
    @@ -24

[2022-09-14 21:57] zoredache commented on #4553
Maybe also a reminder to backup your external database if you are using mysql/mariadb/etc.

[2022-09-15 08:16] gpion opened #4614 "[BUG] not sure update went fine"
**Describe the bug**

Update to version 1.20.0 using the "update" page doesn't produce any viewable result.

- On "update" page, message _"Okay! FreshRSS will now be updated to the version 1.20.0."_ is displayed
- I clicked _"Apply"_ button
- Nothing happened apparently but "about" page indicate that site is now running version "1.20.0"
- the "logs" page contains only those 4 events:
  - FreshRSS_

[2022-09-15 09:39] Alkarex commented on #4611
@oliversum-ch Could you try to reach-out to Cpanel?

[2022-09-15 09:49] oliversum-ch commented on #4611
I'm using shared hosting with Cpanel. Let me contact my hoster, but I fear I cannot directly contact Cpanel...

[2022-09-15 14:27] kiwi-x opened #4615 "[BUG?] Feeds not updated with online cron and php8 or php8.1"
**Description**

I have to use the online cron whcih is described here
https://freshrss.github.io/FreshRSS/en/users/03_Main_view.html#online-cron

Anyhting works fine when I use php7.4.

When I switch to php8.0 or php8.1 the feeds won't get updated.
And it looks like it's not working correct, if I press on the update
feed button in web ui.

Do I something wrong or is it a knoen issue with php8|8.1

[2022-09-15 17:19] rezad1393 commented on #4613
I am getting more of these errors, or more correctly, more feeds that haven't reached their weekly update are now giving this error.
like:
https://www.schneier.com/feed/
and all the wordpress feeds like this
https://damnthematrix.wordpress.com/feed

I thought that maybe my proxy for blocked feeds (via iran filternet) is causing the issue but I now seem to see these errors with non-filtered sites.

[2022-09-15 18:21] Stunkymonkey commented on #4582
Using the greader-API is not release yet. Therefor updating the README would reflect some not released features. So I will wat with the update.

[2022-09-15 19:03] Alkarex commented on #4582
I have not understood your comment. The GReader API has been available in FreshRSS for years

[2022-09-15 19:04] Stunkymonkey commented on #4582
Yes but not in Newsflash the RSS-Reader.

[2022-09-15 19:05] Alkarex commented on #4615
Hello,
Can you check whether you have any message in your FreshRSS logs or Web server logs?

[2022-09-15 19:35] Alkarex commented on #4582
Ah ok, I had not understood that it was referring to your "P.S." a bit higher up

[2022-09-15 19:40] Alkarex commented on #1392
For the record, we have a list to force HTTPS (for images, videos, iframes…) defined in `./force-https.default.txt` and `./data/force-https.txt`

https://github.com/FreshRSS/FreshRSS/issues/1083

[2022-09-15 19:42] Stunkymonkey commented on #4582
Sorry to reopen the "issue"/question.
[code]
II am facing some minor issues with the `cli/[actualize-user.php](https://github.com/FreshRSS/FreshRSS/blob/edge/cli/actualize-user.php)`
The script is executed without any warnings/errors, but in the Web-UI the fee is marked red with `Blast! This feed has encountered a problem. Please verify that it is always reachable then update it.`
And it therefore

[2022-09-15 20:06] math-GH opened #4616 "Documentation for force-https.txt"
How to use the force-https.txt?

We need to add information to the documentation

With #1087 it was introduced.

But `force-https.default.txt` is not anymore located in `/data`, now it is in root folder.

[2022-09-15 20:41] Alkarex commented on #4616
The `./data/` folder is for user, writeable, custom content.

The defaults values are defined in `./force-https.default.txt` and additional domains can be added in `./data/force-https.txt`

See https://github.com/FreshRSS/FreshRSS/pull/1532

[2022-09-15 20:44] Alkarex commented on #4582
It might be a feed randomly failing. Please check over a longer period. Mind also the refresh period of the feed.
Please open another issue if the problem persists, as it is not related to the `./data/` location

[2022-09-15 20:44] #4582 closed, assigned to nobody

[2022-09-15 20:46] Alkarex commented on #4553
For databases, I recommand our built-in export-to-sqlite command

[2022-09-15 20:52] Alkarex commented on #4610
Does it work again for you?
With your setup, I believe your `base_url` is supposed to be `https://j11g.com/rss/p/`

[2022-09-15 21:12] kiwi-x commented on #4615
Hi,

I like to support as far as I can, so I've just checked it.

I switched my installation to PHP Version 8.1 (8.1.10-he.0)

At installaction check any item is okay/green.

Clicked (multiple times) on the Refresh Button.

The FreshRSS Protokoll remains empty.

IIn the access lot I can see the entries like this
IPv6ADDR - - [15/Sep/2022:23:00:36 +0200] "POST /i/?c=feed&a=actualize&id=-1&ajax=1 HT

[2022-09-15 21:17] Frenzie commented on #4613
Both work for me, but my cURL version is a tad older than yours (7.81.0).

[2022-09-15 21:42] Alkarex commented on #4615
It can also simply be that your feeds have been refreshed too recently. Can you try to leave your installation as it is, with PHP 8, and try again to refresh 2 hours later?

[2022-09-15 21:48] kiwi-x commented on #4615
Yes. I will let php8.1 enabled till tomrrow and then we will see.

[2022-09-15 21:56] Alkarex commented on #4613
What PHP version do you run, and on which platform @rezad1393 ?

You can try to put `CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,` in the `curl_options` section of your `./data/config.php` (applies to all feeds)

Related to https://github.com/FreshRSS/FreshRSS/pull/4573 (for IPv4 vs. IPv6)

[2022-09-15 22:08] rezad1393 commented on #4613
yes.
if you read the first port url you see that that author has said:
"I found this issue happening because of new version of CURL is using HTTP/2 as default. In older CURL version it was HTTP/1.1"

[2022-09-15 22:12] rezad1393 commented on #4613
thanks.
didn't know that.
because I knew issue was with curl new default I got tardy and didn't mention other info as I thought they were irrelevant.

PHP 8.1.10 (cli)
and arm linux archlinux.

if it can be set per feed that would be great as I would not have to use old http1.1 for working feeds.

[2022-09-16 07:03] jan-vandenberg commented on #4610
Yes for now it works, still strange though something must have changed with the redirects etc. (I've been running the same FreshRSS config for many years and upgrading was never a problem).

Thanks for reaching out and helping, I guess we can close this issue.

[2022-09-16 07:03] #4610 closed, assigned to nobody

[2022-09-16 07:32] kiwi-x commented on #4615
Okay

I did a second installation on a lxc container and there anything works like expected.

Today it seems to work at HostEurope, too.
There's still a problem with the console tools, which knows the database but not the password (which is in the same file).

So now I think that's Issue of HostEurope and of FreshRSS.

So thanks for your support,
Excuse the opened issue here

Cheers
kiwi-x

[2022-09-16 07:32] #4615 closed, assigned to nobody

[2022-09-16 09:28] Alkarex commented on #4610
Yes, a new explicit redirection has been added https://github.com/FreshRSS/FreshRSS/pull/4167 to work-around some problems with some reverse-proxy setups
But now, some configuration bugs (in `base_url`) have become more apparent...

[2022-09-16 14:07] tonitonae opened #4618 "[BUG] Problem syncing with FeedMe"
Hi.

Yesterday I upgraded to 1.20.0 (ARM, on a RPi, on Docker). I come from 1.1X (do not remember, sorry, something like 15 months old... yes, I know).

I use FeedMe to read my feeds in my mobile phone. Until yesterday, syncing worked fine. However, after upgrading, most of the times, after I hit the sync button, nothing happens. However, if I log out and in again, feeds are synced again, but this

[2022-09-17 12:40] Alkarex commented on #4618
Hello,
I have tried with our FreshRSS 1.20.0 with Docker on Rasperry Pi, using Feedme v3.20.14 and cannot spot any problem (besides the fact that Feedme's synchronisation strategy is still not optimal - cf. my recommendation https://github.com/FreshRSS/FreshRSS/issues/2566#issuecomment-541317776 ).

Make sure that in the Feedme settings, your synchronisation mode is set to *Everything*. When testi

[2022-09-17 12:42] Alkarex commented on #4612
Your suggestion of patch looks fine. Could you please send a pull request?

[2022-09-18 08:03] Dual-0 commented on #4600
I have informed all users to log on to the web.
I have the feeling it is better but the rollbacks on every cron run are not all gone.

![image](https://user-images.githubusercontent.com/37346547/190892131-264af0fd-d40e-43ef-a073-f67077440f80.png)

[2022-09-18 08:45] squromiv commented on #1668
Is it possible to develop an option for feeds - to show/not show attachments inline?

[2022-09-18 09:59] Alkarex commented on #4600
Do you keep observing the same symptoms for users who have used the Web interface?

[2022-09-18 11:47] #3057 closed

[2022-09-18 11:47] #3706 closed

[2022-09-18 16:48] barijaona commented on #3417
Hi @Alkarex. Yes, I'd like a test account.
You can email me : barijaona / Gmail.com

[2022-09-18 19:06] squromiv commented on #1668
RSSBridge similar [issue 2716](https://github.com/RSS-Bridge/rss-bridge/issues/2716) is solved.

[2022-09-18 19:17] squromiv commented on #1668
Tiny Tiny RSS [issue](https://community.tt-rss.org/t/duplicate-image-attachments/393)

[2022-09-18 19:34] Alkarex commented on #3417
@barijaona Done :-)

[2022-09-18 19:36] Dual-0 commented on #4600
Finally! After all users have login once after the update the errors have disappeared. Thanks for the hint.

[2022-09-18 19:55] Alkarex commented on #4600
Thanks for the feedback. It is still a bug though. I will try to see if I can fix

[2022-09-18 20:39] Alkarex commented on #4600
Should be fixed by https://github.com/FreshRSS/FreshRSS/pull/4622
Feedback welcome if you can

[2022-09-18 20:58] oupala commented on #1820
The problem is still occuring with version 1.20.0:

But as @Alkarex has modified the milestone, and @math-GH has add a label, I think that we all agree...

[2022-09-19 09:51] #4600 closed, assigned to nobody

[2022-09-19 11:25] tonitonae commented on #4618
Hi @Alkarex.

Thanks for your prompt reply.

I have been doing some testing and it seems that, even having the "Everything" option selected in FeedMe, feeds do not updated unless there are some articles marked as read from the Web interface.

Say that I have 50 unread posts in my feeds. If FreshRSS fetches another 20 (up to a total of 70), if I hit the update button in FeedMe, nothing happens in t

[2022-09-19 12:51] cameradoppia opened #4624 "[BUG] Can't update, white screen"
Hi there, awsome project!

When we try to update via interface update-button to the latest version (1.20.0) a blank page appears at https://mysite.com/newsfeed/p/i/?c=update&a=apply

No errors in server logs. Any ideas?

Thanks in advance and best regards
Dan

- Device: Mac / Win / mobile
- OS: Debian 10.13
- Browser: Firefox / Chrome
- FreshRSS version: 1.19.2
- Database version: 10.3.36-MariaDB

[2022-09-19 16:10] Alkarex commented on #4624
Maybe a similar problem than this cpanel user
https://github.com/FreshRSS/FreshRSS/issues/4611#issuecomment-1245117944

But please double check your Web server and FreshRSS logs, maybe MariaDB logs

[2022-09-19 16:16] cameradoppia commented on #4624
Ok, we are checking that out, thanks!

[2022-09-19 18:20] Stunkymonkey opened #4626 "[BUG] ./app/actualize_script.php does not update"
followup #4582

**Describe the bug**
Running
`ExecStart=/nix/store/gawjg0jivpy3b0qxyqmbpqw25r7ar90m-php-with-extensions-8.0.22/bin/php ./app/actualize_script.php (code=exited, status=0/SUCCESS)` always suceeds, but never updates.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I am currently working on bringing it to NixOS, thereby I am moving the data folder to another location (`/v

[2022-09-19 19:57] math-GH opened #4627 "[BUG] ./data/cache with 6700+ files 2+GB"
While I backed up my server I see that the /data/cache folder has more than 6700 files that need more than 2GB storage.

The files are created between August 20nd 2022 and September 19th 2022 (today).

Biggest files:
![grafik](https://user-images.githubusercontent.com/1645099/191102689-3d3d99f0-9942-4f76-aabd-f06a34addac6.png)

Most files are `html` files, that are a copy from websites for CSS sel

[2022-09-19 20:29] Alkarex commented on #4627
I am guessing this is on Windows, right?

[2022-09-19 20:31] Alkarex commented on #4627
Could you try to do a bit of tracing / debugging of:

https://github.com/FreshRSS/FreshRSS/blob/412b60ca8380dd760225574746207cf8e90a2b43/lib/lib_rss.php#L334-L345

Maybe an issue with `GLOB_BRACE` not available on some platforms according to the documentation

[2022-09-19 20:33] math-GH commented on #4627
No, it is a simple webspace. Some Linux. Do you need more information from phpinfo()?

[2022-09-19 20:47] Alkarex commented on #4627
Could you please try https://github.com/FreshRSS/FreshRSS/pull/4628 ?

[2022-09-19 20:47] Alkarex commented on #4627
Yes please, more platform info would be nice. What Linux more precisely?

[2022-09-19 21:10] math-GH commented on #4627
Does it help?
![grafik](https://user-images.githubusercontent.com/1645099/191117117-4915f39a-7c5c-4b67-91c8-710a0ea61d70.png)

[2022-09-19 21:24] Alkarex commented on #4627
Hum, not really. Is it a GNU Linux? And not e.g. Solaris or Alpine Linux. See https://php.net/glob

[2022-09-19 21:24] math-GH commented on #4627
I tried
[code]

But cannot find any log entry. I updated the feeds. How is cleanCache() triggered?

[2022-09-19 21:26] Alkarex commented on #4627
Please try with this patch https://github.com/FreshRSS/FreshRSS/pull/4628

`cleanCache()` is called randomly:

https://github.com/FreshRSS/FreshRSS/blob/6813e16e95c631084029cc84f786acd87495c063/lib/lib_rss.php#L396-L398

You can try to copy this call elsewhere

[2022-09-19 21:27] math-GH commented on #4627
Looks like GNU Linux. I cannot find more information.
![grafik](https://user-images.githubusercontent.com/1645099/191122517-8c021c96-e68b-4d65-82b6-ead88e7f33a7.png)

[2022-09-19 21:28] math-GH commented on #4627
Will try tomorrow

[2022-09-19 21:36] AlexBromum opened #4630 "ByetHost: Can't auth with API"
**Describe the bug**
Every time when I try to auth in any app or program, there is download errors (or just can't get feeds). However, GReader configuration tests are "PASS", API and API password enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any app
2. Auth with path to API, my login and password
3. See errors:
"JSON parse error" in FeedMe
"Error while downloading new articl

[2022-09-19 21:40] Alkarex commented on #4624
Probably fixed by https://github.com/FreshRSS/FreshRSS/pull/4629 and https://github.com/FreshRSS/update.freshrss.org/pull/4
But for the time being, does it work if you try again?

[2022-09-19 21:41] Alkarex commented on #4605
Should be fixed by https://github.com/FreshRSS/FreshRSS/pull/4629 and https://github.com/FreshRSS/update.freshrss.org/pull/4

[2022-09-19 21:46] Alkarex commented on #4630
Would you be able to try from your computer's command line?
https://freshrss.github.io/FreshRSS/en/developers/06_GoogleReader_API.html#google-reader-compatible-api

[2022-09-19 22:22] AlexBromum commented on #4630
I can only "Initial login, using API password" and get

[code]

I don't understand how I can use others.

[2022-09-19 23:28] Alkarex commented on #4630
It looks like you are receiving an HTML document instead of the response from the API, which explains why the clients are failing.

What does the following command return? (It is supposed to return 'OK')

[code]

[2022-09-19 23:44] AlexBromum commented on #4630
It returned:
[code]

That's strange. How I can fix it?

[2022-09-20 08:09] Alkarex commented on #4630
That is not the output of a standard curl command, is it?

Anyway, it looks like the URL you are trying is either wrong, or hosting another conflicting Web service, or is being filtered somehow.

[2022-09-20 08:12] #4605 closed, assigned to nobody

[2022-09-20 08:41] #4612 closed, assigned to nobody

[2022-09-20 10:03] #4627 closed, assigned to nobody

[2022-09-20 10:16] math-GH commented on #4627
Btw `$hours = 720` =30 days. It keeps the files for 30 days (August 30th - September 19th).

So it worked fine. But does it make sense to keep the cached files for 1 month? 24 hours would be enough?

[2022-09-20 10:24] Alkarex commented on #4627
The cache is not only about downloading, but also to check if anything has changed since the last query, saving resources.
I have many feeds set up to refresh only every few days.
There is also the case of setups with multiple users, which might not refresh at the same time.
But alright, 30 days might be a bit too much by default. Maybe 1 week so.

[2022-09-20 10:46] barijaona commented on #3417
There are two parts to this problem:

- current version of Vienna does not make clear that you should input hostname and path without any scheme (in the aforementioned case `192.168.1.2:60040/api/greader.php` without `http://` or `https//`). I will fix this.
- For security reasons, Vienna requires the use of https

[2022-09-20 10:47] Alkarex commented on #4626
Could you please try to put `'environment' => 'development',` in your `./data/config.php` to hopefully get a few more logs?

[2022-09-20 10:50] Alkarex commented on #3417
Thanks for the feedback @barijaona 👍🏻
Can you confirm that it otherwise works with my test instance?

HTTPS might be overkill for a local network such as `192.168.x.x` ;-)

[2022-09-20 10:54] Alkarex commented on #3417
Follow-up in https://github.com/ViennaRSS/vienna-rss/issues/1615

[2022-09-20 10:54] #3417 closed

[2022-09-20 11:07] Frenzie commented on #4627
Shouldn't it delete the old cache once there's a new one? Or are there 6700 distinct feeds involved?

[2022-09-20 11:11] barijaona commented on #3417
Yeah, everything I tried seemed OK.

[2022-09-20 11:20] Alkarex commented on #3417
@barijaona Could you help filling some of the columns related to Vienna features?
https://github.com/FreshRSS/FreshRSS/blob/edge/README.md#apis--native-apps

[2022-09-20 12:04] Alkarex commented on #4627
@Frenzie I guess the HTML files are from individual Web pages retrieved by CSS selector. We could consider having a shorter cache for `*.html` than for `*.spc`

[2022-09-20 12:29] Alkarex commented on #4618
I cannot reproduce any problem. For debugging, can you try with another app such as https://github.com/readrops/Readrops ?

[2022-09-20 15:17] cameradoppia commented on #4624
Nope, same white screen.
We actually have a new folder called data.back and one new zip: update_package.zip, guess that's a first step :)

[2022-09-20 15:37] barijaona commented on #3417
What do you mean by FastSync ?
Does making text available but not images / videos qualify to "works offline" ?

[2022-09-20 15:51] Alkarex commented on #3417
@barijaona

I mean that it should be fast (in seconds) and efficient (few and light requests) to sync. My rule of thumb on mobile: ~5 seconds max to re-sync against a database with 5k+ unread articles and 1k+ favourites, using < 10 HTTP requests.

Some clients are literally sending hundreds of HTTP requests in such a scenario, taking sometime over a minute, draining the battery and wasting (server

[2022-09-20 20:14] Stunkymonkey commented on #4626
could you please tell me what logs are most interesting?
the phpfpm is exactly the same as yesterday...
the actualize_script.php service has nothing interesting...

[2022-09-20 20:20] Alkarex commented on #4626
Please look in `./freshrss/data/users/*/log*.txt`

[2022-09-20 20:30] Alkarex commented on #4624
Try to delete:
* `./freshrss/data/update.php`
* `./freshrss/data/last_update.txt`
* The new files / folders you have mentioned

And try again.

If that still does not work, you will have to unpack the current version on top of your existing one.
The Web update using ZIP archives is less robust than updates using git or Docker. So if you can, another time, deploy by git instead.

[2022-09-21 13:35] cameradoppia commented on #4624
OK Alkarex, we will follow your instructions.

Thank you very much for your time and attention,
all the best!
Dan

[2022-09-21 16:51] math-GH opened #4634 "[BUG] OPML blizzard icon: not shown"
**Describe the bug**
The OPML blizzard icon is not shown (see environment)
![grafik](https://user-images.githubusercontent.com/1645099/191564968-3ce3854b-faa0-44f2-9997-079a79e8a26e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. go to subscription management
2. edit a category

**Expected behavior**
see the blizzard icon

**Environment information (please complete the following informa

[2022-09-21 18:03] Stunkymonkey commented on #4626
nevermind the systemd service was limited too much, and then it stopped working.

[2022-09-21 18:03] #4626 closed, assigned to nobody

[2022-09-21 19:16] Alkarex commented on #4634
Can you see the following sign from the same platform? 🗲

[2022-09-21 19:20] math-GH commented on #4634
The same: it is just a grey box. Tested it on `Firefox` and `Firefox Klar/Focus` on Android. Both use the same rendering engine.

[2022-09-21 19:49] Alkarex commented on #4634
I actually have the same lack on my old Android 9 with Firefox / Chrome / Samsung Internet.
And I have just tested on another phone with Android 12, also same lack.

[2022-09-21 19:53] Alkarex commented on #4634
🗲 is supposed to be in Unicode 7.0 from 2014... https://emojipedia.org/lightning-mood/
The closest is ⚡ https://emojipedia.org/high-voltage/ but I prefer the current 🗲

[2022-09-21 20:47] Frenzie commented on #4634
It doesn't show on my Android 12 phone here either.

[2022-09-22 23:20] rixx opened #4637 "[BUG] "Keep me logged in" only works for one day"
Since updating FreshRss to 1.20.0, "keep me logged in" only seems to work for one day (calendar day, I think?) for me, even when I tick the "Keep me logged in" checkbox. It works perfectly during that one day, but on the next day, I have to log in again.

I was able to stay logged in before the update – though I'm afraid I updated across multiple versions, so I can't point at the actual problem.

[2022-09-23 08:09] Tuphal opened #4638 "[BUG] Reverse proxy auth not working with update to 1.20.0"
In my FreshRSS feeds I saw the update to 1.20.0 available.
After updating to v1.20.0 I could not login anymore with ProxyAuth.

I get the "403 forbidden" error:
![grafik](https://user-images.githubusercontent.com/42291781/191916761-99496765-ece5-4f7b-826a-68263e3882fb.png)

Before the update everything worked.
I use nginx proxy manager with following header:
 ` proxy_set_header X-WEBAUTH-USER $aut

[2022-09-23 08:30] tonitonae commented on #4618
Hi @Alkarex .

I have been doing some extra testing these days.

FeedMe seems to be stuck for some reason. No matter how many times I try to sync, it does not update the feeds. This is weird as it used to be working before the update to FreshRSS, but the only way to make it sync is to logout and ind (and this only lasts some hours).

I have tried Readrops, and it works, but the app has not been up

[2022-09-23 08:30] #4618 closed, assigned to nobody

[2022-09-23 13:52] math-GH commented on #4637
Could you please give an insight of the cookies settings?
Please open in the developer bar the web storage tab.

Example:
![grafik](https://user-images.githubusercontent.com/1645099/191975799-7ab254dc-9575-4498-a39b-79d0997b4144.png)

Can you please check it also with another browser (Chrome, Edge etc.)? I am not sure if this issue comes from strong privacy settings in Firefox.

[2022-09-23 15:08] rixx commented on #4637
Of course! This screenshot is from when I found myself logged out today. I only have a single cookie, and you can see its expiry is set to "Session". Logging in under Chrome has similar results, and I'll check back to see if I'm staying logged in there.
![2022-09-23T16:08:43+02:00](https://user-images.githubusercontent.com/2657547/191992977-a01cc93a-cae6-4e84-8f08-970587677a11.png)

[2022-09-23 18:34] rixx commented on #4637
Update: Yes, Chrome also logs me out, took less than a day this time. (But I can stay logged in across browser re-starts, so it's not that.)

[2022-09-23 18:39] math-GH commented on #4637
Please screen shot when you are logged in.
path `/i/` = valid for the session
path `/i` = 90 days cookie

[2022-09-23 18:46] rixx commented on #4637
Here is a screenshot from when I'm logged in. Looks correct to me.
![2022-09-23T20:44:27+02:00](https://user-images.githubusercontent.com/2657547/192036229-375f9522-2a0b-4b78-8450-7e485ee88a79.png)
![2022-09-23T20:45:21+02:00](https://user-images.githubusercontent.com/2657547/192036237-27346fef-8b71-4a42-8878-4b045fa17279.png)

[2022-09-25 12:25] slurdge commented on #3964
Hello,

I think the problem is more general than that. For a long time I noticed FreshRSS would keep much more articles than needed even with a pretty aggressive purge policy.

For exemple, if you take the following feed:
```https://news.google.com/news/rss/?ned=fr&gl=FR&hl=fr```

with the following purge policy:
![image](https://user-images.githubusercontent.com/1651201/192143122-78d434b2-4388-47

[2022-09-25 13:42] Alkarex commented on #3964
This all looks pretty fine. Maintenance tasks such as searching for old articles (which are slightly expensive SQL queries + cache and index updates) are only done once in a while to avoid wasting resources:

More precisely, purging old articles is executed randomly once in 30 a feed is refreshed.

https://github.com/FreshRSS/FreshRSS/blob/ce5162042b64c0a27c5bf65360dd425e1b914583/app/Controllers/f

[2022-09-25 15:29] slurdge commented on #3964
Thanks! I see how it is happening now: on high volumes RSS feeds, the feed "fills" itself faster than the random happens.
Especially for Google News, I can get to 150+ entries easily. Since the purge is random, even if it should happens every 20 minutes * 30 = 10 hours, in practice, it can happen much later than that.

I'll try to whip up a documentation PR. Meanwhile, on my personal instance, I w

[2022-09-25 22:16] rixx commented on #4637
Hm. I don't get logged out anymore. I swear this happened for three or four days after the update before I even opened this issue, and then twice more, but it seems gone now. Sorry for the noise.

[2022-09-25 22:16] #4637 closed, assigned to nobody

[2022-09-27 08:22] wolfpld opened #4645 "[BUG] Wrong unread message icon size"
After upgrading to 1.20.0, when using the Mapco theme, the unread message icon (the blue one on the right side on the screen below) has wrong aspect ratio. It seems that the icon height is stretched to be uniform with the read message icon height, as shown on the screenshot below.

![obraz](https://user-images.githubusercontent.com/600573/192472206-b391b8ce-459b-42c2-b934-a71c16d1481d.png)

Random

[2022-09-27 08:23] Frenzie commented on #4645
I think it's a global issue.

[2022-09-27 15:51] #4645 closed, assigned to nobody

[2022-09-29 00:27] aledeg commented on #4268
I guess we can close it.

[2022-09-29 00:27] #4268 closed, assigned to math-GH

[2022-09-29 16:22] math-GH opened #4655 "[i18n] Translation Czech (CZ) 🇨🇿 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our Czech translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU3.0](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th birthday!

[2022-09-29 16:23] math-GH opened #4656 "[i18n] Translation Spanish (ES) 🇪🇸🇲🇽 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇪🇸🇲🇽 Spanish translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU3.0](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th bi

[2022-09-29 16:47] math-GH opened #4657 "[i18n] Translation Hebrew (HE) 🇮🇱 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇮🇱 Hebrew translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU AGPL 3](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th b

[2022-09-29 16:48] math-GH opened #4658 "[i18n] Translation Italian (IT) 🇮🇹 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇮🇹 Italian translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU AGPL 3](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th

[2022-09-29 16:50] math-GH opened #4659 "[i18n] Translation Japanese (JP) 🇯🇵 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇯🇵 Japanese translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU3.0](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th bir

[2022-09-29 16:55] math-GH opened #4660 "[i18n] Translation Brazil Portuguese (PT_BR) 🇧🇷 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇧🇷 Brazil Portuguese translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU3.0](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the

[2022-09-29 17:11] math-GH opened #4661 "[i18n] Translation Russian (RU) 🇷🇺 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇷🇺 Russian translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU AGPL 3](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th

[2022-09-29 17:15] math-GH opened #4662 "[i18n] Translation Turkish (TR) 🇹🇷 - Hacktoberfest Task"
Dear Hacktoberfest-Community,

please help us to improve our 🇹🇷 Turkish translations.

While we develop our [FreshRSS ](https://freshrss.org/) app we cannot support the translations in all 15+ languages.

## About the FreshRSS app
FreshRSS is a free, self-hostable feed aggregator licenced by [GNU AGPL 3](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt). These days we celebrate the 10th

[2022-09-29 17:15] aroramrinaal commented on #4661
Hey @math-GH ,
Can I work on this issue?

[2022-09-29 17:17] math-GH commented on #4661
yes, of course :) PRs are welcome :)

[2022-10-01 10:38] holiq commented on #4662
Can I make a pr for Indonesian translation?

[2022-10-01 10:53] math-GH commented on #4662
Yes, new languages are welcome :)

[2022-10-01 11:23] holiq commented on #4662
Thanks, i will make it

[2022-10-01 16:50] #4659 closed, assigned to nobody

[2022-10-01 18:56] NicolasPereira commented on #4660
For the PR to be accepted at HacktoberFest, it must have the label HACKTOBERFEST-ACCEPTED

Could you fix it?

Rules: https://hacktoberfest.com/participation/#pr-mr-details

[2022-10-01 19:01] math-GH commented on #4660
I set the label in the PR :)

[2022-10-02 16:05] SoldierCorp commented on #4656
Hello @math-GH !

Spanish is my first language so I would like to work on this task.

[2022-10-02 16:08] math-GH commented on #4656
Nice :) PRs are welcome :)

[2022-10-02 18:52] #4660 closed, assigned to nobody

[2022-10-03 11:29] oatmealm commented on #2956
Which protocol is more advanced, fever or greader?

[2022-10-03 11:57] #4354 closed, assigned to math-GH

[2022-10-03 12:11] Alkarex commented on #2956
GReader API is both more powerful (more features) and more efficient than Fever API.

[2022-10-03 14:49] #3663 closed

[2022-10-03 14:55] #3733 closed

[2022-10-03 20:10] Alkarex opened #4682 "UI regression hover border"
Ups, one of the recent patches (I have not searched witch) has made this regression, when hovering the left-most border of the title line (left for the read/unread icon)
![image](https://user-images.githubusercontent.com/1008324/193669461-9a8a8d3f-50d2-4e21-aa62-7f2fdc93c09d.png)

[2022-10-04 01:40] NicolasPereira commented on #4634
I'm open a PR fix this problem

[2022-10-04 07:06] #4634 closed, assigned to nobody

[2022-10-04 08:13] math-GH opened #4683 "alignments of icons"
@math-GH Could you please check: after the recent changes with `line-height`, `vertical-align` combined with `display: online-block` makes some icons alignments too low (I am not sure which PR made this regression):

![image](https://user-images.githubusercontent.com/1008324/193756723-6e871508-5da1-45d0-aa7b-2b50a1c49997.png)

_Originally posted by @Alkarex in https://github.com/FreshRSS/FreshRSS/

[2022-10-04 08:38] math-GH commented on #4683
Firefox on Windows 10, `edge` branch looks like this:

![grafik](https://user-images.githubusercontent.com/1645099/193773834-3d01ebe8-879f-4068-867c-3a26a548f1ae.png)

The button does not look broken for me.
I will check the blizzard icon.

[2022-10-04 10:10] Lordingard opened #4684 "Ability to add a prefix on a title news"
Hello,

I search an option for adding a prefix to a news title like " 'feed name' : 'news title' ".
This would be useful for example on the relase.atom feeds of GitHub which often only displays the version number of a release without indicating the repository. Information that would however be welcome in a global view.
Does it already exist and if yes, how to enable it?
If not, can you please add

[2022-10-04 11:15] aledeg commented on #4684
This is a duplicate of #4335.

[2022-10-04 14:46] Alkarex commented on #4683
I should have mentioned that it was using the Pafat theme.

Here is using Origin, with Firefox on Windows 11, with which the arrow look OK-ish but the⚡is a bit too low (which I believe is a sign of potential general alignment bug with icons):
![image](https://user-images.githubusercontent.com/1008324/193848631-f2ef3a5d-d506-4946-81e9-c52d1d46cf86.png)

To illustrate the alignment of the icon in th

[2022-10-04 15:19] math-GH commented on #4684
Workaround with build-in features:
- name the feed as you want
- display the author

So you have a very good overview of the release feed of GitHub:
![grafik](https://user-images.githubusercontent.com/1645099/193859058-e860d536-d7ee-4ab0-be28-d42efbcf9b20.png)

[2022-10-04 15:22] Alwaysin opened #4686 "[BUG] New articles banner is chunky"
On edge, and at least on origine/origine-compact (I have not checked other themes) new articles banner is chunkier than it used to be. It doesn't really bother me that much, but it looks like it hasn't been changed on purpose.

![image](https://user-images.githubusercontent.com/7189936/193859390-d7041a44-a092-4776-8e74-b160e531ff24.png)

It's even more prominent on mobile:

![image](https://user-i

[2022-10-04 15:45] Alwaysin opened #4687 "[BUG] PHP depreciation notice on strip_tags() on php 8.1"
[code]

**Environment information (please complete the following information):**
- OS: Ubuntu 22.04.1
- FreshRSS version: edge
- PHP version: 8.1

[2022-10-04 15:46] Lordingard commented on #4684
Thank you, but I already found it complicated to read on a smartphone with a vertical screen. If I add its columns, it will be even worse. My request is really about modifying particular feeds and not all.

[2022-10-04 16:24] Alkarex commented on #4687
Please try https://github.com/FreshRSS/FreshRSS/pull/4688

[2022-10-04 16:42] Alwaysin commented on #601
It doesn't look like so because it seems that now when an article is opened the banner is not displayed - it may be a bug (that was a quick test and may need to be validated again but anyway the original issue is not that bad and could be closed).

[2022-10-04 19:34] math-GH opened #4689 "default styles for <pre> and <code>"
Hi,

in Origine there is some styling for `<pre>` and `<code>`, when it is placed in an article
https://github.com/FreshRSS/FreshRSS/blob/8f31827e035686f46546a9c01fe5d48b3eed8a81/p/themes/Origine/origine.css#L801-L823

I would suggest to set a default style to all themes (and not define it just in Origine).

Which style (light or dark background? Mono spaced font?) would you expect?

[2022-10-04 21:07] #4687 closed, assigned to nobody

[2022-10-04 21:07] Alwaysin commented on #4687
I can confirm that those messages do not appear anymore!

[2022-10-04 21:11] Alkarex commented on #4689
Some other themes also have styles for that as well, e.g. Pafat:

![image](https://user-images.githubusercontent.com/1008324/193929911-b23878c2-513e-46e9-ba82-ff2a513c232f.png)

I find it fine

[2022-10-05 08:06] foureight84 opened #4691 "Feed only view"
Is there a URL param to view a feed page without the side and top navigation menu items?

I am trying to have my e-Ink display the feeds and refresh every so often. Currently, the top nav items are taking up a good 20% of the screen. I would like to just show the list of feeds just like the modal view when clicking on a subscription source in the Global View. Just showing the date up top, then the

[2022-10-05 08:24] math-GH commented on #4295
@foureight84 uses Mapco (see #4691)

[2022-10-05 08:32] math-GH commented on #4691
Here is a feature request for e-ink displays too: #4396

[2022-10-05 09:12] Alwaysin commented on #4691
A good start woud be to use [CustomCSS ](https://github.com/FreshRSS/Extensions/tree/master/xExtension-CustomCSS )extension with rules along those lines:

[code]

But you would have this display everywhere and not just on your e-ink device (note the link of the extension settings for later access: /i/?c=extension :))

[2022-10-05 09:18] Frenzie commented on #4691
Depending on specifics there might be an `@media` query available or something, or a minor workaround like `all and (max-color-index: 256)`.

[2022-10-05 09:27] Alwaysin commented on #4691
Maybe putting it in a `@media (monochrome) {}`
I don't have such a device to try out

[2022-10-05 10:39] Pyr0x1 commented on #4658
Hello, I can work on this issue if not taken yet

[2022-10-05 11:31] foureight84 commented on #4691
That is perfect. Thank you, guys! I'm using a Visonect e-ink signage device so it uses a backend server to fetch so `@media (monochrome)` doesn't work, unfortunately. I am using custom CSS for a very specific resolution which works for now.

I will also play with the Custom JS extension and fetch the URL params and add a data tag to the html body and use that to apply the custom css.

[code]

![PX

[2022-10-05 11:52] foureight84 commented on #4396
This would be a wonderful feature to have. Perhaps just a simple URL param to toggle the nav menu items to turn on signage mode? I have a Visonect e-ink device, better known as the Joan e-ink display, and I am currently using one with FreshRSS to display the latest news headlines.

My current solution, as suggested by other users, is to use the "Custom CSS" extension to target the device resolutio

[2022-10-05 12:34] Frenzie commented on #4691
Sounds a bit complicated compared to just adding a class, even if it's practically the same thing. ;-)

[2022-10-05 12:38] aledeg commented on #4335
I've started working on that.

[2022-10-05 13:17] foureight84 commented on #4691
So I ended up doing this:

CustomJS:
[code]

CustomCSS:
[code]

Just need to add the `signage=true` in the URL param and the css will hide the nav items. This works fine on all devices except for the Visonect fetcher. Looks like custom Javascript isn't being triggered so the DOM class injection never occurs (I'll have to debug to figure out why but their documentation says that Javascript is suppo

[2022-10-05 13:22] foureight84 commented on #4691
Indeed! I did exactly this.

[2022-10-05 15:35] math-GH commented on #4658
Nice :) PRs are welcome :)

[2022-10-06 15:25] Alwaysin opened #4695 "[BUG] Can't distinguish links on mapco theme"
Example:

<img width="281" alt="chrome_2022-10-06_14-25-50" src="https://user-images.githubusercontent.com/7189936/194352482-a69691cf-046c-4d0f-be52-a2097f9f9b54.png">

<img width="283" alt="chrome_2022-10-06_14-26-04" src="https://user-images.githubusercontent.com/7189936/194352534-c62e504a-0099-4a8d-99c5-86bd966b2e40.png">

You just know there's a link there if you hover over it. Maybe a slightl

[2022-10-06 18:21] math-GH commented on #4695
Does it make sense to have blue font color for the whole article text?

I would purpose to have black text and blue links.

What do you think @patjennings (the creator of Mapco&Ansum)?

[2022-10-06 19:40] #4682 closed, assigned to math-GH

[2022-10-06 19:57] #4655 closed, assigned to nobody

[2022-10-06 20:00] math-GH commented on #4661
@aroramrinaal How is the progress? Do you need support?

[2022-10-06 20:43] math-GH commented on #4683
I have a question to the blizzard "icon".

Right now it is `_i('opml-dyn')` used. While there is no icon in `/p/themes/icon` the UTF8 symbol from `Themes::alt($name)` is used. Usallay the UTF8 symbol is used for the `alt` parameter.

Why is the OPML icon (`p/themes/icons/opml.svg`) not used?

[2022-10-06 21:20] Alkarex opened #4698 "Regression: lines jumping"
The lines are jumping for me also. It is doing it on Mapco also (not tested all the themes), but only in Chrome and not in Firefox for this theme. For origine and Pafat, it does it on both browsers.

_Originally posted by @Alwaysin in https://github.com/FreshRSS/FreshRSS/issues/4693#issuecomment-1270549717_

[2022-10-06 21:21] Alkarex commented on #4698
It might be when the notification about new articles is active at the top

[2022-10-06 21:28] math-GH commented on #4698
It drives me crazy. In Firefox it works fine, in Chrome not. We are talking here about `top: 2px` (works fine in Firefox) and `top: 4px` (works fine in Chromium). So I try now to use the same `bottom` number. See PR.

[2022-10-07 03:36] gulyapulya commented on #4661
Hello @math-GH, if it is still available, I would love to contribute to this issue. This is my first Hacktoberfest, I will go through the files line by line and translate where possible. I am trilingual but I know Russian on the native level.

PS: I also think you got the wrong link in your issue description and it should be https://github.com/FreshRSS/FreshRSS/tree/edge/app/i18n/ru
for Russian in

[2022-10-07 04:04] honnip commented on #4089
[code]
I made a tiny progress 🙃

By the way, I could easily create a multi arch image with GitHub Action like [here](https://github.com/honnip/caddy-cloudflare/blob/main/.github/workflows/main.yml).

[2022-10-07 05:12] gulyapulya commented on #4661
Is there any way I can check any examples of the usage of the specific line of translation (ie how it is supposed to be used in a sentence or in the app)? I checked out [Contributing to internationalization (i18n)](https://github.com/FreshRSS/FreshRSS/blob/edge/docs/en/internationalization.md) but I am still wondering.

[2022-10-07 06:14] math-GH commented on #4661
fixed

[2022-10-07 06:18] math-GH commented on #4661
Almost (99%: ever) the texts are used standalone.

You could use demo.freshrss.org and switch the UI to Russian (go to the config via the cog button top right corner and chose "display").
In the UI you can see English texts if they are not translated.

[2022-10-07 06:25] math-GH commented on #4661
f.e. https://demo.freshrss.org/i/?c=subscription#slider and select via the cog icon a feed:
![grafik](https://user-images.githubusercontent.com/1645099/194481229-19a80b41-57ae-4bf0-aeac-401e708896b5.png)

![grafik](https://user-images.githubusercontent.com/1645099/194481368-a3497415-c8ba-47ed-8925-8401653dc80a.png)

https://demo.freshrss.org/i/?c=configure&a=reading
![grafik](https://user-images.g

[2022-10-07 15:30] axeleroy opened #4701 "[Question] XPath scrapping: can you choose the date format?"
Hello,

When using the XPath scrapping feature, there does not seem to have a way to set the date format, resulting in incorrectly parsed dates: in my case, the date of articles is formatted as `dd/MM/YY` but is parsed as `MM/dd/YY`.

So my question is: is there a way to set the date format used by `strtotime()`?

[2022-10-07 20:53] batchennings commented on #4695
I assume this problem occur on the article body, visible after a click on a main list item

Totally agree @math-GH, and as far as i can see myself, this is the case. I can't reproduce the bug : here's what i've got currently.

<img width="1133" alt="Capture d’écran 2022-10-07 à 22 54 49" src="https://user-images.githubusercontent.com/6574956/194650991-96fa145f-0f64-4592-9c74-ac1cef0406ef.png">

[2022-10-07 21:19] math-GH commented on #4695
@patjennings Are you using Mapco theme? It looks like Origine.

How it looks like with Mapco theme:
![grafik](https://user-images.githubusercontent.com/1645099/194653666-e2076ec7-1e1e-46b7-9c8e-c24127ae8abd.png)

The same feed article like @patjennings
![grafik](https://user-images.githubusercontent.com/1645099/194654364-e9769f98-7876-4a96-8ec3-86109a6bc540.png)

[2022-10-07 21:47] math-GH commented on #4701
Right now it is not possible to set the format

[2022-10-08 06:15] jangernert opened #4702 "[Feature] Enclosures as part of greader API"
**Is your feature request related to a problem? Please describe.**
It would be nice to easily access enclosures like thumbnails, podcast audio tracks etc. from client applications without parsing the html content.

**Describe the solution you’d like**
Extend the google reader API entries with enclosures like most other APIs do. Examples would be the [feedly API](https://developer.feedly.com/v3/ent

[2022-10-08 09:33] Alkarex commented on #4702
The Google Reader API already has an `enclosure` section.

Example from FreshRSS:

[code]

Example of query to find examples from your own FreshRSS instance:

[code]

[2022-10-08 09:38] Alkarex commented on #4702
P.S. At the moment, it is only repeating the enclosures provided by the upstream feed, of which type is not image

[2022-10-08 09:51] Alkarex commented on #4702
Ref https://github.com/FreshRSS/FreshRSS/pull/2898
The current implementation is thought mostly for clients supporting podcasts. Clients supporting thumbnails are typically picking the first image in the HTML content. But we could / should improve our implementation of enclosures

[2022-10-08 10:30] Alkarex commented on #4701
Ref https://github.com/FreshRSS/FreshRSS/pull/4220
It is very easy to add a parameter to support the same formats than https://php.net/datetime.createfromformat
However, when it comes to text dates, I do not believe it supports anything else than English

[2022-10-08 11:08] axeleroy commented on #4701
Well, in my case the issue comes from a British website, I believe only
north-americans use the MM/d/YY format

Le sam. 8 oct. 2022, 12:31, Alexandre Alapetite ***@***.***>
a écrit :

[2022-10-08 11:13] Alkarex commented on #4701
Quick patch, not tested https://github.com/FreshRSS/FreshRSS/pull/4703
Could you give it a try?

[2022-10-08 11:24] jangernert commented on #4702
@Alkarex thanks for the info

Where does FreshRSS get the youtube thumbnail from? Because when I parse a youtube feed with [`feed-rs`](https://github.com/feed-rs/feed-rs) it does include thumbnails as enclosure/media

[code]

That's why I assumed FreshRSS must have the same information and could include the thumbnail as an enclosure.

[2022-10-08 11:31] Alkarex commented on #4702
I have not understood the question :-)
What I wrote higher up is that when a feed provide enclosures, there are supposed to be in our Google Reader API responses (except images).

[2022-10-08 11:44] jangernert commented on #4702
Okay, sorry. I guess my question is answered by looking at the code again and using my brain for a change.

So yes, it would indeed be nice to also include image-enclosures in the greader API :)

I have very little knowledge about PHP and web development in general. But I do have a question about the code if you don't mind:  It looks to me like enclosures are transformed into a few HTML tags and t

[2022-10-08 12:24] Alkarex commented on #4702
Indeed, reworking enclosures is on my todo list. I have recently added a new attribute to our database entries https://github.com/FreshRSS/FreshRSS/pull/4444 which is appropriate for storing lists of enclosures.

[2022-10-08 14:01] jangernert commented on #4702
Cool! Looking forward to it.

In the mean time I'll implement enclosures for FreshRSS in NewsFlash. Since it is not part of the original google reader API (at least I didn't find anything about it) I'd like to contribute a few lines of documentation about enclosures to `06_GoogleReader_API.md` once I am done with the implementation.

[2022-10-08 14:17] Alkarex commented on #4702
Enclosures were a part of the original Google Reader API. See e.g.:
* http://web.archive.org/web/20100327173442/http://blog.martindoms.com/2009/10/16/using-the-google-reader-api-part-2/
* https://github.com/noinnion/newsplus/blob/2ce0002c8f4cea594fe1208922e1f4f184e98eb2/extensions/GoogleReaderCloneExtension/src/com/noinnion/android/newsplus/extension/google_reader/GoogleReaderClient.java#L760-L778

[2022-10-08 15:54] mrnoname1000 opened #4704 "OPML import of some proprietary attributes doesn't work"
When importing an OPML file with xpath selectors for website scraping or css selectors for element deletion, the values in FreshRSS are replaced with the string "Array". Exporting works fine the first time, but exporting again results in those fields missing from the OPML output.
I can only get it to happen with categories other than Uncategorized while testing but when I first noticed it, feeds w

[2022-10-08 20:28] amrulizwan commented on #4662
Can I make a pr for Indonesian translation?

[2022-10-08 20:41] math-GH commented on #4662
@holiq Any news here?

[2022-10-08 20:42] amrulizwan commented on #4662
Can i make it?

[2022-10-08 20:43] math-GH commented on #4662
Yes :) PR is welcome :)

[2022-10-08 21:15] marienfressinaud commented on #4662
(just a side note @math-GH: the license is not GNU3, but GNU AGPL 3 (or AGPL3), not a problem since you linked to the file :))

[2022-10-08 21:28] math-GH opened #4705 "[BUG] Encoding CSS filter"
Regression #4501

My input: `footer[data-area="footer"]`.
After saving:
![grafik](https://user-images.githubusercontent.com/1645099/194728328-0dd21fd6-b05e-4ced-9b9e-a338f7f64c25.png)

**Environment information (please complete the following information):**
- FreshRSS version: edge branch

[2022-10-09 09:08] holiq commented on #4662
@math-GH I will give @amrulizwan to translate it

[2022-10-09 10:27] Alkarex commented on #4705
Fixed by https://github.com/FreshRSS/FreshRSS/pull/4707

[2022-10-09 10:43] Alkarex commented on #4704
Should be fixed with https://github.com/FreshRSS/FreshRSS/pull/4708
Would you be able to test?

[2022-10-09 11:36] mrnoname1000 commented on #4704
Can confirm #4708 fixes the issue.

[2022-10-09 11:37] #4704 closed, assigned to Alkarex

[2022-10-09 13:34] axeleroy commented on #4701
I just tried your patch, it works perfectly!
![image](https://user-images.githubusercontent.com/3141536/194759794-9574c516-a4c2-444c-8b1f-1193fe4731c5.png)
![image](https://user-images.githubusercontent.com/3141536/194759785-c16df443-7e1d-4cd0-a291-ad7ac76c00e6.png)

[2022-10-09 13:43] #4701 closed, assigned to nobody

[2022-10-09 13:43] Alkarex commented on #4701
Excellent :-) Thanks for the feedback!

[2022-10-09 17:55] CilgaIscan commented on #4662
Hi, I am a Turkish native speaker and interested in the translation of this app :) I will be very happy if you could assign me to this issue.

[2022-10-09 18:01] Alkarex commented on #1042
Was implemented in https://github.com/FreshRSS/FreshRSS/pull/3071

[2022-10-09 18:12] Alkarex commented on #4624
I think the update bugs have been fixed

[2022-10-09 18:12] #4624 closed, assigned to nobody

[2022-10-09 18:16] Alkarex commented on #4662
@amrulizwan @CilgaIscan @holiq Maybe you could coordinate to find out who translates what. I suggest that anyone who starts translating sends a draft pull request, so that it is easier to monitor the status and the progress

[2022-10-09 18:46] math-GH commented on #4662
@amrulizwan @holiq translated/wanted to translate FreshRSS to Bahasa Indonesia (see PR #4706)

@CilgaIscan is the first one who wants to improve the Turkish translation :) You are welcome. We do not have any official assignment to issues.

[2022-10-10 07:18] batchennings commented on #4695
You were right @math-GH , was on the wrong theme 😅

[2022-10-10 22:47] #4705 closed, assigned to Alkarex

[2022-10-11 06:46] Alwaysin commented on #4695
I think the solution to switch everything to black is not optimal. It sure corrects the problem of the undistinguishable links but see the last two screenshots in the issue, it switched from all blue to all black whereas other themes do not override the red text.
What do you think @math-GH @patjennings ?

[2022-10-11 08:30] batchennings commented on #4695
@Alwaysin Agree with that. I improved this on a PR that is coming.

[2022-10-11 08:41] Alkarex opened #4712 "UI regression icons click areas"
The click area for the icons such as mark-as-read / favourite have become much smaller, generating many wrong clicks.

This seems to be due to a mislocated padding rule. Regression probably due to https://github.com/FreshRSS/FreshRSS/pull/4671

In FreshRSS 1.20.0:

![image](https://user-images.githubusercontent.com/1008324/195041052-c5430cfa-d589-4ad1-8935-b799be48d8b5.png)

In edge:

![image](htt

[2022-10-11 10:16] alexounet2 opened #4713 "[BUG] Clicking next to article makes it collapse"
Issue:
When clicking next to an open article (and also when selecting text and releasing the mouse button in this area), the article collapses. I'm reporting this as a bug since there is no visual feedback ("click"-cursor) for this, unlike on the article header.

Steps to reproduce the behavior:
1. Open article
2. Click on the margin of the content < div> (see screenshot)
3. Article collapses as i

[2022-10-11 11:44] math-GH commented on #4713
It is not a bug, it is a feature.

You can disable it in the configuration -> Reading
![grafik](https://user-images.githubusercontent.com/1645099/195081140-5fb62679-3d6d-4f68-908a-1d97a16fede4.png)

(IMHO I do not like this feature. It is enabled by default)

[2022-10-11 12:04] alexounet2 commented on #4713
Thanks for pointing this out!

[2022-10-11 12:55] Alwaysin commented on #4713
I second this. This + mark articles as read while scrolling, I find it very "unhealthy" and believe people actually leave because of this. It is not sane defaults to see the aricles disappear just wandering about discovering the tool.

EDIT: math, I know this has nothing to do here (:D) but its just a reaction to what you've said! I don't know if it's best to open a discussion about this, I think

[2022-10-11 12:59] math-GH commented on #4713
Let's keep open this ticket for a short discussion.

[2022-10-11 13:00] math-GH commented on #4713
ping @Alkarex @Frenzie @aledeg

[2022-10-11 14:56] Frenzie commented on #4713
I'm strongly in favor of not doing that.

Edit: also see https://github.com/FreshRSS/FreshRSS/pull/1539#issuecomment-304470676

[2022-10-11 15:20] Alkarex commented on #4713
I do not really mind, but otherwise edging on the side of having this option disabled by default.

[2022-10-11 20:46] Alkarex commented on #4683
See my comment on https://github.com/FreshRSS/FreshRSS/pull/4407#issuecomment-1159706227

But as we have changed from 🗲 to ⚡ (which I do not like quite as much) in https://github.com/FreshRSS/FreshRSS/pull/4673 , I do not mind as much anymore

[2022-10-12 06:21] #4662 closed, assigned to nobody

[2022-10-12 19:52] marienfressinaud commented on #4656
Reopening this ticket since some translations are missing

[2022-10-12 20:21] SoldierCorp commented on #4656
Hi @marienfressinaud I'll work on this, could you please assign it to me. Thanks!!

[2022-10-12 20:22] SoldierCorp commented on #4656
Hi @marienfressinaud

I'll add those translations as we discussed.

[2022-10-13 01:47] gulyapulya commented on #4661
Thanks for the detailed explanation, @math-GH! I have completed all translations that were labeled as TODO in the Russian folder. I referred to the demo website to better understand the use case and followed the previous translations for consistency.

[2022-10-13 02:21] acbgbca opened #4720 "[Feature] Add Linkding as a sharing method"
**Is your feature request related to a problem? Please describe.**
I would like to be able to share articles to a self-hosted Linkding instance

**Describe the solution you’d like**
For Linkding to appear as a supported sharing service

**Describe alternatives you’ve considered**
N/A

**Additional context**
Linkding site: https://github.com/sissbruecker/linkding
Sharing links are in the format: ~U

[2022-10-13 02:30] acbgbca commented on #4720
Created PR for this feature: https://github.com/FreshRSS/FreshRSS/pull/4721

[2022-10-13 07:12] #4661 closed, assigned to nobody

[2022-10-13 13:51] #4720 closed, assigned to nobody

[2022-10-13 16:14] ngoomie commented on #4295
Origine-compact. I usually like using dark themes, but in this case I'm not just because any of the currently-available dark themes feel too big in terms of used screen space. I might make my own dark theme based off of it at some point, or maybe a low-contrast light theme. I'll admit I actually really don't mind it as-is though, it manages to be pretty easy on my eyes for a light theme!

[2022-10-13 18:19] Alwaysin opened #4723 "Misalignment of unread badges of feeds"
![image](https://user-images.githubusercontent.com/7189936/195675059-786736aa-5849-444f-b4aa-06bf4e24e957.png)

Doing it on categories also

On origine-compact, edge up-to-date

[2022-10-13 21:57] aledeg commented on #4335
I've almost completed a first run. I will need some testers when it's available.
@nbgibson do you think you'll be able to test my work?

[2022-10-13 22:06] nbgibson commented on #4335
I don't see why not. Point me in the direction of how to wrangle getting that set up and I can poke at it.

[2022-10-13 22:25] aledeg commented on #4335
Great. I'll let you know when I am ready.

[2022-10-13 22:40] mrnoname1000 opened #4726 "[BUG] Opening certain links brings you to a broken page"
**Describe the bug**
Sometimes when opening links to manage feeds/categories you will be brought to a broken page with limited content.
This happens in two places I've found:
1. When opening author links on feeds that have been loaded in, e.g. https://freshrss.example.org/i/?a=normal&get=f_340&state=3&rid=****&next=1663357740187152&ajax=1&search=author%3A%22jwz%22
2. When opening the manage link f

[2022-10-13 22:52] mrnoname1000 opened #4727 "[BUG] Adding new feeds no longer redirects to feed options"
**Describe the bug**
In 1.19, when adding a new feed, FreshRSS would redirect to the settings page for that feed. 1.20.0 seems to have removed that feature and redirects to the Subscription management page. I find this annoying, as I like to configure my feeds after adding them (e.g. renaming, changing visibility, clicking "Filter" to bring me to the articles).

**To Reproduce**
Steps to reproduce

[2022-10-14 02:51] aledeg commented on #4335
@nbgibson the code and the documentation are ready. You can check the PR for more information.
To test that, you'll need to download the PR code and run it locally.
If you've never do that before, the current documentation is a good starting point to get the docker environment running.

[2022-10-14 03:02] nbgibson commented on #4335
Good stuff. I'll try and take a look at it over the weekend, baby allowing.

[2022-10-14 03:43] aledeg commented on #4684
@Lordingard please check attached PR. Thank you!

[2022-10-14 09:59] Frenzie commented on #4727
Strange, I thought I'd seen something a few weeks ago saying that had been fixed?

[2022-10-14 11:00] Alkarex commented on #4727
I can also reproduce several problems of this type with the new dynamic menu to the right

[2022-10-14 11:39] mrnoname1000 commented on #4727
Actually, just tested edge and in the case I tested it does seem to redirect to the settings menu, albeit taking up the whole body instead of being attached to the right.

[2022-10-14 14:08] #4656 closed, assigned to SoldierCorp

[2022-10-15 09:13] fatuuse commented on #4338
Same problem for me. eg. rss-bridge with xpathbridge url. One atom url for me i 519 chars.

[2022-10-15 11:00] aledeg commented on #4338
Maybe we can use a hash of the feed URL to validate unicity. This way we will have always the same length no matter the feed URL length. We could store it along side the feed URL.

[2022-10-15 11:29] aledeg commented on #4713
What do you mean by "that"? Changing the default value of the parameter?

[2022-10-15 11:43] aledeg commented on #4686
@Alwaysin Please check attached PR. Thank you.

[2022-10-15 12:09] Alwaysin commented on #4686
I can confirm this is way better, thank you!

On a side note, when manually running actualize_script.php from CLI, I noticed _again_ (I do believe I quickly mentionned it somewhere a few days ago) that there is sometimes a huge delay, at least on Chrome, displaying this banner. Am I the only one noticing this? I'm not too sure there is an actual issue and I don't have that much time to try and rep

[2022-10-15 12:14] Alwaysin commented on #4713
I also didn't get the comment. It looks from the comment linked that he has the same opinon than us: not having the "Clicking outside of article text area closes the article" checked by default.
I'd like to emphasize again the fact that I find it healthier to have the setting "mark articles as read while scrolling" as not checked by default either.

[2022-10-15 12:28] aledeg commented on #4686
It depends on what kind of delay we are talking about. I don't know what is the refresh rate for that banner but if you're unlucky, you'll have to way the whole refresh rate time if the script ends just after a refresh.

**Edit** I checked the refresh rate and it's every 2 minutes. If your wait is longer than that it might be a warning sign for a bigger problem. If not, you're in the normal operat

[2022-10-15 12:51] Alwaysin commented on #4686
Oh, okay, then it is perfectly normal! I did not time it but is looks like I was in this 2min range. I thought it should be immediate.

[2022-10-15 13:16] Frenzie commented on #4713
That as in "When clicking next to an open article (and also when selecting text and releasing the mouse button in this area), the article collapses." Unexpectedly marking things as read/closing/etc. just because you happened to click outside of some invisible zone is awful.

[2022-10-15 14:40] aledeg commented on #4713
Ok, so we can change the default value as it seems that everyone agrees :)

[2022-10-15 17:57] #4686 closed, assigned to nobody

[2022-10-16 10:42] #4713 closed, assigned to nobody

[2022-10-17 12:01] aledeg commented on #4727
The problem at hand is 2 folds:

1. http://localhost:8080/i/?c=subscription&a=feed&id=236 is the URL used after adding a feed. This shows a standalone feed configuration. This configuration cannot be reach through a menu item. It takes the whole width of the panel (no slider).
2. http://localhost:8080/i/?c=subscription&id=236 was the URL used after adding a feed. This URL is not working anymore. T

[2022-10-17 12:12] aledeg commented on #4727
Item `#1` was introduced by #4631. At the moment, I cannot find where the problem is with item `#2`. I think if we fix what is the root cause of item `#2`, we could revert #4631.

[2022-10-17 15:57] aledeg commented on #4726
I've experienced the same bug. I found out how to reproduce it.
The problem is in the `&ajax=1` part of the URL.
It happens when one clicks on the author link on articles loaded with AJAX.
Without said section, the URL is working properly.

I think we should always filter the `&ajax=1` part of the URL.

[2022-10-17 17:05] aledeg opened #4737 "[BUG] adding an i18n key fails when the key is an array"
**To Reproduce**
Steps to reproduce the behavior:
1. On cli, lauch the `make i18n-add-key key=admin.auth value=something` command
2. There is an exception

PHP Fatal error:  Uncaught TypeError: Cannot access offset of type string on string in /var/www/FreshRSS/cli/i18n/I18nFile.php(124) : eval()'d code:1
Stack trace:
#0 /var/www/FreshRSS/cli/i18n/I18nFile.php(124): eval()
#1 /var/www/FreshRSS/cli/

[2022-10-17 18:17] mrnoname1000 opened #4738 "[Feature] Whitelist acceptable CSS styles"
**Is your feature request related to a problem? Please describe.**
FreshRSS currently strips all CSS styles from incoming HTML. However, some attributes (e.g. color, font-weight, border) contribute to the structure of the content. W3C's validator service has [some recommendations](https://validator.w3.org/feed/docs/warning/DangerousStyleAttr.html) on which tags are safe to allow.

**Describe the s

[2022-10-17 18:45] aledeg commented on #4738
Could you extract some feed examples and attach them in the current issue?
That will help us work on that even if the feed you are referring to are not working anymore.
Thank you.

See https://github.com/FreshRSS/FreshRSS/blob/edge/docs/en/developers/06_Reporting_Bugs.md#how-to-provide-feed-data

[2022-10-17 19:56] mrnoname1000 commented on #4738
Sure thing:
- `<style>`:
  - [torrentfreak](https://github.com/FreshRSS/FreshRSS/files/9803999/torrentfreak.rss.xml.txt)
  - [duckduckgo](https://github.com/FreshRSS/FreshRSS/files/9804009/duckduckgo.rss.xml.txt)
  - [openai](https://github.com/FreshRSS/FreshRSS/files/9804016/openai.rss.xml.txt)
- `style=""`:
  - [github](https://github.com/FreshRSS/FreshRSS/files/9804885/github.atom.xml.txt)
  -

[2022-10-17 21:55] Alkarex commented on #4738
Hum, that would be quite challenging to support.
I cannot see the example of use in a GitHub release.

[2022-10-17 22:44] mrnoname1000 commented on #4738
Yeah, it would probably require a CSS parser/serializer or some intelligent filtering. [Sabberworm's parser](https://github.com/sabberworm/PHP-CSS-Parser) looks like a well maintained but fairly large dependency.

Looks like the only style in that GitHub feed is used for max-width of an image. Here are a couple other feeds that use them more extensively:
[blog.ajay.app](https://blog.ajay.app/rss.x

[2022-10-18 02:39] acbgbca opened #4740 "[BUG] Feed navigation overlaps safe area in iOS"
**Describe the bug**
When FreshRSS is used as an app within iOS (using 'Add to Homescreen' from Safari), the bottom navigation bar overlaps with the swipe up for changing applications. Because of this the navigation buttons can be hard to use unless you use a theme with large buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. In Safari, use 'Add to Home Screen' from the 'Share' menu
2.

[2022-10-18 02:50] acbgbca commented on #4740
PR raised: https://github.com/FreshRSS/FreshRSS/pull/4741

[2022-10-18 07:43] math-GH commented on #4738
Does the CSP block inline styles?

[2022-10-18 07:47] Alkarex commented on #4738
Yes, our CSP rules block inline styles at the moment for security reasons

[2022-10-18 08:07] math-GH commented on #4738
I would keep it. And it means that there is no chance to contribute the styles, isn't it?

[2022-10-18 08:14] Alkarex commented on #4738
Even without CSP, that would be pretty challenging. As @Frenzie writes, it would require some kind of parsing, and CSS can be abused in many ways. Or we would need some kind of container such as an `<iframe>` or similar.

[2022-10-18 08:37] Frenzie commented on #4738
Hm, what did I write? :-)

[2022-10-18 08:51] Alkarex commented on #4738
Haha, sorry, it was @mrnoname1000

[2022-10-18 20:23] aledeg commented on #4726
I've just noticed that you mentioned something about the categories. It's related to #4727.
I think we should work on that in the other issue.

[2022-10-18 20:35] squromiv commented on #4295
8. Origine-compact + Dark Theme extensions in browsers.

I prefer compact view of feed titles in FreshRSS, as well as dark background. But native FreshRSS dark themes looks not so tiny as Origine-compact. I forced to turn on browser addons in desktop Windows PC, in order to use these features simultaneously. Do not use android apps for rss,  so there is the same setup in smartphone.

[2022-10-18 21:22] #4726 closed, assigned to nobody

[2022-10-18 21:25] #4737 closed, assigned to nobody

[2022-10-19 11:40] Alwaysin opened #4744 "[BUG] Origine-compact is not compact anymore"
Following #4693, origine-compact is no compact anymore

[2022-10-19 17:24] cnstudios opened #4749 "[Feature] Possibility to see first lines of the article content underneath the title"
**Is your feature request related to a problem? Please describe.**
Nowadays the titles of articles are often used for clickbait, so it would be nice to see underneath the titles in the main view a few lines of the beginning of the article as to decide to wether it really is worth reading.

**Describe the solution you’d like**
I'd like to see maybe the first three lines (or maybe the first x charac

[2022-10-19 18:09] #4749 closed, assigned to nobody

[2022-10-20 22:45] mbnoimi opened #4757 "[Bug] Warning message for a title conflicts with Label/Category"
After updating to recent version I no longer able to add/update any category!

[code]

- Version 1.20.1-dev
- Nginx 1.22.0
- Ubuntu 20.04
- SQLite Database
- PHP 7.4.3

[2022-10-20 23:16] Emporea opened #4758 "unique id is maybe not unique?"
I stumbled over the postgresql database and was wondering why the column "id" (which should be unique) uses a microsecond based epoch bigint.

I have a lot of entrys that are just one microsecond away (considering i am not mistaken and we are actually talking about epoch)

Here some ID's of the database.
[code]

What happens if a new entry is added in the same microsecond? Will it get abonded?
Did

[2022-10-20 23:18] Alkarex commented on #4757
Check that you have some disk space left and that your SQLite file has the correct access rights.

Try to re-apply access rights like:

[code]

[2022-10-20 23:21] Alkarex commented on #4758
No risk of duplicate;

https://github.com/FreshRSS/FreshRSS/blob/1f4e347cae51667e7cf5772aef55d274a39c8023/app/SQL/install.sql.pgsql.php#L38-L39

[2022-10-20 23:24] Emporea commented on #4758
wow that was a quick answer. thanks.
So will it add +1 or something if its not unique because its declared as primary key?

[2022-10-20 23:29] mbnoimi commented on #4757
Everything configured correctly and there is a huge free disk space
![image](https://user-images.githubusercontent.com/284547/197077938-6daf8a12-3634-42e2-9f8e-3d854a2ca4fc.png)

[2022-10-20 23:30] Alkarex commented on #4758
The way it works is that when the is a batch of new entries to add, for instance during a full refresh of multiple feeds, the new articles are first stored in a temporary table, then they are sorted by declared date, and then they are inserted in the main table of entries.

Here is the logic for PostgreSQL, where you can see the +1 in the form of `rank + row_number()`:

https://github.com/FreshRSS

[2022-10-20 23:32] Alkarex commented on #4757
Did you try to re-apply the rights?

[2022-10-20 23:33] Alkarex commented on #4757
Please show a:

[code]

Replacing with your username

[2022-10-20 23:36] mbnoimi commented on #4757
Yes

[code]

[2022-10-20 23:37] mbnoimi commented on #4757
I can add or modify feeds. so there is no problem with permissions. It's crystal clear a bug in PHP code or in the Frontend component

[2022-10-20 23:49] Alkarex commented on #4757
Categories cannot have the same name than a user label. Can you try with a random name?

[2022-10-20 23:50] Emporea commented on #4758
Okey thanks so far.
I want to use freshrss to archive feeds and do some research on them later. Had to make sure they are unique.

I might have a look into the TODO.

[2022-10-20 23:50] Emporea commented on #4758
Closed.

[2022-10-20 23:50] #4758 closed, assigned to nobody

[2022-10-20 23:56] mbnoimi commented on #4757
Indeed. There is a similar name as a label.
Thanks a lot for quick responses.
May you please consider to add a warning message for this scenario?

[2022-10-20 23:56] mbnoimi commented on #4757
If you agree, I'll keep this issue opened

[2022-10-21 00:16] Juijote commented on #4295
Alternative Dark , this night mode is more comfortable than .

[2022-10-21 16:51] Emporea commented on #4758
Got another question not worth opening another issue i think.
I tested the same setup with mariadb just out of curiosity, but the "content" column is now called "content_bin" and is a byte object. Why?

I dont even know yet how to decode it. Doesnt work with utf-8.

Here an example.

`b'6\x00\x00\x00x\x9csT\xc8K-W\x08\xc9/\xaaT\xc8IMLI-RH\xccKQ\x08\xf0U(\xcf\xcc\xc9QHJUH\xce\xc8/N\xcdSH\xaaT0\xb2P

[2022-10-21 21:58] Alkarex commented on #4758
`content_bin` is used when the application compresses the content. At the moment, it is only used with MySQL. It comes from before there were good native support for compression in MySQL. We should make a new model for MySQL / MariaDB to take better advantage of some of the new features.

[2022-10-22 05:38] sarequl commented on #4658
Can I translate this to bn-BD?

[2022-10-22 07:13] X-dark opened #4760 "Share full article to use TTS"
Hi,
Is there a way to share the full article content and not just the url? It would be useful when the content is behind a paywall, to share easily to family members a specific article.

[2022-10-22 07:14] Frenzie commented on #4658
To whatever you want (just maybe hold off on Klingon ;-P)

[2022-10-22 08:28] pniewiadowski opened #4761 "Sort order per feed"
**Describe the solution you’d like**
Currently we can choose sort order globally in Reading submenu, for all feeds we have in FreshRSS.
I'd like to be able to choose sort order per feed. So feed A would be order "Newest first" and feed B ordered "Older first"

Do you think it would be possible?

[2022-10-22 11:57] aledeg commented on #4761
I think it would be possible to have such configuration and to apply it on a feed itself. However, when reading those feeds in an configuration other than a single feed (category, favorite, ...), it won't be possible to mix and match the sort orders.

[2022-10-22 11:59] aledeg commented on #4760
Probably. The share system must be improved though. Help welcomed.

[2022-10-22 11:59] pniewiadowski commented on #4761
Would it then be good to have both, global and feed level sort option? Feed level when it is possible to sort that way, and global for other configuration like category, favorite and so on.

[2022-10-22 12:03] aledeg commented on #4761
I think so. That's something I am thinking about for the longest time but for the view used to display the feed :).

[2022-10-22 12:04] aledeg commented on #4761
As always, help welcomed :)

[2022-10-22 13:50] jangernert opened #4762 "[GReader] mark-all-as-read"
I'm trying to mark streams as read via the greader API. No matter what I do the API call returns `OK` but nothing is marked as read afterwards. The FreshRSS instance isn't mine. So I have no access to the server logs or anything.

I tried tons of combinations, but this is one CURL example:

[code]

What I also don't understand is the `ts` parameter. It should be the timestamp of the newest article

[2022-10-22 14:29] Alkarex commented on #4762
Hello,
Quick answer already, and I will be back later.

Here is a bit of documentation:

* https://feedhq.readthedocs.io/en/latest/api/reference.html#mark-all-as-read
* https://www.inoreader.com/developers/mark-all-as-read
* https://github.com/theoldreader/api#marking-all-as-read
* https://github.com/bazqux/bazqux-api#marking-all-as-read

https://github.com/FreshRSS/FreshRSS/blob/e96b6266b592681e2

[2022-10-22 14:45] jangernert commented on #4762
@Alkarex thanks. I already took a look at the code you posted and still can't figure it out. Marking feeds/categories as read works fine on inoreader with almost the same code (with the differences being auth).

[2022-10-22 17:36] jangernert commented on #4762
I set up a minimal instance locally and tried (1.20.0):

[code]

Apparently the parameter `s` could not be found:

[code]

As far as I can tell it is clearly set though.

[2022-10-22 18:30] jangernert commented on #4762
Got it.

For future readers - a combination of things need to be in place:
- `content-type` needs to be `application/x-www-form-urlencoded`
- authorization header same as other api calls
- form parameter T aka post token can be omitted due to [workarounds](https://github.com/FreshRSS/FreshRSS/blob/e96b6266b592681e2c19d892d313779c96a7302a/p/api/greader.php#L226) for other clients
- and `s` aka stre

[2022-10-22 18:30] #4762 closed, assigned to nobody

[2022-10-22 21:53] Alkarex commented on #4762
Please check https://github.com/FreshRSS/FreshRSS/pull/4763

[2022-10-23 11:34] oldk1331 commented on #3853
Hi, I had similar bad performance with btrfs before.

The problem in my case is fragmentation: you can use `filefrag path/to/db.sqlite` to check.  It can have tens of thousands extents for the db file.

To solve the problem is to use `chattr +C`.  You need to move the db away and copy back to fix the fragmentation.

[2022-10-23 15:14] jangernert commented on #4702
I implemented support for enclosures on the side of NewsFlash and noticed that sometimes the enclosure has a name `<p class="enclosure-title">`. Would be nice to extend the enclosure object with the `title`. Otherwise every enclosure would be nameless like this:

![Screenshot from 2022-10-23 17-09-54](https://user-images.githubusercontent.com/12012494/197400148-2455819a-76ca-437c-ab39-08ed413b57d0

[2022-10-23 16:37] stanthewizzard opened #4765 "[Question] - Dynamic OPML"
Hello

I'm a bit lost with dynamic OPML.
Could I use DOPML with feedly (for ex) and have FreshRSS sync with it ?

Thanks for help

[2022-10-23 17:17] Richard-Rogalski opened #4766 "[BUG] [error] 7052#7052: *1 upstream sent invalid header: "HTTP\x20..." while reading response header from upstream"
**Describe the bug**
My freshrss installation worked yesterday. I rebooted my machine, believe to have started all needed services, and I get a 502 error in nginx. Yesterday I had this, but it was because I hadn't set up cgi and it couldn't find the socket. Setting that up fixed it. However, I am seeing a very different error today:
[code]
Will attach my nginx config at the bottom.

**To Reproduce

[2022-10-23 18:56] #4712 closed, assigned to nobody

[2022-10-23 20:57] fatuuse opened #4767 "[BUG] Bookmarklet / API add feed with & signes"
**Describe the bug**
I use the API to add a new feed link to FreahRSS (with a button on rss-bridge)
i/?c=feed&a=add&url_rss=%s
But that one will not support an link with additional & signes. So I have to code them in php with urlencode, but they are not coded back to just &, but keep coded as &amp; and not working.

**Environment information (please complete the following information):**
- FreshRS

[2022-10-23 21:51] aledeg commented on #4767
Could you post the exact URL you're trying to add? Thank you!

[2022-10-23 22:33] #4744 closed, assigned to nobody

[2022-10-23 22:38] Alkarex commented on #4723
Could you please try again @Alwaysin ? There has been a few patches merged and I cannot reproduce the problem, or I am not looking at the right place

[2022-10-24 07:57] Alkarex commented on #4765
FreshRSS supports continuously exporting and importing OPML (making it dynamic), in a similar way than an RSS/ATOM feed, meaning that the side exporting it must make it available as an HTTP resource with an URL.

For your scenario to work, the other side needs also to support dynamic OPML. Have you seen anything of this type in Feedly?

Note that FreshRSS also supports exporting and importing RSS/

[2022-10-24 07:57] #4765 closed, assigned to nobody

[2022-10-24 08:44] Alwaysin commented on #4723
@Alkarex I still have the problem on updated edge branch, Windows 11 / Chrome 106:

![image](https://user-images.githubusercontent.com/7189936/197485565-50d17257-cfdb-4356-b538-8a6eab9093f7.png)

EDIT: Firefox does the same. Tried two other themes with the same problem.

[2022-10-24 09:02] Alkarex commented on #4723
I cannot see the problem. Is it because is it right-aligned instead of left-aligned?

[2022-10-24 10:30] math-GH commented on #4723
I see it and can confirm this issue

(from the screenshot above, see:)
![grafik](https://user-images.githubusercontent.com/1645099/197506387-ef0a2931-d901-4b7f-8adb-ed874c10fa78.png)

[2022-10-24 10:33] Alwaysin commented on #4723
It is "down-aligned" instead of just centered on the same line that the text. There is some padding on the top but none on the bottom

The brown thingy from Chrome developers tools illustrates this:
<img width="224" alt="ApplicationFrameHost_2022-10-24_12-33-12" src="https://user-images.githubusercontent.com/7189936/197506871-7669f18a-4a10-4829-a34b-6655bb3d88e1.png">

Or with a line:

![image](ht

[2022-10-24 11:14] Alkarex commented on #4723
Ah, all right, I could not see it in the screenshot because the text was removed :-P

[2022-10-24 11:19] #4740 closed, assigned to nobody

[2022-10-24 11:32] aledeg commented on #4611
@oliversum-ch any new development on that issue?

[2022-10-24 13:50] Alwaysin commented on #4723
Even without the text it is visible with the borders, you can see it sticks to the bottom ;-p
But I agree it wasn't the clearest screenshot ^^

[2022-10-24 14:14] fatuuse commented on #4767
https://feeds.test.com/i/?c=feed&a=add&url_rss=https%3A%2F%2Frss-bridge.test.com%2Faction%3Ddisplay%26amp%3Bbridge%3DDuckDuckGo%26amp%3Bu%3Dtest%26amp%3Bsort%3D%252Bsort%253Adate%26amp%3B_cache_timeout%3D21600%26amp%3Bformat%3DAtom
in Fresh form:
https://rss-bridge.test.com/action=display&amp;bridge=DuckDuckGo&amp;u=test&amp;sort=%2Bsort%3Adate&amp;_cache_timeout=21600&amp;format=Atom

or

https:/

[2022-10-24 15:54] math-GH commented on #4760
Could you please give a concrete use case?

If the content is behind a paywall, how do you fetch the content?
How do you want to send the content? How to handle images within the content? How to handle articles with 10.000 words?

[2022-10-24 16:51] X-dark commented on #4760
Either the website is providing a feed for subscriber (eg NextInpact) or a dedicated script is fetching the full article with my credential from the abridged rss feed (eg Telerama). The issue is not really there.

In any case, the full article is there in FreshRSS. One of the two following would be satisfying for me:

* share to email is sending the full article (plain text or even better in HTML)

[2022-10-24 16:54] aledeg commented on #4760
If you want to share that, FreshRSS provides RSS feeds for categories, feeds, searches (to be confirmed), and labels.
You could add a label to those articles and share the associated feed.

[2022-10-24 16:57] math-GH commented on #4760
I have doubt that it is easy possible to "share" text via links with a lot of characters. I guess that there is often a 255 chars limit.

[2022-10-24 16:59] X-dark commented on #4760
Yes, hence my second idea. For the first one, it was more with Freshrss feeding the content to Sendmail.

[2022-10-24 17:01] math-GH opened #4771 "Refactoring: tag -> label"
see: https://github.com/FreshRSS/FreshRSS/pull/4770#issuecomment-1289319097

[2022-10-24 17:42] math-GH commented on #4757
Let me summarize this issue:
- it is not possible to create a category with the same name like a label (notification "Category cannot be updated")
- if a new label with the name of a category is created the notification says "Tag “xxxx" has been created.". But the label is not available in the label list

[2022-10-24 22:24] Alkarex commented on #4698
@Alwaysin Does this still happen to you now?

[2022-10-24 22:46] Alkarex opened #4772 "Bottom line UI regression"
The bottom line of text and icons (tested in Origine and Pafat) has gotten too low (not enough margin with the line just below)

![image](https://user-images.githubusercontent.com/1008324/197643866-879edb91-fd35-4516-badd-3d5a1d79626a.png)

[2022-10-25 01:49] Richard-Rogalski commented on #4766
The magic of ✨ <sup>clearing cookies</sup> ✨

[2022-10-25 01:55] Richard-Rogalski commented on #4766
Nevermind. The issue happens when logging into my account. Did I bork my account somehow? Maybe it rebooted during an operation?

[2022-10-25 09:00] Alwaysin commented on #4698
@Alkarex yes the lines are still jumping. Up-to-date edge branch, doing it on Chrome and Firefox

[2022-10-25 10:33] math-GH commented on #4698
which theme?

[2022-10-25 10:41] yzqzss opened #4773 "[Feature] Dynamic adjust feed updating frequence (base on "Last user activity" time)"
I'm running a FreshRSS public instance which have hundreds of user. But only dozens active users(used in past 7 days).
So, Allmost 80%(even more, because I deleted some of them in the past) inactive user spent 80% server resource(broadband, cpu, etc.).

- Provide inactive user the same updating frequence as other active user just a kind of wasting.
- Disable accounts is not a solution, users will

[2022-10-25 10:44] Alwaysin commented on #4698
On nearly all themes but with discrepancies in the behaviour. I've already described this but for example:
- origine-compact: all lines
- alternative dark: one out of every two lines
- ansum: 4th and 7th lines,...
- blue lagoon: 1st, 3rd, 4th, 6th, 7th, 9th, 10th,...
- ...

[2022-10-25 10:46] math-GH commented on #4698
could you please check:
1) does it jump, when no article is expanded?
2) does it jump, when 1 article is expanded?

[2022-10-25 10:47] Alwaysin commented on #4698
On origine-compact at least, the fact that an article is expanded as no effect on the jumping.

[2022-10-25 19:07] math-GH commented on #4698
cannot reproduce it.

Lines jumps for me only, when a article is expanded. (tested with Chromium, Origine&Origine compact, lines below the expanded article jumps).
And I have no clue why.

[2022-10-25 19:24] Alwaysin commented on #4698
Please install a brand new FreshRSS, some specific configuration might be at play here. On a brand new install I still have the problem, tested on origine and origine-compact on this video:

https://user-images.githubusercontent.com/7189936/197863561-39f34362-060c-4775-8554-6c1bad77ec46.mp4

[2022-10-25 19:28] math-GH commented on #4698
Do you use Windows 10? Do you have a 100% or 150% zoom by default?

[2022-10-25 19:33] Alwaysin commented on #4698
Windows 11, 150% zoom whch is the default and recommended settings.

Just tried 100% zoom and indeed it loks like lines are not jumping anymore... d'oh!

[2022-10-25 22:03] #4772 closed, assigned to nobody

[2022-10-25 22:04] Alkarex opened #4776 "Pafat regression"
The Pafat theme has become much more compact and the number of articles for each category are not vertically centred anymore

1.20.0
![image](https://user-images.githubusercontent.com/1008324/197887482-2bff4fea-d605-4664-af0d-e1e4258379c3.png)

Edge
![image](https://user-images.githubusercontent.com/1008324/197891116-80de1c0d-e35b-49bc-b967-f503dc45196f.png)

_Originally posted by @Alkarex in http

[2022-10-25 22:08] Alkarex opened #4777 "Swage regression in config menu"
Problem with line separators in the Swage menu:

1.20.0:
![image](https://user-images.githubusercontent.com/1008324/197891395-ad55e2a7-a7d3-4d15-9123-83d15cb25c27.png)

Edge:
![image](https://user-images.githubusercontent.com/1008324/197891419-ff846a0b-74c2-49d7-ab46-ac3e27423c2b.png)

[2022-10-25 22:11] Alkarex commented on #4773
Not as smart as what you are asking, but there is already a feature to disable auto-updating the feeds for users who have not been active for a period of time.
That period of time can be defined in `./data/config.php`, see `max_inactivity`

[2022-10-25 22:13] Alkarex commented on #4698
At 100%, Firefox, Windows 10, the following themes have lines jumping for me (without having to open any article): Ansum, Blue Lagoon, Mapco, Nord theme, Screwdriver

[2022-10-25 22:34] Alkarex commented on #4766
I believe this is a regression due to https://github.com/FreshRSS/FreshRSS/pull/4654
More precisely this line:

https://github.com/FreshRSS/FreshRSS/pull/4654/files#diff-49280171b6e7964e21a0270427e56eacb47b8ac562593a01ad4bc74b49f840c7R163

Could you have a look if you can @aledeg ?

[2022-10-25 22:37] Alkarex commented on #4766
@Richard-Rogalski Could it be that you are using version 1.20.1-dev of FreshRSS (which is good :-)) and not 1.20.0?

[2022-10-26 11:20] aledeg commented on #4766
@Richard-Rogalski could you check #4778 and see if this fixed it.

[2022-10-26 17:51] Richard-Rogalski commented on #4766
I backported #4778 to 1.20.0, did not work. Trying the dev version now :)

[2022-10-26 20:01] nwhirschfeld opened #4779 "[BUG] check if (data) directory is writable fails on NFS"
After installing FreshRSS in my environment I had several problems with features blocked due to "missing write permissions" of my __data__ directory. This happened whenever my data directory was located on a mounted __NFS__ share. The problem occured in several places of the application:

- during the initial setup using the web interface
- in the _"Installation check"_ view
- when calling _"app/a

[2022-10-26 21:00] Alkarex commented on #4779
Is it also a problem when checking a write access on a file, or it is only a problem for directories?

Example for a file:

https://github.com/FreshRSS/FreshRSS/blob/4ec602e8e3e4a1a9410ffcf0730cddf67b5f27f0/app/install.php#L308

[2022-10-26 21:02] Alkarex commented on #4779
If needed, for write access on a file, I think we can just change `is_writable()` by `touch()`

[2022-10-26 21:09] nwhirschfeld commented on #4779
It seems like file access is checked correctly:

[code]

[2022-10-26 22:03] Alkarex commented on #4779
Please test this patch https://github.com/FreshRSS/FreshRSS/pull/4780

[2022-10-26 22:08] Alkarex commented on #4766
@Richard-Rogalski Let us know when you have tested

[2022-10-26 22:24] nwhirschfeld commented on #4779
Wow, that was fast!

I haven't tested it so far but it looks, as it should work in most (real world) cases but as you just check a single existing file in every directory, only the permissions for that one file is checked, not the permission for the folder.

so with the following existing files
[code]

your solution using touch will do something like that:

[code]

While as long as a new file is c

[2022-10-26 22:34] nwhirschfeld commented on #4779
maybe something like this is more precise:

[code]

[2022-10-26 22:57] Alkarex commented on #4779
Yes, but we were not testing all cases anyway, for instance not recursively (which I think would be overkill and wasting IO).
Those tests are mostly hints and not guarantees that it will work (for instance if there is not enough disk space).
So I would rather keep it simple.

[2022-10-27 12:03] danburd opened #4781 "[BUG] SSL Security toggle has no apparent effect on XPath feed"
**Describe the bug**
FreshRSS won't use XPath to scrape a website that has SSL issues, regardless of whether the "Verify SSL Security" setting is on or off.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an XPath feed using the following settings:

![image](https://user-images.githubusercontent.com/4601223/198276872-df3d31ae-5f8f-460d-874d-8bacea3f28e2.png)

![image](https://user-ima

[2022-10-27 13:12] danburd commented on #4781
**Update**: The SSL settings on this website have apparently resolved for the time being, but I would guess that a user could still verify this bug if they can find another page to test this on.

[2022-10-27 14:17] Alkarex commented on #4781
Could you please try our current edge version?
Should be fixed with https://github.com/FreshRSS/FreshRSS/pull/4759

[2022-10-27 15:37] danburd commented on #4781
I'm on Docker and not sufficiently knowledgeable or capable to upgrade to an edge version. Sorry. ☹️

But if you believe you fixed it, then I believe that it's fixed too. 🙂 Thank you!

[2022-10-27 19:20] math-GH commented on #4776
need to wait for merging this PR #4782 to check this issue

[2022-10-27 20:05] Alkarex commented on #4781
@danburd If you are using our Docker image `freshrss/freshrss` or `freshrss/freshrss:latest` or `freshrss/freshrss:1.20.0`, you can just change it to `freshrss/freshrss:edge`

[2022-10-27 20:06] #4781 closed, assigned to nobody

[2022-10-27 20:15] #4777 closed, assigned to nobody

[2022-10-27 20:26] #4695 closed, assigned to nobody

[2022-10-28 06:31] Alkarex commented on #4702
Ref https://gitlab.com/news-flash/news_flash/-/issues/83

[2022-10-28 17:12] Tone866 opened #4784 "CSS Filtering on RSS-Feeds"
I want to remove certain css-elements from the feed.
I've noticed there is already an feature for exactly that, but for my understanding it only works if I parse the website and not for rss-feeds.

This is the feed:
[http://stadt-bremerhaven.de/feed](http://stadt-bremerhaven.de/feed)
And I want to remove the class `aawp`

I've also tried to manipulate the feed by myself and added `display:none;` t

[2022-10-28 17:37] aledeg commented on #4784
You could use the customCss extension to target those elements and add custom rules on them.

[2022-10-28 17:48] Tone866 commented on #4784
In my opinion this is kinda dirty. There could be class names used by multiple feeds or freshrss itself.
And in my use case this wouldn't work because I primary read my feeds over reeder and only sync reeder with freshrss.

[2022-10-28 18:48] Frenzie commented on #4784
When I suggested something like data-sanitized-class I'm pretty sure I suggested including something like frss-[0-9]-class, where [0-9] is the feed id. ;-)

[2022-10-28 18:49] Frenzie commented on #4784
Oh, but I just remembered I think the reasoning was you can use a selector like `[data-feed="95"][data-sanitized-class="aawp"]` for the the same end result.

[2022-10-29 05:13] nexus-uw opened #4785 "[Feature] enable/allow ImageProxy plugin to be invoked by FeverAPI endpoint"
**Is your feature request related to a problem? Please describe.**
I would like to ensure that my feed's images are proxied through my freshrss server when i am accessing them through the FeverAPI

**Describe the solution you’d like**
I would like the [ImageProxy extension](https://github.com/FreshRSS/Extensions/tree/master/xExtension-ImageProxy) to be invoked by the FeverApi endpoint

**Describe

[2022-10-29 10:23] #4698 closed, assigned to nobody

[2022-10-29 12:49] oliversum-ch commented on #4611
No - my shared hosting promised it to forward it to Cpanel, but I don't expect any further answer...

[2022-10-29 20:12] math-GH commented on #4784
I cannot exclude HTML with CSS selectors too, when it is "just" the feed content.

[2022-10-29 20:24] #4723 closed, assigned to math-GH

[2022-10-29 20:30] Alkarex commented on #4776
It is fine again.

Minor thing: the distance between the star and the name of the feed has become a bit short and asymmetric:

![image](https://user-images.githubusercontent.com/1008324/198851296-a39ce7f4-ff6d-46a9-b019-e54be1209b74.png)

[2022-10-29 22:28] math-GH opened #4790 "[BUG] Global view: feeds not alphabetically ordered"
**Describe the bug**
The feed order in subscription management (strictly alphabetically ordered)
![grafik](https://user-images.githubusercontent.com/1645099/198854630-135bd167-1dc6-464b-80a6-3c8656155c30.png)

is not used in global view
![grafik](https://user-images.githubusercontent.com/1645099/198854656-e84a5b60-d6ec-4127-8780-8c142bf720b9.png)

**Expected behavior**
Same order

**Environment in

[2022-10-30 07:51] Frenzie commented on #4784
Yeah, so I'd say go with my original suggestion of `data-sanitized-class="frss-21-aawp"` instead. Or possibly two of them: one original and one prefixed, in which case the prefixed one could potentially just be a `class="frss-21-aawp"`.

[2022-10-30 07:58] Frenzie commented on #4785
Assuming the comment there is accurate the cause is clear, since it's a `user` extension, not `system`. In which case either the behavior or our docs are a bit strange because the advertised difference is just if it's for all users or individually toggled.
https://github.com/FreshRSS/FreshRSS/blob/1fe66ad020ca8f0560bb9c6e311852ed77228f78/p/api/fever.php#L485-L486

[2022-10-30 07:59] math-GH commented on #4784
I think it is a bug, because the setting does not look like, that it is only valid for scrapped web content.

[2022-10-30 08:12] Frenzie commented on #4784
Oh, I just realized you were talking about something complete different. I thought you were talking about what you get in, for example, the RSS export. (Sorry, I was very tired from 3 days of like 7:30 to 19:00 in Brussels.) Then you get the data-sanitized-class thing but you can't properly match it.

[2022-10-30 10:03] #4776 closed, assigned to nobody

[2022-10-30 11:34] Alkarex commented on #4611
I cannot reproduce any problem at the moment, even with slightly wrong settings.
It might have been a combination of browser cache and wrong settings.

[2022-10-30 11:34] #4611 closed, assigned to nobody

[2022-10-30 11:36] #4766 closed, assigned to nobody

[2022-10-30 16:37] nexus-uw commented on #4785
@Frenzie  :+1:

so i was able to configure it properly by doing the following:
1. changed `type` from `user` to `system` here https://github.com/FreshRSS/Extensions/blob/master/xExtension-ImageProxy/metadata.json#L7
2. added `"Image Proxy"=>true` to the `extensions_enabled` in my *config.php* (extension name pulled from https://github.com/FreshRSS/Extensions/blob/master/xExtension-ImageProxy/metad

[2022-10-30 16:38] #4785 closed, assigned to nobody

[2022-10-30 22:09] math-GH commented on #4658
@Pyr0x1 Thanks a lot for your contribution. Could you please have a short second look onto this 2 lines, that are not translated into Italian?

https://github.com/FreshRSS/FreshRSS/blob/65837de0e1d18aebb5f3b5664a925b8a19e0b214/app/i18n/it/sub.php#L101-L104

Thanks a lot.

[2022-10-31 07:23] Tuphal commented on #4638
tinkering around I found the issue:
'trusted_sources' did not have the internal docker network mentioned, which differs from the LAN address range.

There were no changes on the network, which made this issue not clear.

[2022-10-31 07:30] Alkarex commented on #4638
Thanks for the investigation, @Tuphal

[2022-10-31 07:31] Alkarex commented on #4638
Maybe we should add a hint in the error message

[2022-10-31 10:25] amusicsite opened #4795 "[BUG] Error during context user init!"
Every page displays the error message Error during context user init! on desktop Ubuntu while on my Android phone I can get into the setting but feeds not updating.

Before been using it for a few years without problem

Current version 1.20.0

[2022-10-31 10:41] Alkarex commented on #4795
Please provide more information, in particular your platform (Web server...) and how you install and update FreshRSS:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scr

[2022-10-31 10:43] Alkarex commented on #4795
Try to re-apply the access rights. E.g.:

[code]

[2022-10-31 11:02] amusicsite commented on #4795
Please provide more information, in particular your platform (Web server...) and how you install and update FreshRSS:

cPanel Version | 106.0 (build 9)
Apache Version | 2.4.54
PHP Version | 8.0.24
MySQL Version | 8.0.31
Architecture | x86_64
Operating System | linux

Ran the command:
sudo chown -R :www-data . && sudo chmod -R g+r . && sudo chmod -R g+w ./data/

Not seemed to have changed anything.

[2022-10-31 11:20] Alkarex commented on #4795
It does not look like the same symptoms, but please check your `base_url` in `data/config.php`

Potentially related cPanel issue https://github.com/FreshRSS/FreshRSS/issues/4611#issuecomment-1245912337

And please check your Web server logs, and FreshRSS logs in `./data/users/*/log*.txt`

[2022-10-31 11:44] amusicsite commented on #4795
It was http rather than https but otherwise base url was ok and changing to https seems to have done nothing.
FreshRSS logs since issue:
[Mon, 31 Oct 2022 08:49:48 +0000] [warning] --- FreshRSS_CategoryDAO::addColumn: kind
[Mon, 31 Oct 2022 08:49:48 +0000] [warning] --- FreshRSS_CategoryDAO::addColumn: lastUpdate
[Mon, 31 Oct 2022 08:49:48 +0000] [warning] --- FreshRSS_CategoryDAO::addColumn: erro

[2022-10-31 17:58] math-GH commented on #4767
I cannot reproduce it.
Which error message do you get? Could you please support us with a screen shot?

[2022-10-31 18:07] math-GH commented on #4295
updated list:

- Alternative Dark (8)
- Ansum (1)
- Blue Lagoon (0)
- Dark (2)
- Flat (0)
- Mapco (5)
- Origine (4)
- Origine-compact (4)
- Pafat (2)
- Screwdriver (0)
- Swage (3)
- own theme (1)

[2022-10-31 19:26] fatuuse commented on #4767
No error message.

If I click on this link:
https://feeds.test.com/i/?c=feed&a=add&url_rss=https://rss-bridge.test.com?action=display&bridge=DuckDuckGo&u=test2&sort=%2Bsort%3Adate&_cache_timeout=21600&format=Atom

It will cut the link in the add input form at the next & sign.
That's not the whole url for the atom feed.

If i convert the url in rss-bridge with som urlencode the & are converted to &

[2022-10-31 19:30] math-GH commented on #4767
Please check the URL:

`...&url_rss=https://rss-bridge.test.com/action=display&bridge.....`

there is one `=` too much (between `action` and `display`)

[2022-10-31 20:59] fatuuse commented on #4767
That's right. The link should be https://feeds.test.com/i/?c=feed&a=add&url_rss=https://rss-bridge.test.com?action=display&bridge=DuckDuckGo&u=test2&sort=%2Bsort%3Adate&_cache_timeout=21600&format=Atom

But this will still cut the link with API /i/?c=feed&a=add&url_rss=%s
Before the first & in a RSS feed with query strings.

[2022-10-31 21:10] math-GH commented on #4767
It works for me:
![grafik](https://user-images.githubusercontent.com/1645099/199111025-dd286aaa-4dcf-44a3-8d20-50990d5a4fe0.png)

![grafik](https://user-images.githubusercontent.com/1645099/199111442-5e9b3dbb-9c51-484f-82c1-dc632a96eee6.png)

[2022-10-31 21:36] Jorenar commented on #2988
How can I generate feed of a query?

[2022-11-01 08:31] fatuuse commented on #4767
That's right. It work in the way that the full url will show up in the input form. But won't work in FreshRSS because &amp; are not translated to &. I have to manually remove amp; from &.
It not a big issue, but just some extra work.

Each parameter between each & are used in rss bridge to create the right atom feed.

[2022-11-01 09:46] letshin commented on #2377
Sorry to revive this, but I have some interest in this as well. Did anyone do anything on this yet and how would one add custom CSS - do I need the CSS plugin for this? I found the CSS file here: themes/base-theme/template.css?1643984677. Is it fine to edit this?

[2022-11-01 10:43] aledeg commented on #2377
If you use the _customCSS_ plugin to do such thing, it will work and you wont lose your modification after a FreshRSS version update.

You could modify the _template.css_ but it will be overriden during a FreshRSS version update.
If you want to modify permanently the _template.css_ file, you'll need to commit the changes, make a PR to the current codebase, and wait for maintainers to valid it and

[2022-11-01 11:22] math-GH commented on #2988
Create/Select a query and take the RSS feed.

![grafik](https://user-images.githubusercontent.com/1645099/199222195-9fb98f1e-860d-4cc0-8a78-47337412175b.png)

Does it work for you?

[2022-11-01 13:15] Jorenar commented on #2988
It's a bit convoluted way of filtering, ~~but I can work with this. Thanks!~~

I really don't feel comfortable with sharing the feeds to everybody.
Is there any way to keep the query feed private?

[2022-11-01 17:15] beevme opened #4804 "[Feature] Sub Category for Category"
Hi, If it's not available, please add a sub category feature for category.

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you’d like**
For Example, something like this:

[Category] YouTube

[Category] Reddit

[2022-11-01 17:44] aledeg commented on #4804
Duplicate of #3833

[2022-11-01 21:21] #4804 closed, assigned to nobody

[2022-11-02 20:22] h4rp00n33r commented on #4560
First of all, thanks for your hints @Alkarex. But...

When I'm adding `CURLOPT_IPRESOLVE => CURL_IPRESOLVE_V4,` to the `./data/config.php` file manually, everything works fine. But with the next edit of global settings, that curl option disappears again.

So until this option isn't implemented in the UI I would be glad to get a hint as @butjer mentioned before: Which field attributes do we have to

[2022-11-02 21:16] #4658 closed, assigned to nobody

[2022-11-02 21:16] #4657 closed, assigned to nobody

[2022-11-02 22:19] Alkarex commented on #4767
The `url_rss` parameter must be URL-encoded.

Example of raw URL: `https://alexandre.alapetite.fr/tag/socialRSS?a=1&b=2`

Must become: `https://freshrss.example.net/i/?c=feed&a=add&url_rss=https%3A%2F%2Falexandre.alapetite.fr%2Ftag%2FsocialRSS%3Fa%3D1%26b%3D2`

Please try with that link (adapted to your server name) and report.

---

@fatuuse You write:

This link is wrong because it already conta

[2022-11-02 22:19] #4767 closed, assigned to Alkarex

[2022-11-02 22:46] Alkarex opened #4808 "[BUG] sub.category.new"
`sub.category.new` key does not exist

When using `/i/?c=feed&a=add&url_rss=%s`

And the option to add a new category at the same time does not seem to work (I cannot remember whether it was purposely removed, never worked, or is a regression)

Found when testing https://github.com/FreshRSS/FreshRSS/issues/4767

[2022-11-03 11:50] fatuuse commented on #4767
Thx for the help. I thought it was a bug in FreshRSS, but I hade som error at my side in rss-bridge.

[2022-11-03 15:54] Alkarex commented on #4767
If this RSS-Bridge button is a feature you have developed, maybe you could provide link to it, as it might interest others