[2022-11-03 16:04] fatuuse commented on #4767
Of course! Maybe it suits best in rss-bridge Gihub.

[2022-11-03 20:24] Alkarex commented on #4767
Yes, but we could have a reference from here as well

[2022-11-03 20:27] math-GH commented on #4808
I can reproduce it.

![grafik](https://user-images.githubusercontent.com/1645099/199827051-ea904e07-591e-4dd9-a0b5-60dddee05fae.png)

But I do not understand why there is an input, that is hidden

[2022-11-03 21:36] #4683 closed, assigned to math-GH

[2022-11-03 22:41] amusicsite commented on #4795
Got it working after Restarting PHP-FPM service for Apache

Thanks for the help

[2022-11-03 22:41] #4795 closed, assigned to nobody

[2022-11-04 12:12] Aasemoon opened #4812 "[Feature] Mark as read for normal view vs reading view"
**Is your feature request related to a problem? Please describe.**
In a way yes. The issue is that at the moment if you set the option to mark items as read while scrolling through them, this is enabled for both normal and reading views. Meaning for the view that shows you the content of an item, as well the one that does not. This is a bit inconvenient.

**Describe the solution you’d like**
I'd l

[2022-11-04 14:17] gingerbeardman commented on #4105
Yesterday I logged in to my FreshRSS using Reader 5 iOS and macOS.

It's always been working.

[2022-11-04 14:19] gingerbeardman commented on #1551
Another JSON feed I can't add.

- https://blog.kinopio.club/feed.json

[2022-11-04 14:33] aledeg commented on #4105
@Hukuma1 Could you confirm?

[2022-11-04 14:34] Alwaysin opened #4813 "Error messages could be better in case of an unreachable database"
I had a problem which lead to my database being down.

Symptoms were quite far off the expected ones:
- red flag "A request has failed, it may have been caused by internet connection problems." on top of the opened webpage
- HTTP ERROR 500 when reloading the webpage
- at the same time, no log in /data/users/_/*
- at the same time, logs in Apache2:
[code]

None of these helped me to understand that

[2022-11-04 14:45] gingerbeardman commented on #1551
@Alkarex I just used this small php script to convert a JSON feed to RSS.

https://gist.github.com/daveajones/be26f5ca9cb7559d0c33549b53323770

I hosted it locally on my own web server, and then added the resulting link to FreshRSS.

[2022-11-04 20:07] mrnoname1000 opened #4815 "[BUG] XML entities in Article CSS selector are not unescaped"
**Describe the bug**
The css selector for fetching full articles is returned with HTML escaping intact, which leads to selectors like `[itemprop=&quot;articleBody&quot;]` being passed to CssXPath. The problem seems to be that characters that would be represented as XML entities in the OPML attribute are also being represented as such when being passed around. Other characters have the same problem

[2022-11-05 05:10] mbnoimi opened #4816 "[Feature] Mute feeds by category"
**Is your feature request related to a problem? Please describe.**
I've many feeds (more than 50) under one category.

**Describe the solution you’d like**
Adding an option (single checkbox) in Category options "Mute"

**Describe alternatives you’ve considered**
Currently I fix this issue by editing the database manually by executing the following query (unpractical solution):
[code]

[2022-11-05 08:39] math-GH commented on #4816
What do you mean with "disabled"?

Do you mean "mute"?

![grafik](https://user-images.githubusercontent.com/1645099/200111296-8a3fb846-bbf6-45a7-a7d3-8f3d886658fd.png)

[2022-11-05 08:44] mbnoimi commented on #4816
yes

[2022-11-05 16:24] aledeg opened #4817 "[Feature] Introducing Architecture Decision Record (aka ADR)"
**Is your feature request related to a problem? Please describe.**
Not really a problem but a way to eliminate the bus factor. I think it would be nice that we decide to use ADR to document the choices we made in the past and the choices we will make in a future. This will help us determine why we've done things in a certain way, what were the options considered, what was the context, what was the

[2022-11-05 16:34] 5-star opened #4818 "Documentation: Quick Run -e 'CRON_MIN=1,31' documentation not working, CRON_MIN=*/20 works"
In windows using quotes when creating the docker container using the Quick Run command, does not update the CRON_MIN parameter, so cron and the auto-refresh will not work: -e 'CRON_MIN=1,31'

Removing the quotes -e CRON_MIN=*/20 works

[2022-11-05 16:42] Hukuma1 commented on #4105
Sorry, I've since moved on to greener pastures. :/

Happy to close this out if others have no issue with it?

[2022-11-05 17:14] aledeg commented on #4105
@Hukuma1 What are the reasons you've decided to move on? This is to know what was missing for you to stay with us. Thank you.

[2022-11-05 17:15] aledeg commented on #4105
I think we can close that for now. If this arise again, we'll reopen that issue.

[2022-11-05 17:55] Hukuma1 commented on #4105
Oh no, I still use FreshRSS daily! Please keep up the excellent work. I meant I moved on from Reeder. ;)

[2022-11-05 18:48] aledeg commented on #4105
Oh! I understand. Great!

[2022-11-05 23:04] faridalizade opened #4819 "[Feature] Important. Article Content (flux_content) is too long. Need shorter."
Hello,

I hope to find any solutions now how to fix long article to make shorter. E.g. I can chose word counter 30 that after user can go to with Read More to website.

It means videos or photos can be shown but article is must be short. Of course portrait images also gets long, in the future you can make some gallery type.

Thank you.
<img width="153" alt="Screen Shot 2022-11-06 at 03 08 24" src=

[2022-11-06 00:01] math-GH commented on #4817
I like it.

What are your top3 topics/decision from the past that needs from your point of view an ADR?

[2022-11-06 05:00] ryancom16 commented on #4323
Hi! I have a working solution that I  have been using for a couple years and could be implemented into an extension. I use
[FlareSolverr](https://github.com/FlareSolverr/FlareSolverr). FlareSolver is able to render pages protected by cloudflare.

I run both FreshRSS and FlareSolver in separate docker containers.

The biggest barrier between FlareSolverr and FreshRSS is that FlareSolverr needs a po

[2022-11-06 05:03] ryancom16 commented on #4323
Check out [Prowlarr](https://github.com/Prowlarr/Prowlarr) and how they implement the cloudflare bypass.

[2022-11-06 09:55] helmut72 opened #4820 "[BUG] Export feeds crash since 1.20.0"
**Describe the bug**
It's not possible to export feeds in `subscription managment -> import/export -> export`. FreshRSS crashes.

This is the log entry:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'subscription managment -> import/export -> export'
2. Click in the box on 'FreshRSS releases'
3. Click on 'export'
4. See error

**Expected behavior**
No crash like with 1.19.2 an

[2022-11-06 09:56] pokemaster974 opened #4821 "[BUG] Characters unauthorized into database name and SSL issue"
**Describe the bug**
I've already FressRSS self-hosted into my NAS with a sqlite database.
I'm trying to install it on a no self-hosted setup.

So, I've deployed the docker container via fly.io
I think fly.io could use a sqlite database into the volume linked, but I want to use an external database because in case of migration I couldn't export fly.io volume.
No issue with deployment.

For the dat

[2022-11-06 10:54] aledeg commented on #4817
I do not have a list of topic that comes immediately to mind. Just the one thing I was wondering is why we do have the `_` user. Nobody knows why and it's bugging me. :crying_cat_face:

[2022-11-06 11:03] aledeg commented on #4820
I've tried and it's working properly for me. I am using the latest version on the dev branch. Maybe it was fixed between the release and now.

[2022-11-06 12:37] helmut72 commented on #4820
Did a git clone -depth=1 right now, moved/replaced all files to my app folder: "Your current version of FreshRSS is 1.20.1-dev"
Result: still doesn't work

Unpacked 1.19.1, moved/replaced all files to my app folder: "Your current version of FreshRSS is 1.19.2"
Result: works

Updated again to 1.20.0.
Result: doesn't work

Database is MariaDB Docker image `mariadb:10-focal` (server 10.7.3-MariaDB-1:

[2022-11-06 15:46] Alkarex commented on #4820
The exception should now be avoided with this patch https://github.com/FreshRSS/FreshRSS/pull/4822
However, I could not reproduce the problem.
Could you check whether you have any logs in MariaDB?
Could you try the patch and tell us what output you get after that?

[2022-11-06 15:55] Alkarex commented on #4323
Looks good @ryancom16 👍🏻

[2022-11-06 15:59] Alkarex commented on #4819
Hello @faridalizade
I have not completely understood your use-case. Could you explain a bit more?
In particular, are you using an app, or FreshRSS Web interface?
We do not have any build-in option at the moment to limit the length of articles, however the default views can show the title and a summary.

[2022-11-06 16:00] #4105 closed

[2022-11-06 16:39] Alkarex commented on #4815
Probable duplicate of https://github.com/FreshRSS/FreshRSS/issues/4705
Could you please try our edge branch?

[2022-11-06 16:45] Alkarex commented on #4818
PR welcome.
Let's check first whether there is a syntax that works well on both Linux and Windows

[2022-11-06 17:22] helmut72 commented on #4820
Unfortunately another error:
[code]

I'm no SQL expert, I hope this is what you ask for:

[code]

Don't wonder about the other path /var/www, this is my container for testing. Everything else looks good, no problems until now.

[2022-11-06 18:50] faridalizade commented on #4819
Hello,

Thanks for quick reply. I use FreshRSS Web now and I see some news specially in Mobile Devices are very long. When someone opens an Article they can see 5-10 pages news article in that news. It means to the next news user must to scroll long way.

And second bad side of this is; news publisher website want to catch all users to their websites to have more activity on background and Google

[2022-11-06 19:09] mrnoname1000 commented on #4815
I should already be up to date on edge and I still have the issue. After saving it appears to be decoded in the UI, but in the backend it's still quoted.

[2022-11-06 19:28] Alkarex commented on #4815
Can you try to save the filter again from the UI?

[2022-11-06 19:37] Alkarex commented on #4820
@helmut72 It does not look like the patch has been applied before your new test. Could you double-check that your `app/Models/CategoryDAO.php` looks like https://github.com/FreshRSS/FreshRSS/pull/4822/files from inside your Docker container?

[2022-11-06 19:46] mrnoname1000 commented on #4815
After saving again it still appears fine in the UI, but the issue persists. Also the issue occurs even without submitting, so I think #4705 is a separate issue.

[2022-11-06 19:47] Alkarex commented on #4705
@math-GH Could you please double-check that is works for you?

[2022-11-06 19:49] helmut72 commented on #4820
Oh, sorry. Now I have directly downloaded the file `CategoryDAO.php` and it works now!

Of course also thank you! Should I close the issue?

[2022-11-06 20:12] Alkarex commented on #4820
Could you please check your output? Ideally compare with an export using a previous version of FreshRSS

[2022-11-06 20:21] helmut72 commented on #4820
Then I want to test it with my productive system, where I have a lot more articles and need to downgrade first. Can try it in the next 2 days.

[2022-11-06 21:11] Alkarex commented on #4820
A test of the outputs from your test system would already be good

[2022-11-06 21:43] Alkarex commented on #4815
@mrnoname1000 Could you please test this patch? https://github.com/FreshRSS/FreshRSS/pull/4823

[2022-11-06 22:23] mrnoname1000 commented on #4815
That seems to have fixed the issue but only for the filter selector, the article selector still has the issue.

[2022-11-06 23:05] Alkarex commented on #4815
I had forgotten to also fix the preview function. Please try again.

[2022-11-07 04:14] mrnoname1000 commented on #4815
I tested with the preview function and both fields work as expected! I haven't tested a feed refresh yet but the preview and submit definitely work.

[2022-11-07 07:34] #4815 closed, assigned to nobody

[2022-11-07 13:27] 9pr19 opened #4826 "[BUG] On folded view click on the article title do not open the article but redirect to the article URL"
**Describe the bug**
On folded view left click on the article title do not open the article in freshrss but redirect to the article URL in new tab.

**To Reproduce**
Steps to reproduce the behavior:
Left Click on article title and you get redirected in new tab to the website instead of opening the article inside freshrss.

**Expected behavior**
Open the article in FreshRSS like I’m use to.

**Scre

[2022-11-07 13:36] Alkarex commented on #4826
Hello,
This typically happen when the JavaScript code has not been loaded or has been blocked.
Check your browser logs / developer console / network tools to find out.
Try also with another browser, as it might be a badly configured extension or browser settings.

[2022-11-07 14:10] 9pr19 commented on #4826
@Alkarex ,
Indeed it seems to be working in another browser.

In the one where I have the problem here is the JS log:

![image](https://user-images.githubusercontent.com/25961602/200330396-721c86ce-9bbb-4785-b1ff-cf9f8284457d.png)

Thank you very much for your time.

[2022-11-07 14:37] Alkarex commented on #4826
Could you please try this patch? https://github.com/FreshRSS/FreshRSS/pull/4827

[2022-11-07 15:33] 9pr19 commented on #4826
Will try tonight. Thank you four your faster than light patch.

[2022-11-07 18:23] #4826 closed, assigned to nobody

[2022-11-07 18:24] #4820 closed, assigned to nobody

[2022-11-07 18:50] math-GH commented on #4705
it works fine for me

[2022-11-07 19:24] 9pr19 commented on #4826
@Alkarex
I confirm this patch solved the problem.
I tried with and I’m not redirected anymore then removed the patch and redirected again.
Thank you for your very quick fix

[2022-11-07 20:41] Alkarex commented on #4826
Thanks for the feedback 👍🏻

[2022-11-07 23:07] gbakeman opened #4831 "[BUG] duplicate key value violates unique constraint "frss_[user]_entry_id_feed_guid_key" after PGSQL 15 upgrade"
**Describe the bug**
It seems that after upgrading PostgresQL to version 15, FreshRSS has a few persistent items in my feed that remain unread and I cannot mark them as read.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an active database in PGSQL 14 with several feeds and items.
2. Upgrade the database to version 15, and run it with the same version of Postgres.
3. FreshRSS seems to

[2022-11-07 23:23] gbakeman commented on #4831
Update: I've manually gone through my database, looking at data in the frss_[user]_entry table searching for anything that matches the URLs in the errors above. For each URL, I found two separate entries. I've removed each and every one from the table, and it seems they have been removed from my feed. Not sure if this was a bug in FreshRSS that put them there in the first place?

[2022-11-08 10:01] Alkarex commented on #4831
Probably something was missing in the PostgreSQL upgrade process.

The error is triggered during an operation that is not adding a new entry, just updating a column (not one with a constraint):

https://github.com/FreshRSS/FreshRSS/blob/44c0575e25eca4dde827db63914367f1ebffe031/app/Models/EntryDAOSQLite.php#L130-L137

This is a simple uniqueness constraint that is 6 years old (nothing new):

https:

[2022-11-08 10:04] Alkarex commented on #4831
Searching a bit on the Web, I can see several other bug reports due to indexes becoming out of sync during an upgrade, though I have not searched enough to find a bug exactly similar to that one.

E.g.:
* https://stackoverflow.com/questions/24447930/postgresql-duplicate-key-value-violates-unique-constraint-on-update-command
* https://hcmc.uvic.ca/blogs/index.php/how_to_fix_postgresql_error_duplica

[2022-11-08 10:05] Alkarex commented on #4831
It could be interesting to see a backup from before the upgrade. Would you happen to have one (e.g. our built-in export to SQLite)?

[2022-11-08 17:10] math-GH commented on #4819
Each website can decide what is written in their RSS feed. A short summary or the full article. Do they want to trigger the reader to come over to the website or not. Some websites do not care about visitors and put the whole article into the RSS feed. That is fine.

I agree with you, that the UX is not good, if the content is very long.

Right now you can handle it with the navigation bar: Click

[2022-11-08 17:19] Frenzie commented on #4819
Disagree, I think it's the best. The best may not be particularly good, but it's still the best. ;-)

[2022-11-08 17:22] math-GH commented on #4819
You could active this setting in the "Reading" configuration:
![grafik](https://user-images.githubusercontent.com/1645099/200632758-8bf81dc4-5cf0-4e84-a286-52e8627fd141.png)

When you click on the left/right empty space the article will collapse

[2022-11-08 18:12] faridalizade commented on #4819
Hello,

Thanks for quick reply. I think we do everything for the end users who are using these services with not confusing or with the best UX designs. Because human making for another human.

In this situation, I have already activated that checkbox and I already added NavBar with scroll up. Of course these two options are very useful, but I already stay on my mind about limited text in articles.

[2022-11-08 19:19] math-GH opened #4832 "[Feature] Telegram"
Second thing that is very interesting I can not find any option to add e.g. any Telegram Feed to the Feeds.

Maybe it will be very laughty, but I can not find About Page Project Website to change link there. Is it changeable or static?

Thank you.

_Originally posted by @faridalizade in https://github.com/FreshRSS/FreshRSS/issues/4819#issuecomment-1307638161_

[2022-11-08 19:20] math-GH commented on #4819
I created a new ticket for the Telegram sharing option, so we can keep here at the topic ;)

[2022-11-08 19:22] math-GH commented on #4832
@faridalizade: can you please explain what you mean with "Feed to the Feeds" and "About Page Project Website"?

[2022-11-08 19:29] aledeg commented on #4819
That's the same thing on the original website. If the article is long, you have to scroll. I cannot see other thing to do in that context.

FreshRSS does not tamper with the content. If a publisher decide to send 100.000 words in an article, it will accept it.

I kind of disagree with that. If I am interested in the subject (usually I am since I've subscribed to the content), I want to read it com

[2022-11-08 21:37] fatuuse commented on #4767
https://github.com/RSS-Bridge/rss-bridge/issues/3137

[2022-11-08 21:47] faridalizade commented on #4819
I think I am trying to explain such things again.

For example newsblabla.co website owner of course want to get more readers on his/her website. Why? Because I already added above, Google Analytics. If you say that Google Analytics can receive an information from FreshRSS too, so it is OK. But I am not sure that some News Portal owners wants to let to users read their news in another news platfor

[2022-11-08 21:52] faridalizade commented on #4832
Hello, sorry for confusing you.

1. Telegram Feed to the FreshRSS Feeds. I mean I want to add any Telegram Channel or Groups to FreshRSS feeds. I did not find any info about it. Is it possible?

2. About FreshRSS page have some information. One of them https://freshrss.org website under Project Website. I did not find that link how to modify it. Is it possible?

Thank you.

[2022-11-08 23:02] gbakeman commented on #4831
@Alkarex First, thank you so much for your detailed responses in looking into this issue. I admit I no longer have an easy to access backup of the v14 database (I was reading some advice in the upgrade guide that the v14 database becomes useless after the upgrade), so I'm afraid I can't provide a copy at this time. I have to agree with your analysis that this was likely a bug with the upgrade proc

[2022-11-09 10:40] #4727 closed, assigned to nobody

[2022-11-09 10:41] Alkarex opened #4835 "Slider URL bugs"
1. http://localhost:8080/i/?c=subscription&a=feed&id=236 is the URL used after adding a feed. This shows a standalone feed configuration. This configuration cannot be reach through a menu item. It takes the whole width of the panel (no slider).
2. http://localhost:8080/i/?c=subscription&id=236 was the URL used after adding a feed. This URL is not working anymore. The `id` part of the URL has no ef

[2022-11-09 16:18] math-GH commented on #4832
Does Telegram have RSS/Atom-feeds?

Why do you want to modify the link to the freshrss.org website?

[2022-11-09 16:23] math-GH commented on #4819
News Portal owner can decide how much content the portal delivers via RSS. It is their own decision to give just a short summary or the full article. If they want to lure visitors (for any reasons) then they can do it.

It does not make sense to speculate what news portal owners want and do not want.

For me it is a very weak argument to shorten the article content in FreshRSS.

[2022-11-09 20:31] squromiv opened #4838 "[Feature] Hide feed title in normal view"
I need to hide repeated feed titles in order to save reading space. I guess it could be made by Custom CSS extension, but not sure and have zero coding knowledge. So how to achieve this?
![1](https://user-images.githubusercontent.com/15985877/200935591-1ab9d595-16bb-4e54-8d44-2b909a6d8e59.jpg)

[2022-11-09 21:07] Alkarex commented on #4838
You can hide this column with something like:

[code]

We could add a class to make it easier to style only in feed views and not in categories or global views.

[2022-11-09 22:03] math-GH commented on #4838
I have it also hidden. This code keeps the favicon and hide the text:

[code]

[2022-11-10 01:02] Aasemoon commented on #4816
I second this. I also definitely need a way to mute a whole category, or just somehow not include it in the main stream.

[2022-11-10 07:05] squromiv commented on #4838
Not bad. Cause I am not the only person, using this option, as @math-GH has noted.

[2022-11-10 09:08] squromiv commented on #4838
UPD
How to apply this setting for all users now? CSS extension creates separate configs.

[2022-11-10 22:01] math-GH commented on #4838
right now it is not implemented to have this setting

[2022-11-11 07:40] Alkarex opened #4839 "Consider Apache H2EarlyHints"
https://httpd.apache.org/docs/current/howto/http2.html#earlyhints
For performance
https://zestedesavoir.com/billets/4312/http-103-les-early-hints/

[2022-11-11 16:26] Jestre opened #4840 "Error trying to switch to edge branch"
I haven't used my install in a while, and today I tried to update it but encountered the same error as in #3665 - that is, it tells me to check out the edge branch manually.  I tried to follow the steps in that issue, but I get the following at the first command:

[code]
I followed the directive, and confirmed it was added, but each command still fails with the initial message:

[code]

Any ideas?

[2022-11-11 17:22] Jestre commented on #4840
Apparently one must change ownership of the enclosing folder to get past that.  Do not know why the git-offered command does not work.

[2022-11-11 17:22] #4840 closed, assigned to nobody

[2022-11-11 18:18] squromiv commented on #4534
The issue went away after choosing Settings->Archiving->Optimize for every "problematic" database. Don`t know what was the reason.

[2022-11-11 18:18] #4534 closed, assigned to nobody

[2022-11-11 18:58] squromiv commented on #3849
1.20.1 dev.
Attempt to import json (previously exported from FreshRSS)->Blank page loads (is it normal?)->Refreshing the page->Feed looks imported without any feed entries. So the original issue has gone. Let`s close.

[2022-11-11 19:05] squromiv commented on #2536
Let`s close this and follow #2426

[2022-11-11 19:05] #2536 closed

[2022-11-11 22:56] math-GH commented on #3849
a white page means usual a PHP error, that is hidden. Could you check the logs?

[2022-11-12 01:54] aledeg commented on #4790
Actually, the order is applied only in the subscription view. The global view and the normal view are not ordered.

[2022-11-12 08:46] squromiv commented on #3849
Thanks for attention. Recreated test profile and there is no error now. So it`s better to concentrate on other issues. If I run into this again and explore log errors, I'll let you know.

[2022-11-13 11:00] aledeg commented on #2788
Duplicate of #690

[2022-11-13 11:05] aledeg commented on #2380
Is this a duplicate of #3279?

[2022-11-13 12:00] aledeg commented on #2518
Do we want that in the title with the risk of overloading it?
Or do we want to be able to display it as a new column?

[2022-11-13 20:28] math-GH commented on #4808
`sub.category.new` was removed from the i18n files within #3027

[2022-11-13 20:49] math-GH commented on #4808
this PR #4808 did not clean completely the i18n String.

[2022-11-13 21:01] math-GH commented on #4784
Are we talking about this?
![grafik](https://user-images.githubusercontent.com/1645099/201544359-f82115dc-998d-4e32-8e3c-eb278d57bdc4.png)

[2022-11-13 21:11] math-GH opened #4845 "menu for mobile isn't that nice"
layout for mobile isn't that nice:
![telegram-cloud-photo-size-4-5816864034098625245-y](https://user-images.githubusercontent.com/9625159/188702502-3545a7b2-a7f4-4387-a4e6-eebe80a84b2e.jpg)

clicking on folder icon sometimes results in "mark all as read" button below. the other icons are also very close together.
i would also move the icons themselves.

_Originally posted by @beerisgood in https:/

[2022-11-13 21:15] math-GH commented on #4585
I created a new ticket for the menu thing: #4845
So we can close this ticket here.

[2022-11-13 21:15] #4585 closed, assigned to nobody

[2022-11-13 22:31] Tone866 commented on #4784
Yes

[2022-11-14 12:12] #4808 closed, assigned to nobody

[2022-11-14 13:31] Aasemoon opened #4847 "[BUG] Bookmarklet failing"
**Describe the bug**
I recently tried the bookmarklet for the first time. So I dragged the button to my bookmarks toolbar, went to various pages with feeds, clicked on the button and have been getting this error:

_"Not Acceptable!
An appropriate representation of the requested resource could not be found on this server. This error was generated by Mod_Security."_

Should also mention that I recen

[2022-11-14 13:54] #2666 closed

[2022-11-14 13:57] #4779 closed, assigned to nobody

[2022-11-14 14:22] Alkarex commented on #4847
Mod_Security seems to be abandoned? https://www.modsecurity.org/

Anyway, Mod_Security might detect that a URL is passed as parameter.
As far as I can see, the URL is properly encoded, so there should be no problem and most likely a sign of overzealous configuration, so that might require telling Mod-Security to accept it.
Can you show the URL generated by the bookmarklet and also try to paste it

[2022-11-14 16:32] Aasemoon commented on #4847
@Alkarex That's right, I'm also not sure why my host is still using mod_security.

Here's an instance of the generated URL:
http://freshrss.example.net/p/i/?c=feed&a=add&url_rss=https%3A%2F%2Fwritings.stephenwolfram.com%2F

Manually pasting doesn't seem to make any difference. Thanks for getting back to me at any rate.

[2022-11-14 17:07] axeleroy opened #4849 "[BUG] Mapco theme: incorrect font is used for font-weight: bold"
**Describe the bug**
Following #4711, Lato Regular is used instead of Lato Bold for `font-weight: bold`. Because of this, bold text is no longer displayed as bold in the Mapco theme.

We can see in the following screenshot, that when italic is added, then the text is correctly displayed as bold and italic because the `@font-face` correctly uses Lato Bold Italic.

**Screenshots**
![image](https://u

[2022-11-14 19:29] Alkarex commented on #4847
Not related to this issue, but your configuration would be better by putting the Web root inside the `./p/` directory, so that your public URL looks like `https://freshrss.example.net/i/` and not like ~~`https://freshrss.example.net/p/i/`~~
If you make that change, remember to update your `base_url` accordingly in `./data/config.php`

[2022-11-15 09:43] Aasemoon commented on #4847
@Alkarex Ah sure, thanks for the suggestion! =)

[2022-11-15 10:54] squromiv commented on #2518
I think so. As in other readers. But let`s discuss.

[2022-11-15 11:39] Aasemoon commented on #4847
Just a quick update, the issue was indeed to do with mod_security going haywire. Whitelisting the application solved the issue.

[2022-11-15 11:39] #4847 closed, assigned to nobody

[2022-11-15 11:57] quella opened #4854 "[BUG] greader API latest Docker Dev Build"
**Describe the bug**
After installing the latest ARM Docker Dev build 1.21-0-Dev an the previous build, my third-party Reeder application on MacOS and iOS no longer works/syncs to the application.  I do not see anything when I look at the logs for FreshRSS, and the Reeder app does not have any logs I can see.  When I try to sync, it immediately completes the sync as if there is not a connection.

[2022-11-15 12:00] aledeg commented on #4847
Thank you for your feedback!

[2022-11-15 12:34] quella commented on #4854
I did have to update the API password field  under the profile and then all started to sync again.  I had not had to do that with previous upgrades, so just making you aware.  Thanks for all you do!

[2022-11-15 14:04] quella commented on #4854
So, it seems there is still some issue with the gReader API.  I did update the password in the Profile API and was able to get a sync.  I started to view the feeds on the Reeder App (both Mac and iOS), but the sync in the FreshRSS web GUI does not reflect the mark as read, etc.  After the initial sync, the Reeder application no longer syncs and immediately stops without warnings.  I am currently u

[2022-11-15 14:40] Alkarex commented on #4854
Should be fixed by https://github.com/FreshRSS/FreshRSS/pull/4855

[2022-11-15 14:42] #4854 closed, assigned to nobody

[2022-11-15 14:42] quella commented on #4854
Awesome.  Just using the Web UI now but will be happy when it is fixed.  :)  Thanks again for the great tool.

[2022-11-15 15:02] Alkarex commented on #4854
New Docker images pushed. Please try again and let us know @quella

[2022-11-15 15:04] Alkarex commented on #4854
P.S. Thanks for using the edge images 👍🏻

[2022-11-15 15:10] quella commented on #4854
All Good with the latest update and connections and sync appear to be working as expected.  Thanks!

[2022-11-15 17:52] #4849 closed, assigned to nobody

[2022-11-16 19:33] janaxhell opened #4862 "[BUG] [Android] FreshRSS failed to retrieve content from your FresRSS server"
**Describe the bug**
Android app (installed from F-droid) connects to my server and shows feeds, but as soon as it checks for new ones gives that error. This happens in both my OneplusOne phone with LineageOS 17.1 and Lenovo P11 tablet with latest Android.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Wait a few seconds
3. Error message appears

**Expected behavior**
App should

[2022-11-16 22:23] Alkarex commented on #4862
Hello,
If there is a bug with an app, it should be reported to the developer of that app, in this case https://gitlab.com/christophehenry/freshrss-android

However, before doing that, it is a good idea to check that your system operates as intended, especially if you are having layers such as Cloudflare, which have a tendency to break the Web in multiple manners.

1) Use the self-assessment tests

[2022-11-17 01:33] myuki opened #4864 "Framed articles seem like a bad idea for mobile"
I found #4653 and #4663 in v1.20.1 add framed articles for all theme. But it seems like a terrible idea on my OnePlus 9R. It wastes so much display area and make the articles text become narrow.

![Screenshot_2022-11-17-09-25-58-17_3aea4af51f236e4932235fdada7d1643](https://user-images.githubusercontent.com/27203797/202331948-52bd7f13-df5a-42e8-9c35-03353e1675b1.jpg)

[2022-11-17 03:13] aledeg commented on #4864
@math-GH Could you have a look on that and add some kind of screen size detection to apply such thing?

[2022-11-17 07:45] janaxhell commented on #4862
Ha, I didn't notice there were so many compatible apps. I have tried Raindrops for Android and it works fine.
About the captcha: it was definitely the extension to watch Youtube videos embedded. As soon as I disabled it, it stopped asking. This captcha thing was extended to all my system, I was asked even when I visited Youtube page from any browser "because something was violating Google rules".

[2022-11-17 08:55] Alkarex commented on #4862
Ok. Could you please report your initial problem to https://gitlab.com/christophehenry/freshrss-android ?

[2022-11-17 08:55] #4862 closed, assigned to nobody

[2022-11-17 11:13] janaxhell commented on #4862
How do I do that? Copy the link of this issue or replicate a full copy of my post? I'm not a dev and I see some people just post links, not sure what to do.

[2022-11-17 11:16] Frenzie commented on #4862
It's a completely different place with no relation to here, so I would simply copy the OP (plus other relevant info if it came up) with a backlink to this issue as background information.

[2022-11-17 11:24] janaxhell commented on #4862
I see there is an issue very similar to mine there https://gitlab.com/christophehenry/freshrss-android/-/issues/123
Shall I just replay with the backlink to this?

[2022-11-17 11:28] Frenzie commented on #4862
You mean you see the timeout and oom stuff if you scroll down in your error message? If so then yes.

[2022-11-17 11:31] janaxhell commented on #4862
No, I only see the FAILED part. I'll copy the entire OP.

[2022-11-17 14:06] nicofrand opened #4866 "[BUG] Theme origin-compact: everything (mainly fonts) is bigger since 1.20.1"
**Describe the bug**

Since the version 1.20.1 everything is bigger on the origin-compact theme.
I don't know what exactly but I suspect the root font size is bigger.
I don't have access to 1.20.0 though so I can't compare. I hope you'd know what changed.

**To Reproduce**

Compare 1.20.0 and 1.20.1.

**Expected behavior**

A compact theme with a font size smaller than the current one.

**Screensh

[2022-11-17 18:25] math-GH commented on #4864
You can fix this issue with CustomCSS extension:

[code]

[2022-11-17 18:45] #4864 closed, assigned to nobody

[2022-11-17 18:46] Alkarex commented on #4864
Please test again now that this patch has landed https://github.com/FreshRSS/FreshRSS/pull/4868

[2022-11-17 20:54] artyorsh commented on #4638
I managed to solve this with a bunkerweb/authelia setup by replacing `Remote-User` with `X-WebAuth-User` (accordingly to docs, thanks). Maybe also worth adding `config.custom.php`, which I hope I configured the right way
[code]

[2022-11-17 21:39] math-GH commented on #4866
Origine Compact theme:
Before (till 1.20.0): 80% of your browser standard font size
Now (1.20.1): 90% of your browser standard font size. It is the default for the most themes.

It is up to you how you defined the browser standard font size. Standard is often 16px.

It is very difficult to maintain themes with smaller font sizes. I had a lot of troubles with "jumping lines" in the last weeks.

The

[2022-11-17 21:54] nicofrand commented on #4866
Oh ok, thanks for the information.
I might just use CustomCSS if I can't adapt then!

Great to hear about the general compact mode, nice work!

[2022-11-17 22:03] #4866 closed, assigned to math-GH

[2022-11-18 11:27] mrnoname1000 opened #4869 "[Feature] XPath scraping: Retain HTML structure"
**Is your feature request related to a problem? Please describe.**
When scraping websites with XPath queries, it seems that the scraped HTML is stripped so it appears as plain text in the browser. This is fine for very simple pages, but it becomes ugly when scraping more complex pages with links or some other structure. For example, the [SQLite release history page](https://www.sqlite.org/changes.

[2022-11-18 12:28] Frenzie opened #4870 "OPML category is a text field"
**Describe the bug**
Category is an input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to add subscription or category

**Expected behavior**
It should be a drop down

**Screenshots**
![image](https://user-images.githubusercontent.com/202757/202704850-a1e3f667-f644-4f15-85ef-22da89204c90.png)

**Environment information (please complete the following information):**
- FreshRSS version:

[2022-11-18 12:41] Alkarex commented on #4870
That field is for the name of the new category associated to the dynamic OPML, but I can see that the naming of the field could/should be improved

[2022-11-18 14:03] math-GH commented on #4870
An empty category is needed, isn't it?

[2022-11-18 14:44] Alkarex commented on #4869
I will try to fix.
Quick comment already: your article selector should be: `following-sibling::ol[1]` (without the `[1]` you copy *n* times the full document, where *n* is the number of entries, which becomes very large).

[2022-11-19 02:54] mrnoname1000 commented on #4869
That's true. I noticed only the first result is used so I figured it didn't matter but maybe there's a chance for optimization there.

[2022-11-19 12:59] i-iooi-i opened #4871 "How do I turn off article highlighting？"
![动画](https://user-images.githubusercontent.com/1827701/202851895-ef1ab709-005b-4271-8e90-620f22345729.gif)

I don't like this strong contrast flicker very much. Is there any way to turn off this display?
Or you can provide a CSS method 😂
Thanks~ 💕

[2022-11-19 15:26] lazyzyf commented on #4089
why the official image does not support more platform.such as arm64?

[2022-11-19 17:56] aledeg commented on #4871
You can add a custom CSS rule with customCSS extension

[2022-11-19 22:28] math-GH commented on #4871
#4874 would fix it. Please have a look

[2022-11-20 05:06] yumeng426 opened #4876 "Unable to auto refresh feed"
Can anyone help me on this? I have the freshrss running fine. I can manually refresh feed by clicking the button in toolbar. But I have trouble setting up auto refresh feed. I followed the guide to call actualize_script.php to refresh, but I have failed requirements. I checked that all my Installation check passed.

<img width="665" alt="image" src="https://user-images.githubusercontent.com/118028

[2022-11-20 05:25] i-iooi-i commented on #4871
Thanks for your reply. I hope you can add a switch to let the user decide. Just in the dark mode, this high contrast frequent flashing really affects the reading experience.

[2022-11-20 05:26] i-iooi-i commented on #4871
Sorry, I can't write CSS. I just want to feedback this question. 😂

[2022-11-20 09:03] Frenzie commented on #4876
What do you mean by the guide in this context?

[2022-11-20 11:03] math-GH commented on #4871
We can help you.

When you are using CustomCSS extension just add these lines:

[code]

(tested on Dark Pink theme, It should solve it for the most themes. Origine/Origine compact needs more lines)

[2022-11-20 11:05] math-GH commented on #4871
I see the actual behaviour as a bad UX, because it does not make sense to change the background for a big area while hovering. It reduces the contrast too.
The PR will fix it in general.

[2022-11-20 11:07] alex2702 opened #4877 "[Feature] Allow filtering by tags (exact match)"
**Is your feature request related to a problem? Please describe.**
Filtering by a tag (using `#tag`) currently returns all items that are assigned a tag **containing the searched tag**, i.e. even substring matches. In other words, searching for `#tech` will return items with tags `tech`, `technology`, `biotech`, and `nontechnical`.

This behavior limits the usability of tag search. For example, I

[2022-11-20 11:17] Frenzie commented on #4871
I thought it was a regression? (Which is also bad UX, but still. ;-) )

[2022-11-20 12:47] aledeg commented on #4876
I think your problem is because you're calling the refresh script with the PHP CLI and not through the web-server. You have multiple PHP configurations and they are not identical. The PHP configuration used through the web-server meet all the requirements while the PHP configuration used through the CLI does not.

[2022-11-20 13:28] math-GH commented on #4871
It is a duplicate from #3982 (also created by @i-iooi-i 😆  ), claimed in V1.18

[2022-11-20 13:33] i-iooi-i commented on #4871
Yes, because this question has been bothering me. As an obsessive-compulsive disorder, I have to continue to ask questions one year later. Yes, it's been a whole year, and time is really fast. 🤣🤣🤣

[2022-11-20 13:35] #4871 closed, assigned to nobody

[2022-11-20 13:39] Alkarex commented on #3982
https://github.com/FreshRSS/FreshRSS/pull/4874

[2022-11-20 13:46] #3129 closed

[2022-11-20 13:50] #4790 closed, assigned to nobody

[2022-11-20 16:29] Alkarex commented on #4870
Yes, a new category of that name will be created to host the dynamic OPML

[2022-11-20 17:16] yumeng426 commented on #4876
[This one](https://freshrss.github.io/FreshRSS/en/admins/08_FeedUpdates.html)

[2022-11-20 17:34] yumeng426 commented on #4876
I suspect the same thing. But I cannot figure out where to find the php configuration file. Is this a `.ini` file? I tried to use the same php instead of the one in the system by exposing the `etc` and `usr` from freshrss by
[code]
Then I call the php from freshrss  by
[code]

[2022-11-20 18:23] Frenzie commented on #4876
For the Docker image you can simply set the `CRON_MIN` environment variable.

[2022-11-20 18:46] yumeng426 commented on #4876
I do have this set in docker-compose `CRON_MIN = 3,33`, but it never refreshed. Is there any other work need to do to enable it?

[2022-11-20 20:18] Frenzie commented on #4876
If that's not a typo, note that there should be no spaces in there.

[2022-11-20 23:45] Alkarex commented on #4869
@mrnoname1000 Please try https://github.com/FreshRSS/FreshRSS/pull/4878

![image](https://user-images.githubusercontent.com/1008324/202933051-4ce0c99c-d53d-42e1-8ef1-6548e0a1d4af.png)

[2022-11-21 00:25] mrnoname1000 commented on #4869
It works! However I'm getting a weird issue with the original query `following-sibling::ol` where only the last entry appears. I see you changed the code to save HTML from all returned nodes, so in theory the original query should put the entire rest of the page in an entry, but it doesn't. Maybe the page is just too big?

Also this appears to be a breaking change, so I think users should be notif

[2022-11-21 00:50] Alkarex commented on #4869
The selector `following-sibling::ol` is most likely too big indeed.
We always have a changelog, but I cannot immediately think of use-cases that would break due to this change.

[2022-11-21 00:58] yumeng426 commented on #4876
I have tried these syntax in environment to get it refreshed. But none of them worked so far.

[code]

[2022-11-21 01:01] mrnoname1000 commented on #4869
Well `following-sibling::ol` for one. It's incredibly inefficient but the original behavior discarded all but the first result and the new behavior, for whatever reason, neglects to return all but the last entry. Also for smaller pages where the scraper doesn't break, articles will suddenly have different content than expected. It might be fine if the content is the only change, but if queries are

[2022-11-21 08:02] faridalizade opened #4879 "GA4 Content Security Policy issue"
Hello,

I can not add (layout.phtml) Google Analytics to my website. I see there is CS Errors.

I removed .htaccess CS Headers but still continues. I checked all issues on here and can not find any similar with mine.

Thanks.

[2022-11-21 09:42] Frenzie commented on #4876
As I said, `- CRON_MIN = 3,33` can't work unless Docker does additional parsing on top of YAML.

All of the others should probably work; you'd have to give it a try. `docker exec container_name /usr/bin/env` will tell you.

Here's the known working sample:
https://github.com/FreshRSS/FreshRSS/blob/9b674e7e9390d19c1a9686710d78164a41ad31d1/Docker/freshrss/docker-compose.yml

[2022-11-21 11:49] t3dium opened #4880 "[Feature] max num of articles to keep based on storage rather than count"
currently freshrss has an option to purge older articles once the count exceeds this number
![image](https://user-images.githubusercontent.com/83690012/203044587-ad703304-c9e4-4d00-a5f6-639c7eeef295.png)

however, it'd useful to have an option to instead purge older articles when exceeding a certain number of GB

also, just a question: aside from more storage being consumed and search being slower

[2022-11-21 12:18] Alkarex commented on #4869
I have just realised there was a mistake in one of my variables. Please try again https://github.com/FreshRSS/FreshRSS/pull/4878

[2022-11-21 14:28] Alkarex commented on #4880
I regularly have instances with 100k+ articles for a single account without noticeable problem with any database (SQLite, PostgreSQL, MariaDB...)

[2022-11-21 14:47] Alkarex commented on #4879
Besides Google Analytics being forbidden in EU (not GDPR compliant), what it does is basically a script ingestion, which FreshRSS blocks by default for basic security reasons using CSP: https://developer.mozilla.org/docs/Web/HTTP/Headers/Content-Security-Policy

To allow foreign scripts, you need to reduce the security of the default CSP rules.

This can be done for instance by overriding them at

[2022-11-21 15:10] Alkarex commented on #4876
For Docker and docker-compose, see additional documentation: https://github.com/FreshRSS/FreshRSS/blob/edge/Docker/README.md

[2022-11-22 03:43] mrnoname1000 commented on #4869
Now it works as expected, even with the original selectors! I think most of my points above are now moot since only the content of entries should change.

[2022-11-22 07:15] #4869 closed, assigned to Alkarex

[2022-11-22 08:13] Alkarex commented on #4877
Please try #4882
Should be tested also with tags containing spaces (coded as `+`) such as `#Robotics+&+AI`

[2022-11-22 10:46] faridalizade opened #4883 "[Feature] Change Username"
Hello,

I want to change "X" username to "Y". Do you have any instruction for that?

The user is admin.

Thank you.

[2022-11-22 11:15] Alkarex commented on #4883
I do not believe we have a documentation for that at the moment.

An option is also to create a new user, export/import the data using [our command line](https://github.com/FreshRSS/FreshRSS/tree/edge/cli#readme) (see `./cli/export-sqlite-for-user.php`, which works for any database), copy the user preferences, and delete the old user.

Otherwise, that depends on the database you are using. The eas

[2022-11-22 21:33] Alkarex opened #4884 "Theme regression hover background favourites"
Background regression for themes *Flat design*, *Pafat*, when hovering over a favourite article:

![image](https://user-images.githubusercontent.com/1008324/203425444-bd637fe5-b819-4435-a20b-286470d66a5f.png)

[2022-11-22 21:38] Alkarex opened #4885 "Theme regression margin categories / user labels"
The margin between the user labels or between the feeds has become enormous for most themes such as *Swage*, *Screwdriver*, *Nord theme*, *Flat design*, *Dark pink*, etc.

![image](https://user-images.githubusercontent.com/1008324/203425848-63791e07-96ba-42d0-9a0d-558ec40046f9.png)

[2022-11-22 21:44] Alkarex commented on #4884
P.S. I like that the colour changes when hovering, but it should be the same colour on the whole line

[2022-11-22 22:18] t3dium opened #4887 "[Feature] A separate purge policy for read articles"
Currently the settings only has a purge policy for all articles, and an option to never purge unread articles.

Splitting that up into a purge policy for read/unread would be convenient, especially since I’d rather keep read articles for a shorter duration of time than unread.

[2022-11-23 21:22] #4884 closed, assigned to nobody

[2022-11-23 21:29] #4885 closed, assigned to nobody

[2022-11-23 21:41] #4877 closed, assigned to Alkarex

[2022-11-24 08:28] appletalk commented on #1551
This would be a great feature. I track many software updates in FreshRSS but various OEMs don't seem to provide RSS feeds for their software, however you can often find a json response endpoint.
I have some small custom scripts to build RSS feeds out of these but having this integrated would be even better.

Some example endpoints
**HPE Software API**
https://support.hpe.com/hpesc/public/api/softw

[2022-11-24 12:03] Frenzie commented on #1551
"JSON Feed" here means the same thing as RSS or Atom (except with JSON instead of XML). Random JSON is something completely different.

[2022-11-24 16:56] appletalk commented on #1551
Oh my apologies, I misunderstood the feature functionality

[2022-11-24 19:17] Frenzie commented on #1551
Implementing your request would make this one a breeze while the reverse may not necessarily apply, so I think it's a good thing to keep in mind for anyone interested. ;-)

On Nov 24 2022, at 5:56 pm, appletalk ***@***.***> wrote:

[2022-11-25 16:09] hippothomas opened #4895 "[BUG] Broken link in CONTRIBUTING.md"
**Describe the bug**

The link for "our coding style recommendations" in CONTRIBUTING.md is broken :

"If you have to write code, please follow [our coding style recommendations](https://freshrss.github.io/FreshRSS/en/developers/01_First_steps.html)."

It should be changed from
https://freshrss.github.io/FreshRSS/en/developers/01_First_steps.html
to
https://freshrss.github.io/FreshRSS/en/developer

[2022-11-25 17:16] Frenzie commented on #4895
Go ahead!

On Nov 25 2022, at 5:09 pm, Hippolyte Thomas ***@***.***> wrote:

[2022-11-25 18:44] hippothomas commented on #4895
Thanks @Frenzie

If I find a bug/issue that I can fix, is this better to open an issue first or just send a pull request with the fix ?

[2022-11-25 20:59] #4895 closed, assigned to nobody

[2022-11-25 21:14] Frenzie commented on #4895
That depends a bit, but generally speaking just describing the issue description in the PR should be fine, preferable even in my eyes.

[2022-11-27 22:41] struq opened #4901 "[BUG] Article summary: part of the next line after the cut off is visible"
**Describe the bug**
Previously in the list of articles, if summary is enabled, the first two lines of the article content is shown below the title of the article. But after updating to version 1.20.1, now a small part of the third line (seems to be about 1-2 pixels) is also visible below that. Screenshot is attached with the issue marked in red rectangles.

**To Reproduce**
Steps to reproduce the

[2022-11-28 10:51] S0ulf3re opened #4902 "FreshRSS Feeds running on MariaDB will not update automatically, even after setting a cron job"
I have setup FreshRSS on 2 different 512MB droplets to try and diagnose an issue where my feeds won't update unless I manually refresh them, and this issue has affected both of them. Most of my feeds have been imported straight from an OPML file and the "There are no feeds to refresh" error makes it even harder to update my feeds. The "Do not automatically refresh more often than" option is set to

[2022-11-28 16:41] TakenMC opened #4904 "[Feature] Add the ability to import youtube takeout files"
**Is your feature request related to a problem? Please describe.**
I have a couple of hundred channels on my subscription and it's annoying that I can't import it all into freshrss and view it nicer.

**Describe the solution you’d like**
Google has a feature called takeout which allows you to export any data including the subscriptions, it includes the necessary info like the URL and channel name

[2022-11-28 21:39] alex2702 commented on #4877
Wow, thanks for the quick reaction and the fix! Sorry, I just got around to testing this, but it looks great. :grinning:

[2022-11-28 22:29] Alkarex commented on #2754
Implemented in https://github.com/FreshRSS/FreshRSS/pull/4906
Tests welcome

[2022-11-28 22:35] Alkarex commented on #4877
Thanks for the feedback 👍🏻

[2022-11-29 00:42] ron159 opened #4907 "[Feature] Keyword filter"
**Is your feature request related to a problem? Please describe.**

Some feeds push ads or other unwanted content

**Describe the solution you’d like**

Support keyword filtering function to hide hit entries

[2022-11-29 13:06] #4902 closed, assigned to nobody

[2022-11-29 14:03] Alkarex commented on #4902
Did you find a solution to your problem?

[2022-11-29 14:27] #2754 closed

[2022-11-29 16:03] hrehfeld commented on #2818
Another +1 bump :-)

[2022-11-29 18:25] cskwrd commented on #4907
I was looking for similar functionality. I think it is already there. The [filter docs](https://freshrss.github.io/FreshRSS/en/users/03_Main_view.html#filtering-articles) seem to support several different scopes. I was able to apply these to individual feeds. I haven't found a way to automatically delete content, but you can use them to automatically mark messages as read. I hide read messages by

[2022-11-29 18:40] Alkarex commented on #4089
Because as far as I know, there is no native multiplatform support in Docker Hub at the moment, and the QEMU-based workaround we have for arm32v7 is quite heavy.

* https://github.com/docker/hub-feedback/issues/1874
* https://github.com/docker/roadmap/issues/109#issuecomment-1195366445

If anyone becomes aware of a better method than what we are using at the moment, let us know.

* https://github.

[2022-11-29 21:18] cskwrd opened #4908 "[BUG] Some feeds contain articles that are not properly sorted"
**Describe the bug**
I have a feed that isn't sorting articles correctly as far as I can tell.

**To Reproduce**
Steps to reproduce the behavior:
1. Add problematic feed: https://www.linuxserver.io/blog.rss
2. Get articles.
3. View articles for feed.
4. Observe most recent article is sorted last if sorting by newest articles first, or sorted first if articles are sorted oldest first.

**Expected b

[2022-11-29 21:55] Alkarex commented on #4908
Hello,
I cannot reproduce the problem. The feeds does have some dates `<pubDate>Sat, 01 Oct 2022 11:01:50 +0100</pubDate>`, which all look correct in my FreshRSS:

![image](https://user-images.githubusercontent.com/1008324/204656621-3939fde1-1e98-4b77-af00-b4ef3babc2a0.png)

Maybe a temporary feed bug. Could you try to delete it and add it again?
If there is still a problem, what Docker image are

[2022-11-29 22:20] cskwrd commented on #4908
@Alkarex, delete the whole feed or just the articles?

I am using the container at: `lscr.io/linuxserver/freshrss:latest`

[2022-11-29 22:31] Alkarex commented on #4908
I meant deleting the whole feed.
Alternatively, to be sure there is no cache problem, you can try with a modification in the URL such as https://www.linuxserver.io/blog.rss?v2

[2022-11-30 00:21] cskwrd commented on #4908
Deleting the feed and recreating it appears to resolve the issue.

Thank you!

[2022-11-30 00:21] #4908 closed, assigned to nobody

[2022-11-30 14:30] ron159 commented on #4907
Please tell me how to automatically mark the article as read. I can't find it. Thank you.

[2022-11-30 15:54] cskwrd commented on #4907
1. Click the cog next to the feed you wish to apply the filter to.
2.  Click _Manage_.
3. Scroll to _Filter actions_.
4. Configure as needed.
5. Click _Submit_.